.flex{display: flex;}
.disabled {
    pointer-events: none;
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}
.phone-body{width: 375px;height: auto;min-height: 100%;transform: scale(0.8);-webkit-transform-origin: top;}
.phone-title{position: absolute;z-index: 100;font-style: normal;
    font-weight: 600;font-size: 18px;line-height: 25px;display: -webkit-box;display: -ms-flexbox;
    display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;text-align: center;
    color: #212121;left: 50%;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);bottom: 8px;}
.phone-main{min-height: 610px;background-color:#f7f7f7;}
.form-items li{border: 1px solid #f3f3f3;padding: 20px;margin: 5px 0px;}
