
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-top: 2px;
}


.btn-primary {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: inherit;
    border: 1px solid #d2d2d2;
	background: white;
}

.btn-primary:active,
.btn-primary.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
	background: white;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    color:#ccc;
    background: #fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination li > a:focus,.pagination li > a:hover {

    color: #1ab394;

}
.label { font-size:11px;}
ul,li {padding:0;margin:0; list-style: none}
.page-content {
	float:left; padding:0; width:840px; display:none;
}

.page-content { padding-bottom:50px;}
select.input-sm { line-height:18px; padding-top:0; padding-bottom: 0}
.page-toolbar { height:35px;}
.page-toolbar select
{ float:left; }

.select2-container { float:left;}

table  tr td {
    position: relative;
    white-space: nowrap;
}

/*微信消息*/
.tips {
    position: absolute;
    padding: 0 2px;
    width: 22px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: #54c952;
    color: #fff;
    font-size: 12px;
    top: 20px;
    left: 40px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*微信消息*/
/*.tip {*/
    /*position: absolute;*/
    /*padding: 0 2px;*/
    /*width: 22px;*/
    /*height: 15px;*/
    /*line-height: 15px;*/
    /*text-align: center;*/
    /*-webkit-border-radius: 7px;*/
    /*border-radius: 7px;*/
    /*background: #54c952;*/
    /*color: #fff;*/
    /*font-size: 12px;*/
    /*top: 20px;*/
    /*left: 40px;*/
    /*display: block;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/
.table-responsive .label { display:inline-block;margin:0;margin-bottom:2px;}
.tab-pane { margin-top:20px;}

.table-responsive.panel-body{overflow:auto;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align:middle;}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.table>thead>tr>th{border-top:none;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{border-top:none;}

.table>thead>tr>td.full,
.table>tbody>tr>td.full,
.table>tfoot>tr>td.full { word-break: break-all; overflow: auto; white-space:normal; }
.pagination { margin:0;}
.pagination { margin:0;}
.must::before {
	content:"*";
	position:absolute;
	right:0px;
	top:10px;
	color:#f30;
	font-size:12px
}
.msgbox {
	position:fixed;
	margin:auto;
	height:32px;
	line-height:32px;
	top:-32px; width:100%;
	text-align:center;
	z-index:111111111;
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	opacity:0;
}
.msgbox.in {
    top:0;
    opacity: 1;
}
.msgbox .msg {
	display:inline-block;
	white-space:nowrap;
	height:32px;
	line-height:32px; color:#fff; font-size:14px;
	min-width: 350px;
}

.step-region {
	position:relative;
	border:1px solid #f2f2f2;
	margin-bottom: 10px;

}
.ui-step {
	padding:14px 0 8px 0;
	zoom:1
}
.ui-step:after {
	content:"";
	display:table;
	clear:both
}
.ui-step li {
	float:left;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center
}
.ui-step li::before,.ui-step li::after {
	position:absolute;
	left:0;
	top:36px;
	display:block;
	content:' ';
	width:50%;
	height:4px;
	background:#999;
	z-index:1
}
.ui-step li::after {
	left:50%
}
.ui-step li:first-child::before {
	width:0
}
.ui-step li:last-child::after {
	width:0
}
.ui-step .ui-step-title {
	color:#999;
	font-size:12px;
	font-weight:bold;
	line-height:18px
}
.ui-step .ui-step-number {
	position:relative;
	display:inline-block;
	width:20px;
	height:20px;
	margin:10px 0;
	line-height:22px;
	background:#999;
	color:#fff;
	border-radius:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	z-index:2
}
.ui-step .ui-step-meta {
	color:#ccc
}
.ui-step li.ui-step-done::before,
.ui-step li.ui-step-done::after,
.ui-step li.ui-step-done .ui-step-number {
	background:#1ab394
}
.ui-step li.ui-step-done .ui-step-number {
	color:transparent
}
.ui-step li.ui-step-done .ui-step-number::after {
	position:absolute;
	left:0;
	width:17px;
	height:20px;
	line-height:22px;
	content:'√';
	color:#fff;
	font-family:serif
}
.ui-step li.ui-step-done .ui-step-title {
	color:#1ab394
}
.ui-step-4 li {
	width:24.9999%
}
.panel { border:1px solid #f2f2f2;}
.table  { table-layout: fixed}



.text-default,.text-default a,.text-default:active,.text-default:hover { color:#999}
.text-danger a,.text-danger:active,.text-danger:hover { color:red}
input[type=text] { padding:0px 5px;  }

.form-group-title { padding:0px 0 10px 20px; border-bottom:1px dotted #ccc;margin-bottom:10px;font-size:14px;}

.multi-img-details, .multi-audio-details {margin-top:.5em;max-width: 700px; padding:0; }

.multi-img-details .multi-item{max-height: 100px; max-width: 100px;  position:relative; float: left; margin-right: 18px; }
.multi-img-details .multi-item img{width: 100px; }
.multi-img-details .multi-item em{position:absolute; top: 0; right: -14px;}


.multi-img-details  .img-nickname
{ position: absolute;bottom:0px;line-height:25px;height:25px;color:#fff;text-align:center;width:90px; left:5px; bottom:5px;background:rgba(0,0,0,0.8);}


.multi-audio-details .multi-audio-item {width:155px; height: 40px; position:relative; float: left; margin-right: 5px;}
.js-switch { display:none; }

.footer {
    margin: 0;
    margin-top: 50px;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
    height: auto;
    padding: 10px 0;
    background: none !important;
    color: inherit !important;
}

.order-container { position:relative;
	overflow:hidden;border:1px solid #f2f2f2;margin: 0px;
}
.order-container-left {
	float:left;width:300px;
}
.order-container-right {border-left:1px solid #f2f2f2;
	float:left;width:500px;position:relative;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #44abf7 !important;
}
/*订单流程*/
.step-region {
    position: relative;
    margin-bottom: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #44abf7;
}
/*订单流程*/
.step-region {
    position: relative;
    margin-bottom: 10px;
}


/*功能条*/
.funbar {
	height: 100%;
	width: 84px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: -120px;
	background: #f4f4f4;
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.funbar.active {
	left: 0;
}

.funbar.edit {
	width: 150px;
}

.funbar:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	content: "";
	border-right: 1px solid #1ab394;
	z-index: 10;
}

.funbar .search {
	padding: 5px;
}

.funbar .search .input {
	width: 100%;
	height: 30px;
	outline: none;
}

.funbar.style2 {
	height: 500px;
	left: auto;
	right: 50%;
	top:50%;
	margin-top: -250px;
	margin-right: -630px;
	position: absolute;
}
.funbar.style2.edit {
	width: 130px;
	margin-right: -680px;
}

.funbar.style2:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	content: "";
	border-left: 1px solid #1ab394;
	z-index: 10;
}

.funbar.style2 .search .input {
	height: 26px;
	line-height: 26px;
}
@keyframes bounce-down {
    from {
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(1px);
    }
    100%{
        transform: translateY(2px);
    }
}
/*6Z2S5bKb5piT6IGU5LqS5Yqo572R57uc56eR5oqA5pyJ6ZmQ5YWs5Y+454mI5p2D5omA5pyJ*/
