@font-face {
	font-family: 'eaterplanet';  /* project id 2107978 */
	src: url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.eot');
	src: url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.woff2') format('woff2'),
	url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.woff') format('woff'),
	url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_2107978_b3r9eavgg1c.svg#eaterplanet') format('svg');
}
.layui-show {
	display: block!important;
}
.layadmin-iframe{position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0;}
.ibox-title .eaterplaneticon, .wb-nav .eaterplaneticon {
    margin-right: 10px;
}
.logo111-wrapper{

}

.tabs-container .layui-form-item {overflow: hidden;}
.tabs-container .tabs-left > .nav-tabs {}
.tab-goods .nav li {float:left;}
.spec_item_thumb {position: relative;width: 38px;height: 38px;padding: 2px;border-left: none;}
.spec_item_thumb i {position: absolute; top: -5px; right: -5px;}
.input-group .spec_item_thumb{padding:0px;}

.multi-img-details, .multi-audio-details {margin-top:.5em; }
.multi-audio-details .multi-audio-item {width:155px; height: 40px; position:relative; float: left; margin-right: 5px;}
.region-goods-details {
	background: #f8f8f8;
	margin-bottom: 10px;
	padding: 0 10px;
}
.region-goods-left{
	text-align: center;
	font-weight: bold;
	color: #333;
	font-size: 14px;
	padding: 20px 0;
}
.region-goods-right{
	border-left: 3px solid #fff;
	padding: 10px 10px;
}
.input-group .input-group-btn .btn:hover{background-color:#5bc0de}
.layui-form-select{display:none;}
.daterangepicker select.ampmselect, .daterangepicker select.hourselect, .daterangepicker select.minuteselect {
	width: auto!important;
}
.input-group .input-group-addon{}
.fa-arrows{display:none;}
.spec_item_thumb img{min-height:37px;}
.ep{
	font-family: "eaterplanet" !important;
	font-size: 42px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 100%;
}
.eaterplaneticon{
    font-family: "eaterplaneticon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	line-height: 100%;
}
.ep-logo:before {
	content: "\e604";
}
.eaterplaneticon-setup:before{
	content: "\e64d";
}
.eaterplaneticon-perm:before{
	content: "\ea9f";
}
.eaterplaneticon-attachment:before{
	content: "\e618";
}
.eaterplaneticon-goods:before{
	content: "\e678";
}
.eaterplaneticon-discovery:before{
	content: "\e602";
}
.eaterplaneticon-application:before{
	content: "\e60c";
}
.eaterplaneticon-application2:before{
	content: "\e6d7";
}

.eaterplaneticon-communityhead:before{
	content: "\e66d";
}

.eaterplaneticon-supply:before{
	content: "\e611";

}

.eaterplaneticon-delivery:before{
	content: "\ece8";
}
.eaterplaneticon-delivery2:before{
	content: "\e60d";
}

.eaterplaneticon-reports:before{
	content: "\e654";
}




.eaterplaneticon-pin:before{
	content: "\e76e";
}
.eaterplaneticon-index:before{
	content: "\e61a";
}
.eaterplaneticon-distribution:before{
	content: "\e639";
}
.eaterplaneticon-order:before{
	content: "\e61d";
}
.eaterplaneticon-user:before{
	content: "\e63f";
}

.eaterplaneticon-marketing:before{
	content: "\e634";
}
.eaterplaneticon-store:before{
	content: "\e7bf";
}






.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e620"; }

.icon-shang:before { content: "\e63c"; }

.icon-xia:before { content: "\e63d"; }

.icon-zuo:before { content: "\e63e"; }

.icon-tongzhi:before { content: "\e667"; }

.icon-icon_add:before { content: "\e68a"; }

.icon-icon_calendar:before { content: "\e68b"; }

.icon-icon_cart:before { content: "\e68c"; }

.icon-icon_barcode:before { content: "\e68d"; }

.icon-icon_alarm:before { content: "\e68e"; }

.icon-icon_clear:before { content: "\e68f"; }

.icon-icon_card:before { content: "\e690"; }

.icon-icon_discount:before { content: "\e691"; }

.icon-icon_chart:before { content: "\e692"; }

.icon-icon_dashboard:before { content: "\e693"; }

.icon-icon_hamburger:before { content: "\e694"; }

.icon-icon_package:before { content: "\e695"; }

.icon-icon_okay:before { content: "\e696"; }

.icon-icon_infor:before { content: "\e697"; }

.icon-icon_poweroff:before { content: "\e698"; }

.icon-icon_message:before { content: "\e699"; }

.icon-icon_question:before { content: "\e69a"; }

.icon-icon_refund:before { content: "\e69b"; }

.icon-icon_retail:before { content: "\e69c"; }

.icon-icon_return:before { content: "\e69d"; }

.icon-icon_search:before { content: "\e69e"; }

.icon-icon_setting:before { content: "\e69f"; }

.icon-icon_store:before { content: "\e6a0"; }

.icon-icon_trash:before { content: "\e6a1"; }

.icon-icon_warning:before { content: "\e6a2"; }

.icon-icon_user:before { content: "\e6a3"; }

.icon-icon_wepay:before { content: "\e6a4"; }

.icon-p:before { content: "\e6a5"; }

.icon-p1:before { content: "\e6a6"; }

.icon-p2:before { content: "\e6a7"; }

.icon-p3:before { content: "\e6a8"; }

.icon-p4:before { content: "\e6a9"; }

.icon-p5:before { content: "\e6aa"; }

.icon-p6:before { content: "\e6ab"; }

.icon-p7:before { content: "\e6ac"; }

.icon-p8:before { content: "\e6ad"; }

.icon-p9:before { content: "\e6ae"; }

.icon-mini:before { content: "\e6af"; }

.icon-_medal:before { content: "\e6ce"; }

.icon-_truck:before { content: "\e702"; }

.icon-icon_moneybag:before { content: "\e711"; }

.icon--coin-yen:before { content: "\e723"; }

.icon--users:before { content: "\e756"; }

.icon--stats-bars1:before { content: "\e782"; }

.icon--truck:before { content: "\e795"; }

.icon--clipboard:before { content: "\e79d"; }

.icon--tree:before { content: "\e7a0"; }

.line-text{color: #009688;}
.layui-form-label{width: 160px;}
.layui-input-block{margin-left:190px;}
.layui-colorpicker {
    width: 38px;
    height: 38px;
}
.layui-fluid {
    padding: 15px;
}


.layui-input{

	height:34px!important;
}




.layadmin-maillist-img{background-color: rgba(41, 49, 69, 0.55);color:#fff;width:100px;position:absolute;bottom:40px;
text-align:center;height:20px;overflow:hidden;}
.choose_user img{
	width:100px;height:100px;padding:2px;background-color: #fff;border: 1px solid #ddd;
    left: 0px;
}
.list-div{ width:100%;}
	.list-div table{ width:100%;}
	.table_layout{ table-layout:fixed;}
	.list-div.listMin{ width:100%;}
	.list-div.listMin .flexigrid{ width:100%; overflow:auto; position:relative; height:auto; z-index:2; padding-bottom:7px;}
	.list-div.listMin table{ min-width:1639px;}
	.list-div th{  }
	.list-div th a{ color:#333;}
	.list-div td{ line-height:20px; height:38px; word-break: keep-all; }
	.list-div .tr_bg_org td{ background:#fffccb;}
	.list-div .tr_bg_blue td{ background:#f5faff;}
	.list-div th .tDiv a{ }
	.list-div .tDiv{ padding:0 0 0 20px;}
	.list-div th .tDiv{ min-width:60px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
	.list-div td .tDiv{ padding:10px 0 10px 20px;}
	.list-div .sign .tDiv{ min-width:30px;text-align:center; padding-left:0;}
	.list-div .sign input[type='checkbox']{ display:none;}

	.list-div .handle{ text-align:center;}
	.list-div .handle .tDiv{ min-height:22px; line-height:22px; font-size:0; padding:5px 14px;}
	.list-div .handle .tDiv.a1,.handle .tDiv.a1{ min-width:70px;}
	.list-div .handle .tDiv.a2{ min-width:138px;}
	.list-div .handle .tDiv.a3{ min-width:192px;}
	.list-div .handle .tDiv.a3_3{ min-width:232px;}
	.list-div .handle .tDiv.a4{ min-width:340px;}
	.list-div .handle .tDiv.a5{ min-width:380px;}
	.list-div .handle .tDiv.a6{ min-width:445px;}
	.list-div .handle .tDiv a,.btn_trash{ padding:2px 4px; border-radius:3px;  margin-right:10px; font-size:12px; height:16px; line-height:16px; display:inline-block;}
	.list-div .handle .tDiv a:last-child{ margin-right:0;}
	.list-div .handle_tr .tDiv a{ margin-left:10px; margin-right:0;}
	.list-div .handle .xn_tdiv{ width:220px; height:auto; text-align:center; padding-left:20px; margin:0 auto;}
	.list-div .handle i,.btn_trash i{ font-size:14px; margin:-2px 4px 0 4px; vertical-align:middle; width:14px;}
	.list-div .handle i.icon-cog{ margin-top:-3px;}
	.list-div .handle i.icon-trash,.list-div .handle i.sc_icon_see,.btn_trash i.icon-trash{ margin-top:-3px;}
	.list-div .handle i.sc_icon_see{ width:14px; height:12px; display:inline-block; background-position:-195px -484px;}
	.list-div .handle i.sc_icon_inst{ width:14px; height:12px; display:inline-block; background-position:-195px -526px;}
	.list-div .handle i.icon-map-marker{ margin-top:-3px;}
	.list-div .handle a.btn_edit:hover { color:#31b4e1; border-color:#31b4e1;}
	.list-div .handle a.btn_trash:hover,a.btn_trash:hover{ color:#ec5151; border-color:#ec5151;}
	.list-div .handle a.btn_region:hover{ color:#fb7e40; border-color:#fb7e40;}
	.list-div .handle a.btn_see:hover{ color:#29c25f; border-color:#29c25f;}
	.list-div .handle a.btn_see:hover i.sc_icon_see{ background-position:-195px -502px;}
	.list-div .handle a.btn_inst:hover,.list-div .handle a.btn_inst.hover{ color:#29c25f; border-color:#29c25f;}
	.list-div .handle a.btn_inst:hover i.sc_icon_inst{ background-position:-195px -546px;}
	.list-div tbody td .tDiv .text{ height:23px; line-height:23px; background-position:128px 5px;}
	.list-div tbody td .tDiv .text:focus{ background-position:128px 5px;}
	.list-div .handle i.icon-screenshot,.list-div .handle i.icon-envelope{ margin-top:-3px;}

	.list-div .batch_handle{ font-size:16px;}
	.list-div .batch_handle_list{ float:left; line-height:25px; margin-right:30px;}
	.list-div .batch_handle_list .batch_handle{float:left;}
	.line-right{ width:1px; height:16px; background:#a9a9a9; float:left; margin:5px 10px 0;}

	.list-div .batch_handle_btn{ display:inline-block;}
	.list-div .batch_handle_btn a{ float:left; margin-right:10px;}
	.list-div .batch_handle_btn .btn:hover{ background:#31b4e1; color:#fff;}
	.list-div tfoot td{  }
	.list-div .no-records{ text-align:center; height:200px;}

	.list-div td.light_blue{ padding-left:20px;}

	.list-div .tr_thead td{}
	.list-div .tr_thead_first{ border-bottom:0;}
	.list-div .tr_thead_con{  }
	.list-div .sign_bdl{ }
	.list-div .tr_thead_con .order_sku .item{ padding-left:20px;}

	.list-tb-div a{ color: #009688; }
	.list-tb-div a:hover{ color: #009688; }
	.list-tb-div table{ margin-bottom: 5px;}
	.list-tb-div table:hover {  }
	.list-tb-div thead{  }
	.list-tb-div th{ border-top: 0 none; border-bottom: 0 none;  }
	.list-tb-div th .tDiv{ padding: 0; text-align: center; }
	.list-tb-div th.sign .tDiv{ text-align: left; padding-left: 10px; }
	.list-tb-div td{ }
	.list-tb-div td .tDiv {padding: 10px; text-align: center; word-break: break-all;}
	.list-tb-div .tr_bg_blue td{  }
	.list-tb-div .tr-order-sn td{  }
	.list-tb-div .tr-order-sn .tDiv{ text-align: left; padding: 0;}
	.list-tb-div .tr-order-sn .sign{ vertical-align: middle; padding-left:10px;}
	.list-tb-div .tr-order-sn .words{ margin-right: 15px; }
	.list-tb-div .tr_bg_org td,
	.list-tb-div .tr_bg_org + tr td{  }
	/*.list-tb-div .td-product{ border-right: 0 none; }
	.list-tb-div .td-price{ border-left: 0 none; border-right: 0 none;}
	.list-tb-div .td-number{ border-left: 0 none; }*/
	.list-tb-div .td-product .img{ float: left; width: 80px; height: 80px; }
	.list-tb-div .td-product .product-info{  text-align: center; margin-top:20px;}
	.list-tb-div .td-product .product-info .name a{ color: #333; max-height: 36px; overflow: hidden; display:block;}
	.list-tb-div .td-product .product-info .name a:hover{ }
	.list-tb-div .td-product .product-info .attr{ color: #9e9e9e;}
	.list-tb-div .td-product .product-info .attr span{ margin-right: 5px; }
	.list-tb-div .order-price,
	.list-tb-div .order-price em{font-family: verdana; font-weight: 700; color: #3C3C3C;}
	.list-tb-div .price-shipping{ margin: 2px 0; }
	.list-tb-div .price-tag span{ display: inline-block; box-sizing: border-box; height: 16px; line-height: 14px; font-family: 'å®‹ä½“', sans-serif; font-size: 12px; border: 1px solid #5CB8E7; color: #fff; padding: 0 2px; background: #98D3F0; text-shadow: 0 1px 1px #429ac5; border-radius: 2px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ade0f6+0,5aa3cf+100 */

	background: -moz-linear-gradient(top, rgba(173,224,246,1) 0%, rgba(90,163,207,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(173,224,246,1) 0%,rgba(90,163,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(173,224,246,1) 0%,rgba(90,163,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade0f6', endColorstr='#5aa3cf',GradientType=0 ); /* IE6-9 */}
	.list-tb-div .btn-wrap{ display: block; margin-top: 5px; }
	.list-tb-div .btn-tb{ display: inline-block; height: 28px; line-height: 28px; border-radius: 3px; font-weight: 700; text-align: center; padding: 0 12px; font-size: 12px; cursor: pointer; box-sizing:border-box; }
	.list-tb-div .btn-tb-blue{color: #fff; background: #66B6FF; }
	.list-tb-div .btn-tb-blue:hover{ background: #5caef9; }
	.list-tb-div .btn-tb-default{ background-color: #fff; border: 1px solid #dcdcdc; color: #3c3c3c; }
	.list-tb-div .btn-tb-default:hover{ border-color: #ff1d00; color: #ff1d00;}

	.tpinfo{ min-height: 100px; border-bottom: 1px solid #ececec; }
	.tpinfo.last{ border-bottom: 0 none; }
	.td-product img{border: 1px solid #efefef;
    padding: 1px;}
	.layui-tab-title li a{font-size:12.5px;}
	.list-tb-div a.btn{color:#fff;}
.order-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #efefef;
    margin: 0px;
}
.order-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.order-container-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.order-container ul {
    margin-bottom: 20px;
}
.order-container ul li {
    line-height: 26px;
}
.layui-col-sm {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 120px;
}
.text-default {
    color: #000 !important;
}
.order-container-static {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 50px 20px;
}
.order-container .status {
    height: 70px;
    line-height: 22px;
}
.font18 {
    font-size: 20px;
    font-weight: bold;
}
.order-container .ops {
    height: 40px;
    line-height: 20px;
    margin-bottom: 15px;
}
.order-container .ops a {
    margin-right: 20px;
}
.text-primary{color:#009688;}
.text-warning{color:#000;}
.layui-table {
    table-layout: fixed;
    position: relative;
    color: #666;
}
.layui-table tr {
    height: 24px;
}
.layui-table .trorder, .layui-table .trfooter {
    border: 1px solid #efefef;
}
.layui-table > caption + thead > tr:first-child > td, .layui-table > caption + thead > tr:first-child > th, .layui-table > colgroup + thead > tr:first-child > td,
 .layui-table> colgroup + thead > tr:first-child > th, .layui-table > thead:first-child > tr:first-child > td, .layui-table > thead:first-child > tr:first-child > th {
    border: none;
    font-weight: normal;
    color: #999;
    border-top: 1px solid #efefef;
}
.layui-table tfoot {
    border-bottom: 1px solid #efefef;
}
.layui-table .trorder td:nth-of-type(1) {
    border: none;
}
.layui-table tfoot .price {
    float: right;
}
.layui-table .trorder td:nth-of-type(1) {
    border: none;
}
.layui-table .trorder td {
	border:none;
    border-right: 1px solid #efefef;
}
.image .img-container .item .name,.uploader-modal.image .img-container .item .name,.module .col-sm-2 .item .name,.uploader-modal.module .col-sm-2 .item .name,.video .col-sm-3 .item .name,.voice .col-sm-3 .item .name,.uploader-modal.video .col-sm-3 .item .name,.uploader-modal.voice .col-sm-3 .item .name {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap
}
 .btn,.uploader-modal .btn {
	min-width:unset
}

 .modal-header .modal-title,.uploader-modal .modal-header .modal-title {
	font-size:16px
}

 .modal-footer .count,.uploader-modal .modal-footer .count {
	display:inline-block;
	height:34px;
	line-height:34px
}


/** .modal-body .nav.nav-pills,.uploader-modal .modal-body .nav.nav-pills {
	float:left;
	width:150px;
	border-right:1px solid #e8e9eb;
	padding-bottom:999px;
	margin-bottom:-999px
}
 .modal-body .nav.nav-pills li,.uploader-modal .modal-body .nav.nav-pills li {
	height:34px;
	line-height:34px;
	margin:0;
	padding-left:15px
}
 .modal-body .nav.nav-pills li a,.uploader-modal .modal-body .nav.nav-pills li a {
	color:#252424
}
 .modal-body .nav.nav-pills li.active, .modal-body .nav.nav-pills .head .navbar-left>li:hover,.head  .modal-body .nav.nav-pills .navbar-left>li:hover, .modal-body .nav.nav-pills li:hover,.uploader-modal .modal-body .nav.nav-pills li.active,.uploader-modal .modal-body .nav.nav-pills .head .navbar-left>li:hover,.head .uploader-modal .modal-body .nav.nav-pills .navbar-left>li:hover,.uploader-modal .modal-body .nav.nav-pills li:hover {
	background-color:#f4f5f9
}

 .modal-body .col-sm-2, .modal-body .col-sm-3, .modal-body .col-sm-4,.uploader-modal .modal-body .col-sm-2,.uploader-modal .modal-body .col-sm-3,.uploader-modal .modal-body .col-sm-4 {
	padding:10px;
	overflow:hidden;
	box-sizing:border-box;
	cursor:pointer
}**/
 .tab-content,.uploader-modal .tab-content {
	width:100%;
	height:100%;
	float:left
}
.news .tab-content,.uploader-modal.news .tab-content {
	height:370px;
	overflow:hidden
}
.news .material-appmsg-item,.uploader-modal.news .material-appmsg-item {
	width:100%
}
.news #material-list-pager,.uploader-modal.news #material-list-pager {
	float:right;
	height:64px;
	padding-bottom:15px;
	padding-right:15px
}
.basic .modal-body,.uploader-modal.basic .modal-body {
	padding:0!important
}
.basic .modal-body .material-body,.uploader-modal.basic .modal-body .material-body {
	height:auto;
	border-bottom:1px solid #e8e9eb;
	padding:30px
}
.basic .modal-body .material-body .input-emoji,.uploader-modal.basic .modal-body .material-body .input-emoji {
	border:1px solid #e8e9eb;
	margin-top:-1px;
	padding:6px 14px
}
.basic .modal-body .tab-content,.uploader-modal.basic .modal-body .tab-content {
	width:100%;
	float:none;
	margin-top:1px
}
.basic .modal-body .tab-content textarea,.uploader-modal.basic .modal-body .tab-content textarea {
	width:100%
}
.music .modal-body,.uploader-modal.music .modal-body {
	padding:30px
}
.voice .tab-content,.video .tab-content,.image .tab-content,.module .tab-content,.uploader-modal.voice .tab-content,.uploader-modal.video .tab-content,.uploader-modal.image .tab-content,.uploader-modal.module .tab-content {
	width:100%;
	padding:15px;
	float:none
}
.voice #material-list-pager,.video #material-list-pager,.image #material-list-pager,.module #material-list-pager,.uploader-modal.voice #material-list-pager,.uploader-modal.video #material-list-pager,.uploader-modal.image #material-list-pager,.uploader-modal.module #material-list-pager {
	float:right;
	height:64px;
	padding-bottom:15px;
	padding-right:15px
}
.image .material-body,.uploader-modal.image .material-body {
	padding:0;
	position:relative;
	overflow-y:hidden
}
.image .tab-content,.uploader-modal.image .tab-content {
	height:344px;
	padding:15px 7px
}
.image .tab-content .history .img-list,.uploader-modal.image .tab-content .history .img-list {
	margin:0
}
.image .category,.uploader-modal.image .category {
	width:210px;
	height:344px;
	overflow-y:auto;
	border-right:1px solid #7d7e7f;

	float:left
}
.image .category .add,.uploader-modal.image .category .add {
	line-height:44px;
	text-align:center;

	border-bottom:1px solid #e8e9eb
}
.image .category li,.uploader-modal.image .category li {
	line-height:44px;
	background:0 0
}
.image .category li:hover .name .setting,.uploader-modal.image .category li:hover .name .setting {
	display:block
}
.image .category li .wi-file,.uploader-modal.image .category li .wi-file {
	color:#edce86;
	margin-right:10px
}
.image .category li.active,.image .category .head .navbar-left>li:hover,.head .image .category .navbar-left>li:hover,.image .category li:hover,.uploader-modal.image .category li.active,.uploader-modal.image .category .head .navbar-left>li:hover,.head .uploader-modal.image .category .navbar-left>li:hover,.uploader-modal.image .category li:hover {
	background: #60a8f5;

}
.image .category li .name,.uploader-modal.image .category li .name {
	width:100%;
	padding:0 30px 0 20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	position:relative;
	cursor:pointer
}
.image .category li .name .setting,.uploader-modal.image .category li .name .setting {
	position:absolute;
	right:2px;
	top:0;
	cursor:pointer;
	color:#3296fa;
	display:none
}
.image .category li input,.uploader-modal.image .category li input {
	display:inline-block;
	width:90px
}
.image .category li .edit,.uploader-modal.image .category li .edit {
	padding:0 20px;
	border-top:1px solid #f5f5f5;
	display:none
}
.image .category li .edit.show,.uploader-modal.image .category li .edit.show {
	display:block
}
.image .category li .edit a,.uploader-modal.image .category li .edit a {
	display:inline-block;
	margin:0 5px
}
.image .category li .edit a .wi,.image .category li .edit a .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list .image .category li .edit a .ext-apply-item.apply-show:before,.image .category li .edit a .cut-list .item.apply-show:before,.cut-list .image .category li .edit a .item.apply-show:before,.uploader-modal.image .category li .edit a .wi,.uploader-modal.image .category li .edit a .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list .uploader-modal.image .category li .edit a .ext-apply-item.apply-show:before,.uploader-modal.image .category li .edit a .cut-list .item.apply-show:before,.cut-list .uploader-modal.image .category li .edit a .item.apply-show:before {
	font-size:14px
}
.image .img-container,.uploader-modal.image .img-container {
	padding:10px 10px 41px;
	flex-wrap:wrap;
	margin-left:171px;
	max-height:460px;
	overflow-y:auto
}
.image .img-container .item,.uploader-modal.image .img-container .item {
	flex:none;
	position:relative;
	width:calc(20% - 20px);
	margin:10px;
	text-align:center;
	vertical-align:middle;
	background-color:#eee;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50% 50%
}
.image .img-container .item:before,.uploader-modal.image .img-container .item:before {
	content:"";
	display:inline-block;
	padding-bottom:100%;
	width:.1px;
	vertical-align:middle
}
.image .img-container .item .name,.uploader-modal.image .img-container .item .name {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	line-height:34px;
	background:rgba(0,0,0,.5);
	color:#fff;
	padding:0 20px;
	text-align:left;
	z-index:2
}
.image .img-net,.uploader-modal.image .img-net {
	font-size:18px;
	height:437px
}
.image .img-net .img,.uploader-modal.image .img-net .img {
	width:auto;
	height:200px;
	margin:50px 0 20px 0
}
.image .img-net input,.uploader-modal.image .img-net input {
	width:500px;
	margin:10px auto
}
.image .img-net .btn,.uploader-modal.image .img-net .btn {
	width:120px;
	margin:10px 0;
	min-width:unset
}
.image .selected-all,.uploader-modal.image .selected-all {
	float:left;
}
.keyword .tab-content,.uploader-modal.keyword .tab-content {
	width:100%;
	height:310px;
	padding:15px;
	float:none
}
.keyword .material-content,.uploader-modal.keyword .material-content {
	padding:0
}
.keyword .row,.uploader-modal.keyword .row {
	margin:-10px
}
.keyword .col-sm-2,.uploader-modal.keyword .col-sm-2 {
	padding:10px;
	overflow:hidden;
	box-sizing:border-box;
	cursor:pointer
}
.keyword .col-sm-2 a,.uploader-modal.keyword .col-sm-2 a {
	display:block;
	width:100%;
	height:75px;
	position:relative;
	cursor:pointer;
	border:1px solid #e8e9eb;
	text-align:center
}
.keyword .col-sm-2 a span,.uploader-modal.keyword .col-sm-2 a span {
	display:inline-block;
	width:94%;
	padding:0 3%;
	max-height:54px;
	line-height:18px;
	overflow:hidden;
	box-sizing:border-box;
	white-space:normal;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
.keyword .col-sm-2.active a,.keyword .head .navbar-left>li.col-sm-2:hover a,.head .keyword .navbar-left>li.col-sm-2:hover a,.keyword .col-sm-2:hover a,.uploader-modal.keyword .col-sm-2.active a,.uploader-modal.keyword .head .navbar-left>li.col-sm-2:hover a,.head .uploader-modal.keyword .navbar-left>li.col-sm-2:hover a,.uploader-modal.keyword .col-sm-2:hover a {
	background-color:#f4f6f9;
	color:#3296fa
}
.module .tab-content,.uploader-modal.module .tab-content {
	padding:15px 7px
}
.module .img-list,.uploader-modal.module .img-list {
	margin:0
}
.module .img-list img,.uploader-modal.module .img-list img {
	margin:17px 0 4px 0
}
.module .col-sm-2 .item,.uploader-modal.module .col-sm-2 .item {
	position:relative;
	width:100%;
	text-align:center;
	border:1px solid #e8e9eb
}
.module .col-sm-2 .item:before,.uploader-modal.module .col-sm-2 .item:before {
	content:"";
	display:inline-block;
	padding-bottom:100%;
	width:.1px;
	vertical-align:middle
}
.module .col-sm-2 .item .icon,.uploader-modal.module .col-sm-2 .item .icon {
	width:80px;
	height:80px;
	border-radius:10px;
	vertical-align:middle
}
.module .col-sm-2 .item .name,.uploader-modal.module .col-sm-2 .item .name {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	line-height:34px;
	background:rgba(0,0,0,.5);
	color:#fff;
	padding:0 20px;
	text-align:left;
	z-index:2
}
.video .col-sm-3 .item,.voice .col-sm-3 .item,.uploader-modal.video .col-sm-3 .item,.uploader-modal.voice .col-sm-3 .item {
	position:relative;
	width:100%;
	height:150px;
	text-align:center;
	border:1px solid #e8e9eb
}
.video .col-sm-3 .item .icon,.voice .col-sm-3 .item .icon,.uploader-modal.video .col-sm-3 .item .icon,.uploader-modal.voice .col-sm-3 .item .icon {
	width:60px;
	height:60px;
	margin-top:18px
}
.video .col-sm-3 .item .time,.voice .col-sm-3 .item .time,.uploader-modal.video .col-sm-3 .item .time,.uploader-modal.voice .col-sm-3 .item .time {
	color:#999;
	line-height:34px
}
.video .col-sm-3 .item .name,.voice .col-sm-3 .item .name,.uploader-modal.video .col-sm-3 .item .name,.uploader-modal.voice .col-sm-3 .item .name {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	line-height:34px;
	background:rgba(0,0,0,.5);
	color:#fff;
	padding:0 20px;
	text-align:left;
	z-index:2
}
 .modal-body.image, .modal-body.thumb {
	height:459px
}
 .modal-body #wx .tablepanel-top, .modal-body #local .tablepanel-top {
	padding:10px 15px;
	line-height:34px;
	border-bottom:1px solid #e8e9eb
}
 .modal-body #wx .tablepanel-top span, .modal-body #local .tablepanel-top span {
	color:#999;
	display:inline-block;
	margin-right:20px
}
 .modal-body #wx .tablepanel-con, .modal-body #local .tablepanel-con {
	padding:15px
}
 .modal-body #wx .tablepanel-con input[type=text].form-control, .modal-body #local .tablepanel-con input[type=text].form-control {
	border-radius:4px
}
 .modal-body #wx .tablepanel-con .empty, .modal-body #local .tablepanel-con .empty {
	height:330px;
	line-height:330px;
	text-align:center;
	font-size:18px
}
 .modal-body #wx .tablepanel-con .fa, .modal-body #local .tablepanel-con .fa {
	margin:0
}
 .modal-body #wx .tablepanel-con .item, .modal-body #local .tablepanel-con .item {
	float:left;
	border:1px solid #e8e9eb;
	width:120px;
	height:150px;
	margin:0 15px 15px 0
}
 .modal-body #wx .tablepanel-con .item .img, .modal-body #local .tablepanel-con .item .img {
	position:relative;
	overflow:hidden;
	width:100%;
	height:114px;
	text-align:center;
	background-color:#f4f5f9;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50% 50%;
	cursor:pointer
}
 .modal-body #wx .tablepanel-con .item .img .cover, .modal-body #local .tablepanel-con .item .img .cover {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	line-height:114px;
	background:rgba(0,0,0,.6);
	color:#fff
}
 .modal-body #wx .tablepanel-con .item .img .cover .wi, .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list  .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, .modal-body #wx .tablepanel-con .item .img .cover .cut-list .item.apply-show:before,.cut-list  .modal-body #wx .tablepanel-con .item .img .cover .item.apply-show:before, .modal-body #local .tablepanel-con .item .img .cover .wi, .modal-body #local .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list  .modal-body #local .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, .modal-body #local .tablepanel-con .item .img .cover .cut-list .item.apply-show:before,.cut-list  .modal-body #local .tablepanel-con .item .img .cover .item.apply-show:before {
	font-size:48px
}
 .modal-body #wx .tablepanel-con .item .img-title, .modal-body #local .tablepanel-con .item .img-title {
	text-align:center;
	width:100%;
	height:34px;
	line-height:34px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
 .modal-body #wx .tablepanel-con .item.selected .cover, .modal-body #wx .tablepanel-con .site-template .item.lock .cover,.site-template  .modal-body #wx .tablepanel-con .item.lock .cover, .modal-body #wx .tablepanel-con .system-template .item.lock .cover,.system-template  .modal-body #wx .tablepanel-con .item.lock .cover, .modal-body #local .tablepanel-con .item.selected .cover, .modal-body #local .tablepanel-con .site-template .item.lock .cover,.site-template  .modal-body #local .tablepanel-con .item.lock .cover, .modal-body #local .tablepanel-con .system-template .item.lock .cover,.system-template  .modal-body #local .tablepanel-con .item.lock .cover {
	display:block
}
 .modal-body #link {
	padding:30px
}
 .modal-body #link .item {
	border:1px solid #e8e9eb;
	width:120px;
	height:150px;
	margin-right:30px;
	float:left
}
 .modal-body #link .item .img {
	position:relative;
	overflow:hidden;
	width:100%;
	height:114px;
	text-align:center;
	background-color:#f4f5f9;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50% 50%
}
 .modal-body #link .item .img .cover {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	line-height:114px;
	background:rgba(0,0,0,.6);
	color:#fff
}
 .modal-body #link .item .img .cover .wi, .modal-body #link .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list  .modal-body #link .item .img .cover .ext-apply-item.apply-show:before, .modal-body #link .item .img .cover .cut-list .item.apply-show:before,.cut-list  .modal-body #link .item .img .cover .item.apply-show:before {
	font-size:48px
}
 .modal-body #link .item .img-title {
	text-align:center;
	width:100%;
	height:34px;
	line-height:34px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
 .modal-body #link .link {
	float:left;
	width:450px
}
 .modal-body #link .link .state {
	font-size:18px;
	color:#999;
	margin:15px 0
}
 .modal-body #link .link button {
	min-width:105px;
	margin:15px 0
}
.uploader-modal .tablepanel-top {
	padding:10px 15px;
	line-height:34px;
	border-bottom:1px solid #e8e9eb
}
.uploader-modal .tablepanel-top span {
	color:#999;
	display:inline-block;
	margin-right:20px
}
.uploader-modal .tablepanel-con {
	padding:15px 0
}
.uploader-modal .graphic-list {
	overflow-x:hidden;
	overflow-y:auto;
	height:310px
}
.material-content .material-head {
	padding:15px;
	clear:both;
	box-sizing:border-box
}
.material-content .material-head .wi-search {
	margin:0
}
.material-content .material-head .filter {
	width:450px
}
.material-content .material-head .filter .we7-select {
	width:180px;
	height:38px;
	display: block;

	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;

	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}
.material-content .material-head .filter .we7-select+.we7-select {
	margin-left:-1px
}
.material-content .material-search {
	padding:20px 20px 0
}
.material-content .material-search .input-group .form-control {
	height:36px
}
.material-content .material-nav {
	padding:0 15px
}
.material-content .material-nav a {
	display:inline-block;
	padding:0 30px;
	line-height:42px;
	font-size:16px;
	color:#999;
	border-bottom:3px solid transparent
}
.material-content .material-nav a:hover,.material-content .material-nav a.active {
	color:#3296fa;
	border-color:#3296fa
}
.material-content .material-body {
	padding: 0 15px;
	min-height:344px;
	max-height:1025px;
}

#video .material-content .material-body {
padding: 20px;
}
.we7-flex {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
}
.material-content .material-body .item {
	position:relative
}
.material-content .material-body .item:hover {
	outline:2px solid #3296fa
}
.material-content .material-body .item:hover .del {
	display:block
}
.material-content .material-body .item.active .mask,.material-content .material-body .head .navbar-left>li.item:hover .mask,.head .material-content .material-body .navbar-left>li.item:hover .mask {
	display:block
}
.material-content .material-body .mask {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:5;
	background-color:rgba(0,0,0,.5);
	text-align:center;
	display:none
}
.material-content .material-body .mask .wi,.material-content .material-body .mask .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list .material-content .material-body .mask .ext-apply-item.apply-show:before,.material-content .material-body .mask .cut-list .item.apply-show:before,.cut-list .material-content .material-body .mask .item.apply-show:before {
	color:#fff;
	font-size:32px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
.material-content .material-body .del {
	position:absolute;
	width:34px;
	line-height:34px;
	text-align:center;
	background-color:#3296fa;
	cursor:pointer;
	bottom:0;
	right:0;
	z-index:6;
	display:none
}
.material-content .material-body .del .wi,.material-content .material-body .del .ext-apply-list .ext-apply-item.apply-show:before,.ext-apply-list .material-content .material-body .del .ext-apply-item.apply-show:before,.material-content .material-body .del .cut-list .item.apply-show:before,.cut-list .material-content .material-body .del .item.apply-show:before {
	color:#fff
}
.material-content .material-pager {

}
.material-content .tab-content {
	overflow-x:hidden;
	overflow-y:auto;
	height:310px
}
#material-Modal #wxcard .table td,#material-Modal #wxcard .table th {
	text-align:center
}
#material-Modal .material-content .info {
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:14px;
	font-weight:400
}
.material .panel-group {
	position:relative;
	cursor:pointer
}
.material .panel-group .panel:first-child {
	margin:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.material .panel-group .panel:first-child .img {
	overflow:hidden;
	position:relative;
	height:160px;
	background-color:#ececec;
	color:silver;
	text-align:center;
	line-height:132px
}
.material .panel-group .panel:first-child .img img {
	max-height:160px;
	max-width:100%;
	vertical-align:middle
}
.material .panel-group .panel:first-child .img span {
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	height:28px;
	line-height:28px;
	width:100%;
	background:rgba(0,0,0,.7);
	color:#fff;
	padding:0 10px
}
.material .panel-group .panel+.panel {
	border-radius:0;
	margin-top:0;
	border-top:0
}
.material .panel-group .panel+.panel .panel-body {
	height:104px;
	padding-right:105px;
	position:relative;
	overflow:hidden
}
.material .panel-group .panel+.panel .img {
	float:right;
	position:absolute;
	right:15px;
	top:12px;
	height:80px;
	width:80px;
	background-color:#ececec;
	color:silver;
	line-height:80px;
	text-align:center;
	overflow:hidden
}
.material .panel-group .panel+.panel .img img {
	max-width:80px;
	max-height:80px;
	vertical-align:middle;
	border:0
}
.material .panel-group .panel+.panel .text h4 {
	word-break:break-all;
	font-size:14px;
	line-height:1.5em;
	height:54px;
	overflow:hidden;
	text-overflow:ellipsis
}
.material .panel-group .panel-body .default {
	font-style:normal;
	font-size:16px
}
.material .panel-group .panel:last-child {
	margin-bottom:0;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:4px
}
.material .panel-group .panel:last-child .panel-body {
	padding:15px
}
.material .panel-group img {
	position:absolute;
	left:0;
	top:0;
	display:inline-block;
	width:100%;
	height:100%
}
.material .panel-group .mask {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:10;
	background-color:rgba(0,0,0,.6)!important;
	text-align:center;
	display:none;
	border-radius:4px
}
.material .panel-group:hover .mask,.panel-group.selected .mask,.site-template .panel-group.lock .mask,.system-template .panel-group.lock .mask {
	display:block
}
.material .panel-group>i {
	display:none;
	width:46px;
	height:46px;
	color:#fff;
	text-align:center;
	line-height:46px;
	z-index:20;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-23px;
	margin-left:-23px;
	font-size:46px;
	font-weight:200
}
.material .panel-group.selected>i,.material .site-template .panel-group.lock>i,.site-template .material .panel-group.lock>i,.material .system-template .panel-group.lock>i,.system-template .material .panel-group.lock>i {
	display:inline-block
}
.modal-material .modal-header .material-nav {
	flex:1;
	width:0;
	text-align:center;
}
.modal-material .modal-header .material-nav a {
	margin:0 14px;
	padding:14px 0;
	border-bottom:1px solid transparent;
}
.modal-material .modal-header .material-nav a:hover,.modal-material .modal-header .material-nav a.active {
	color:#3296fa;
	border-color:#3296fa
}
@font-face {
	font-family:we7icon;
	src:url(/assets/fonts/we7icon.eot?v=0103);
	src:url(/assets/fonts/we7icon.eot?v=0103) format("embedded-opentype"),url(/assets/fonts/we7icon.ttf?v=0103) format("truetype"),url(/assets/fonts/we7icon.woff?v=0103) format("woff"),url(/assets/fonts/we7icon.svg?v=0103) format("svg");
	font-weight:400;
	font-style:normal
}
.wi,.ext-apply-list .ext-apply-item.apply-show:before,.cut-list .item.apply-show:before {
	font-family:we7icon!important;
	display:inline-block;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.wi-radioactive:before {
	content:"\e75f"
}
.wi-kaifazhepingtai:before {
	content:"\e71c"
}
.wi-xiangji:before {
	content:"\e820"
}
.wi-icon1:before {
	content:"\e71d"
}
.wi-rili:before {
	content:"\e70e"
}
.wi-shezhi:before {
	content:"\e71e"
}
.wi-xuanzhuan:before {
	content:"\e71f"
}
.wi-checking:before {
	content:"\e600"
}
.wi-app-down:before {
	content:"\e70f"
}
.wi-denglu:before {
	content:"\e720"
}
.wi-shezhi1:before {
	content:"\e721"
}
.wi-fuli:before {
	content:"\e71b"
}
.wi-down-sign-s:before {
	content:"\e601"
}
.wi-zip:before {
	content:"\e602"
}
.wi-warning-cricle:before {
	content:"\e603"
}
.wi-wallet:before {
	content:"\e604"
}
.wi-warning-sign:before,.we7-form .form-group.error .ng-dirty+.help-block:before,form .form-group.error .ng-dirty+.help-block:before,.we7-form .form-control.ng-invalid.ng-dirty+.help-block:before,form .form-control.ng-invalid.ng-dirty+.help-block:before {
	content:"\e605"
}
.wi-XML:before {
	content:"\e606"
}
.wi-transform:before {
	content:"\e607"
}
.wi-coupon:before {
	content:"\e608"
}
.wi-upload:before {
	content:"\e609"
}
.wi-local:before {
	content:"\e60a"
}
.wi-main-apply:before {
	content:"\e60b"
}
.wi-wx-circle:before {
	content:"\e60c"
}
.wi-star:before {
	content:"\e60d"
}
.wi-down:before {
	content:"\e60e"
}
.wi-bell:before {
	content:"\e60f"
}
.wi-up:before {
	content:"\e610"
}
.wi-shopping-cart:before {
	content:"\e611"
}
.wi-app-site:before {
	content:"\e612"
}
.wi-angle-down:before {
	content:"\e613"
}
.wi-angle-up:before {
	content:"\e614"
}
.wi-small-routine:before {
	content:"\e615"
}
.wi-menu-setting:before {
	content:"\e616"
}
.wi-parameter-setting:before {
	content:"\e617"
}
.wi-appjurisdiction:before {
	content:"\e618"
}
.wi-appsetting:before {
	content:"\e619"
}
.wi-system-info:before {
	content:"\e61a"
}
.wi-market:before {
	content:"\e61b"
}
.wi-distribution:before {
	content:"\e61c"
}
.wi-user:before {
	content:"\e61d"
}
.wi-message:before {
	content:"\e61e"
}
.wi-article:before {
	content:"\e61f"
}
.wi-userjurisdiction:before {
	content:"\e620"
}
.wi-registersite:before {
	content:"\e621"
}
.wi-file:before {
	content:"\e622"
}
.wi-systemmenu:before {
	content:"\e623"
}
.wi-reply:before {
	content:"\e624"
}
.wi-crontab:before {
	content:"\e625"
}
.wi-redact:before {
	content:"\e626"
}
.wi-fans:before {
	content:"\e627"
}
.wi-appstatistics:before {
	content:"\e628"
}
.wi-qrcode:before {
	content:"\e629"
}
.wi-custommenu:before {
	content:"\e62a"
}
.wi-keyword:before {
	content:"\e62b"
}
.wi-parameter:before {
	content:"\e62c"
}
.wi-card:before {
	content:"\e62d"
}
.wi-flow:before {
	content:"\e62e"
}
.wi-appmsg:before {
	content:"\e62f"
}
.wi-hint:before {
	content:"\e630"
}
.wi-search:before {
	content:"\e631"
}
.wi-stick:before {
	content:"\e632"
}
.wi-cut:before {
	content:"\e633"
}
.wi-requirement:before {
	content:"\e634"
}
.wi-delete2:before {
	content:"\e635"
}
.wi-copyright:before {
	content:"\e636"
}
.wi-fansmanage:before {
	content:"\e637"
}
.wi-goods:before {
	content:"\e638"
}
.wi-order:before {
	content:"\e639"
}
.wi-update:before {
	content:"\e63a"
}
.wi-notice:before {
	content:"\e63b"
}
.wi-skin:before {
	content:"\e63c"
}
.wi-home:before {
	content:"\e63d"
}
.wi-cache:before {
	content:"\e63e"
}
.wi-userstatistics:before {
	content:"\e63f"
}
.wi-hide:before {
	content:"\e640"
}
.wi-wxapp-pack:before {
	content:"\e641"
}
.wi-wxapp-setting:before {
	content:"\e642"
}
.wi-system-site:before {
	content:"\e99e"
}
.wi-apply:before {
	content:"\e644"
}
.wi-changing-over:before {
	content:"\e645"
}
.wi-s-template:before {
	content:"\e646"
}
.wi-site-setting:before {
	content:"\e647"
}
.wi-clock:before {
	content:"\e648"
}
.wi-advertisement:before {
	content:"\e649"
}
.wi-remove:before {
	content:"\e64a"
}
.wi-disabled:before {
	content:"\e64b"
}
.wi-iphone:before {
	content:"\e64c"
}
.wi-plus:before {
	content:"\e64d"
}
.wi-version-switch:before {
	content:"\e64e"
}
.wi-diagnose:before {
	content:"\e64f"
}
.wi-setting:before {
	content:"\e650"
}
.wi-account:before,.wi-wechat:before {
	content:"\e651"
}
.wi-exploitsetting:before {
	content:"\e652"
}
.wi-sql:before {
	content:"\e653"
}
.wi-log:before {
	content:"\e654"
}
.wi-safety:before {
	content:"\e655"
}
.wi-optimize:before {
	content:"\e656"
}
.wi-adgroup:before {
	content:"\e657"
}
.wi-attachment:before {
	content:"\e658"
}
.wi-wechatstatistics:before {
	content:"\e659"
}
.wi-img:before {
	content:"\e65a"
}
.wi-text:before {
	content:"\e65b"
}
.wi-radio:before {
	content:"\e65c"
}
.wi-video:before {
	content:"\e65d"
}
.wi-navigation:before {
	content:"\e65e"
}
.wi-show:before,.ext-apply-list .ext-apply-item.apply-show:before,.cut-list .item.apply-show:before {
	content:"\e65f"
}
.wi-compose:before {
	content:"\e660"
}
.wi-template:before {
	content:"\e661"
}
.wi-introduction:before {
	content:"\e662"
}
.wi-view:before {
	content:"\e663"
}
.wi-blacklist:before {
	content:"\e664"
}
.wi-authentication:before {
	content:"\e665"
}
.wi-pirate:before {
	content:"\e666"
}
.wi-test:before {
	content:"\e667"
}
.wi-upload-file:before {
	content:"\e668"
}
.wi-download-circle:before {
	content:"\e669"
}
.wi-setting-circle:before {
	content:"\e66a"
}
.wi-home-nav-circle:before {
	content:"\e66b"
}
.wi-branch:before {
	content:"\e66c"
}
.wi-plugin:before {
	content:"\e66d"
}
.wi-flag-star:before {
	content:"\e66e"
}
.wi-direct:before {
	content:"\e66f"
}
.wi-home-nav:before {
	content:"\e670"
}
.wi-info:before {
	content:"\e671"
}
.wi-rocket:before {
	content:"\e672"
}
.wi-list:before {
	content:"\e673"
}
.wi-manage-menu:before {
	content:"\e674"
}
.wi-cover:before {
	content:"\e675"
}
.wi-personal:before {
	content:"\e676"
}
.wi-independence:before {
	content:"\e677"
}
.wi-signal:before {
	content:"\e678"
}
.wi-export:before {
	content:"\e679"
}
.wi-insert:before {
	content:"\e67a"
}
.wi-d-parameter:before {
	content:"\e67b"
}
.wi-right-sign-s:before {
	content:"\e67c"
}
.wi-limited-time:before {
	content:"\e67d"
}
.wi-payment:before {
	content:"\e67e"
}
.wi-invoice:before {
	content:"\e67f"
}
.wi-folded:before {
	content:"\e680"
}
.wi-goods-setting:before {
	content:"\e681"
}
.wi-v-bussiness:before {
	content:"\e682"
}
.wi-v-authorities:before {
	content:"\e683"
}
.wi-free:before {
	content:"\e684"
}
.wi-upgrade:before {
	content:"\e685"
}
.wi-setting-wxapp:before {
	content:"\e686"
}
.wi-sensitive:before {
	content:"\e687"
}
.wi-scan:before {
	content:"\e688"
}
.wi-refund:before {
	content:"\e689"
}
.wi-file-sign:before {
	content:"\e68a"
}
.wi-system-work:before {
	content:"\e68b"
}
.wi-count-down:before {
	content:"\e68c"
}
.wi-waiting:before {
	content:"\e68d"
}
.wi-step-arrows:before {
	content:"\e68e"
}
.wi-examine:before {
	content:"\e68f"
}
.wi-repair:before {
	content:"\e690"
}
.wi-wxapp-upload:before {
	content:"\e691"
}
.wi-publish:before {
	content:"\e692"
}
.wi-clock-sign:before {
	content:"\e693"
}
.wi-code:before {
	content:"\e694"
}
.wi-help:before {
	content:"\e695"
}
.wi-store:before {
	content:"\e696"
}
.wi-goods-add:before {
	content:"\e697"
}
.wi-statistical:before {
	content:"\e698"
}
.wi-money:before {
	content:"\e699"
}
.wi-sale-record:before {
	content:"\e69a"
}
.wi-pay-setting:before {
	content:"\e69b"
}
.wi-co-founder:before {
	content:"\e69c"
}
.wi-m-home:before {
	content:"\e69d"
}
.wi-m-user:before {
	content:"\e69e"
}
.wi-filter:before {
	content:"\e69f"
}
.wi-angle-up-circle:before {
	content:"\e6a0"
}
.wi-customer-service:before {
	content:"\e6a1"
}
.wi-angle-down-circle:before {
	content:"\e6a2"
}
.wi-categories:before {
	content:"\e6a3"
}
.wi-more:before {
	content:"\e6a4"
}
.wi-white-collar:before {
	content:"\e6a5"
}
.wi-data-synchro:before {
	content:"\e6a6"
}
.wi-wxapp-webpack:before {
	content:"\e6a7"
}
.wi-wxapp-download:before {
	content:"\e6a8"
}
.wi-advert:before {
	content:"\e6a9"
}
.wi-sad:before {
	content:"\e6aa"
}
.wi-wxapp:before {
	content:"\e6ab"
}
.wi-wxapp-apply:before {
	content:"\e6ac"
}
.wi-wx-apply:before {
	content:"\e6ad"
}
.wi-wx-template:before {
	content:"\e6ae"
}
.wi-user-group:before {
	content:"\e6af"
}
.wi-tag:before {
	content:"\e6b0"
}
.wi-step-select:before {
	content:"\e6b1"
}
.wi-step-down:before {
	content:"\e6b2"
}
.wi-step-bottom:before {
	content:"\e6b3"
}
.wi-site:before {
	content:"\e6b4"
}
.wi-share:before {
	content:"\e6b5"
}
.wi-step-project:before {
	content:"\e6b6"
}
.wi-send:before {
	content:"\e6b7"
}
.wi-s-setting:before {
	content:"\e6b8"
}
.wi-service:before {
	content:"\e6b9"
}
.wi-select-tem:before {
	content:"\e6ba"
}
.wi-s-search:before {
	content:"\e6bb"
}
.wi-select-diy:before {
	content:"\e6bc"
}
.wi-select-app:before {
	content:"\e6bd"
}
.wi-right-circle:before {
	content:"\e6be"
}
.wi-s-radio-selected:before {
	content:"\e6bf"
}
.wi-right-sign:before {
	content:"\e6c0"
}
.wi-right:before,.material-panel.active:before,.head .navbar-left>li.material-panel:hover:before,.material-panel:hover:before {
	content:"\e6c1"
}
.wi-s-radio:before {
	content:"\e6c2"
}
.wi-qq:before {
	content:"\e6c3"
}
.wi-photograph:before {
	content:"\e6c4"
}
.wi-pc-apply:before {
	content:"\e6c5"
}
.wi-php:before {
	content:"\e6c6"
}
.wi-phone:before {
	content:"\e6c7"
}
.wi-pc:before {
	content:"\e6c8"
}
.wi-pc-support:before {
	content:"\e6c9"
}
.wi-s-message:before {
	content:"\e6ca"
}
.wi-ip:before {
	content:"\e6cb"
}
.wi-info-sign:before {
	content:"\e6cc"
}
.wi-info-circle:before {
	content:"\e6cd"
}
.wi-we7:before {
	content:"\e6ce"
}
.wi-link:before {
	content:"\e6cf"
}
.wi-index:before {
	content:"\e6d0"
}
.wi-s-img:before {
	content:"\e6d1"
}
.wi-s-home:before {
	content:"\e6d2"
}
.wi-guarantee:before {
	content:"\e6d3"
}
.wi-git:before {
	content:"\e6d4"
}
.wi-frozen:before {
	content:"\e6d5"
}
.wi-eye:before {
	content:"\e6d6"
}
.wi-explain-sign:before {
	content:"\e6d7"
}
.wi-forum:before {
	content:"\e6d8"
}
.wi-explain:before {
	content:"\e6d9"
}
.wi-error-sign:before {
	content:"\e6da"
}
.wi-error:before {
	content:"\e6db"
}
.wi-up-sign:before {
	content:"\e6dc"
}
.wi-error-cricle:before {
	content:"\e6dd"
}
.wi-download:before {
	content:"\e6de"
}
.wi-delete:before {
	content:"\e6df"
}
.wi-developer:before {
	content:"\e6e0"
}
.wi-diy:before {
	content:"\e6e1"
}
.wi-copy:before {
	content:"\e6e2"
}
.wi-telephone:before {
	content:"\e6e3"
}
.wi-check:before {
	content:"\e6e4"
}
.wi-collect:before {
	content:"\e6e5"
}
.wi-bug:before {
	content:"\e6e6"
}
.wi-s-card:before {
	content:"\e6e7"
}
.wi-check-select:before {
	content:"\e6e8"
}
.wi-bom:before {
	content:"\e6e9"
}
.wi-go-sign:before {
	content:"\e6ea"
}
.wi-back-sign:before {
	content:"\e6eb"
}
.wi-back-circle:before {
	content:"\e6ec"
}
.wi-go-circle:before {
	content:"\e6ed"
}
.wi-avail:before {
	content:"\e6ee"
}
.wi-api:before {
	content:"\e6ef"
}
.wi-application:before {
	content:"\e6f0"
}
.wi-angle-left:before {
	content:"\e6f1"
}
.wi-angle-right:before {
	content:"\e6f2"
}
.wi-ad:before {
	content:"\e6f3"
}
.wi-management-platform:before {
	content:"\e6f4"
}
.wi-file-finished:before {
	content:"\e6f5"
}
.wi-divergence:before {
	content:"\e6f6"
}
.wi-one:before {
	content:"\e6f7"
}
.wi-mobile-device:before {
	content:"\e6f8"
}
.wi-stick-sign:before {
	content:"\e6f9"
}
.wi-four:before {
	content:"\e6fa"
}
.wi-three:before {
	content:"\e6fb"
}
.wi-two:before {
	content:"\e6fc"
}
.wi-down-sign:before {
	content:"\e6fd"
}
.wi-pc-circle:before {
	content:"\e6fe"
}
.wi-app:before {
	content:"\e6ff"
}
.wi-s-view:before {
	content:"\e700"
}
.wi-app-apply:before {
	content:"\e701"
}
.wi-home-apply:before {
	content:"\e702"
}
.wi-desktop:before {
	content:"\e703"
}
.wi-warning-complaint:before {
	content:"\e704"
}
.wi-info-list:before {
	content:"\e705"
}
.wi-thirdlogin:before {
	content:"\e706"
}
.wi-oauth:before {
	content:"\e707"
}
.wi-job:before {
	content:"\e708"
}
.wi-sms:before {
	content:"\e709"
}
.wi-bind-domain:before {
	content:"\e70a"
}
.wi-sms-sign:before {
	content:"\e70b"
}
.wi-ios:before {
	content:"\e70c"
}
.wi-android:before {
	content:"\e70d"
}
.wi-manage:before {
	content:"\e710"
}
.wi-platform:before {
	content:"\e711"
}
.wi-refuse:before {
	content:"\e643"
}
.wi-more1:before {
	content:"\e714"
}
.wi-diannao:before {
	content:"\e715"
}
.wi-xitong:before {
	content:"\e716"
}
.wi-weixin:before {
	content:"\e717"
}
.wi-xiaochengxu:before {
	content:"\e718"
}
.wi-fenquan:before {
	content:"\e712"
}
.wi-shouye:before {
	content:"\e719"
}
.wi-rewrite:before {
	content:"\e71a"
}
.wi-xzapp:before {
	content:"\e722"
}
.wi-xzapp-apply:before {
	content:"\e723"
}
.wi-aliapp-apply:before {
	content:"\e724"
}
.wi-aliapp:before {
	content:"\e725"
}
.wi-zan:before {
	content:"\e726"
}
.wi-zhandian:before {
	content:"\e727"
}
.wi-gouwuche:before {
	content:"\e728"
}
.wi-cut-version:before {
	content:"\e729"
}
.wi-cut-account:before {
	content:"\e72a"
}
.wi-baiduapp:before {
	content:"\e730"
}
.wi-toutiaoapp:before {
	content:"\e732"
}
.wi-module-manage:before {
	content:"\e72b"
}
.wi-platform-manage:before {
	content:"\e713"
}
.wi-system-welcome:before {
	content:"\e72c"
}
select.we7-select,select {



	border-style:solid;
	border-width:1px;

	outline:0;
	border-radius:0;



}
.we7-margin-horizontal-none {
	margin-left:0!important;
	margin-right:0!important
}
.we7-margin {
	margin:30px!important
}
.we7-margin-left {
	margin-left:30px!important
}
.we7-margin-right {
	margin-right:30px!important
}
.we7-margin-bottom {
	margin-bottom:30px!important
}
.we7-margin-top {
	margin-top:30px!important
}
.we7-margin-right {
	margin-right:30px!important
}
.we7-margin-horizontal {
	padding-left:30px!important;
	padding-right:30px!important
}
.we7-margin-vertical {
	margin-top:30px!important;
	margin-bottom:30px!important
}
.we7-margin-sm {
	margin:15px
}
.we7-margin-left-sm {
	margin-left:15px
}
.we7-margin-right-sm {
	margin-right:15px
}
.we7-margin-bottom-sm {
	margin-bottom:15px
}
.we7-margin-top-sm {
	margin-top:15px
}
.we7-margin-horizontal-sm {
	margin-left:15px;
	margin-right:15px
}
.we7-margin-vertical-sm {
	margin-top:15px!important;
	margin-bottom:15px!important
}
.we7-padding {
	padding:30px!important
}
.we7-padding-left {
	padding-left:30px!important
}
.we7-padding-right {
	padding-right:30px!important
}
.we7-padding-bottom {
	padding-bottom:30px!important
}
.we7-padding-top {
	padding-top:30px!important
}
.we7-padding-horizontal {
	padding-left:30px!important;
	padding-right:30px!important
}
.we7-padding-vertical {
	padding-top:30px!important;
	padding-bottom:30px!important
}
.we7-padding-vertical-none {
	padding-top:0!important;
	padding-bottom:0!important
}
.we7-padding-none {
	padding:0!important
}

.multi-img-details .multi-item img {
	max-width: 150px;
	max-height: 150px;
}
.multi-img-details .multi-item em {
	position: absolute;
	top: 0;
	right: -14px;
}
.input-group .form-control-price{width:50%!important;}


.eplayout {
	padding-left: 0px;
	list-style-type: none;
	margin-bottom: 0;
	padding-right: 0px;
}

.eplayout-header {
	height: 9px;
	border-radius: 3px;
	position: relative;

}
.eplayout-body {

	height: 92px;
	border-radius: 3px;
	position: relative;
	margin-top: 5px;
	display: flex;
	text-align: center;
	line-height: 3.1;
}

.eplayout-sidebar {
	width: 18px;
	height: 92px;
	border-radius: 3px;
	margin-right: 5px;
	padding: 0;
}
.eplayout-sidebarr {
	width: 18px;
	height: 92px;
	border-radius: 3px;
	margin-left: 5px;
	padding: 0;
}
.eplayout-sidebody {
	width: 230px;
	padding: 20px;
	margin: 0;
	height: 92px;
	background-color: #ffffff !important;
	justify-content: center;
	border-radius: 3px;
}

.color-eplayout {
	border-radius: 5px;
	display: inline-block!important;
	margin-bottom: 7px;
	margin-right: 3px;
	border: 1px solid #b8b8b8;
	padding: 2px!important;
	justify-content: center;
	background-color: #ffffff !important;
}
.color-eplayout2 {
	border-radius: 5px;
	display: inline-block!important;
	margin-bottom: 7px;
	margin-right: 3px;
	border: 1px solid #b8b8b8;
	padding: 2px!important;
	justify-content: center;
	background-color: #2a2a2a !important;
}

.color-eplayout div{
	height: 26px;
	width: 26px;
	border-radius: 3px;

	position: relative!important;
}
.color-eplayout2 div{
	height: 26px;
	width: 26px;
	border-radius: 3px;

	position: relative!important;
}
.selected-all {
	padding: 1px 15px;
	position: absolute;
	left: 200px;
	bottom: 20px;
	z-index: 20;
}
.colorpicker {
	width: 38px;
	height: 38px;
	border: 1px solid #e6e6e6;
	padding: 5px;
	border-radius: 2px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.colorpicker-trigger-span {
	display: block;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 2px;
	text-align: center;
}

.checkbox-primary {
	margin-top: 7px !important;
	height: 20px !important;
}

table td .checkbox-primary {
	margin-top: 0 !important;
}

table th .checkbox-primary {
	margin-top: 0 !important;
}

.layui-form-checkbox{
	height: 20px !important;
}
