
.ep-item-pic {
    width: 40px;
    height: 40px;
    text-align: center;
}

.ep-item-pic img {
    max-width: 100%;
    max-height: 100%;
}

 .layui-side-menu .layui-nav .layui-nav-item > a{
     padding-top: 4px;
     padding-bottom: 4px;
 }
.layui-layout-admin .layui-side{width: 120px;}
.layui-side-menu .layui-side-scroll {width: 120px;}
.layui-layout-admin .layui-logo {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 120px;
    height: 65px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center center;
}
.layui-side-menu .layui-nav {
    width: 120px;
    margin-top: 65px;
    background: 0 0;
}
.eaterplaneticon{
    position: absolute;
    top: 32%;
    left: 20px;
    font-size: 16px;
}
.layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-layout-left {
    left: 120px;
}
.sub-nav {
    width: 115px;
    background-color: #fff;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    box-shadow: 2px 0 2px rgba(0,0,0,.05);
}
.dd p {
    margin: 0 -10px 5px;
}
.dd p a {
    padding: 0 10px;
    font-size: 13px;
}
.dd p.layui-this a, .dd p a:hover {
    background-color: #E9EAF0;
    border-radius: 3px;
}
.layui-layout-admin .layui-body {
    position: fixed;
    top: 60px;
}
.layui-layout-admin .layui-body {
    top: 50px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.div-iframe{
    margin-left:180px;
}
.layui-fluid{
 padding:1px;
}










