




/*授权中心改版*/
/*.page-content{width:1200px;}*/
/*授权中心详情*/

/*支付*/
/*.ca-tabs {
    background: #fff;
    font-size: 0;
    font-family: "Microsoft YaHei";
    height: 34px;
    border-left: #d1d6de 1px solid;
    background-image: linear-gradient(to bottom,#fefefe 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    background-color: #f9f9f9 \0;
    zoom: 1;
    z-index: 5;
    margin-left: 80px;
}
.ca-tabs li.current {
    border-bottom: 0;
    border-top: #4c9af2 3px solid;
    color: #4c9af2;
    font-weight: 700;
    background-color: #fff;
}
.ca-tabs li {
    padding: 0 10px;
    _zoom: 1;
    font-size: 14px;
    letter-spacing: 0;
    word-spacing: 0;
    float: left;
    height: 33px;
    line-height: 33px;
    min-width: 80px;
    width: 110px;
    text-align: center;
    border-top: #d1d6de 1px solid;
    border-right: #d1d6de 1px solid;
    border-bottom: #d1d6de 1px solid;
    cursor: pointer;
}*/
/*套餐*/





/*913702023503242914*/
