- var chat_menu             = true;
- var pe7_icon              = true;
- var morrischart           = true;
- var page_morrischart      = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Morris
                                      span
                                        | Chart
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Charts
                                      li.breadcrumb-item.active Morris Chart
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Line Chart
                            .card-body.chart-block
                              .flot-chart-container
                                #morris-line-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Updating Data
                            .card-body.chart-block
                              .flot-chart-container
                                #updating-data-morris-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Decimal Data
                            .card-body.chart-block
                              .flot-chart-container
                                #decimal-morris-chart.flot-chart-placeholder.float-left
                                p#choices.float-right
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Displaying X Labels Diagonally
                            .card-body.chart-block
                              .flot-chart-container
                                #x-Labels-Diagonally-morris-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Bar Line Chart
                            .card-body.chart-block
                              .flot-chart-container
                                #bar-line-chart-morris.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Displaying X Labels Diagonally(Bar Chart)
                            .card-body.chart-block
                              .flot-chart-container
                                #x-lable-morris-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Stacked Bars Chart
                            .card-body.chart-block
                              .flot-chart-container
                                #stacked-bar-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Simple Bar Charts
                            .card-body.chart-block
                              .flot-chart-container
                                #morris-simple-bar-chart.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Area charts behaving like line Charts
                            .card-body.chart-block
                              .flot-chart-container
                                #graph123.flot-chart-placeholder
                        .col-lg-6.col-sm-12.box-col-12
                          .card
                            .card-header
                              h5 Donut Color Chart
                            .card-body.chart-block
                              .flot-chart-container
                                #donut-color-chart-morris.flot-chart-placeholder
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
