- var prism                 = true;
- var height_equal          = true;
- var clipboard             = true;
- var customcard            = true;
- var chartist              = true;
- var apex                  = true;
- var chat_menu             = true;
- var pe7_icon              = true;
- var dashboard_crypto      = true;
- var counter               = true;
- var tour                  = true;
- var ionic_icon            = true;
- var owlcarousel           = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Crypto
                                      span
                                        | Dashboard  
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right
                                  ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Dashboard
                                      li.breadcrumb-item.active Crypto 
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-xl-3.box-col-6
                            .card.o-hidden.card-bg
                              .card-header.no-border
                                h5.font-secondary Bitcoin BTC
                                .setting-dot
                                  .setting-bg-secondary.position-set.pull-right
                                    i.fa.fa-spin.fa-cog
                              div
                                #bitcoinchart-1
                                   
                              .media
                                .media-left
                                  .btn-rounded-transparent                            
                                    i.ion.ion-social-bitcoin  
                                .media-body
                                  h5 $ 54,210
                                .media-right
                                  .badge.badge-pill.badge-transparent
                                      i.ion.ion-arrow-up-c
                                      | 7.8%
                        .col-xl-3.box-col-6
                            .card.o-hidden.card-bg
                              .card-header.no-border
                                h5.font-primary YEN
                                .setting-dot
                                  .setting-bg-primary.position-set.pull-right
                                    i.fa.fa-spin.fa-cog
                              #bitcoinchart-2   
                              .media
                                .media-left
                                  .btn-rounded-transparent                            
                                    i.ion.ion-social-yen  
                                .media-body
                                  h5 $ 84,956
                                .media-right
                                  .badge.badge-pill.badge-transparent
                                      i.ion.ion-arrow-up-c
                                      | 5.6%
                        .col-xl-3.box-col-6
                            .card.o-hidden.card-bg
                              .card-header.no-border
                                h5.font-warning Lite LTC
                                .setting-dot
                                  .setting-bg-warning.position-set.pull-right
                                    i.fa.fa-spin.fa-cog
                              #bitcoinchart-3   
                              .media
                                .media-left
                                  .btn-rounded-transparent                            
                                    i.ion.ion-social-yen  
                                .media-body
                                  h5 $ 79,652
                                .media-right
                                  .badge.badge-pill.badge-transparent
                                      i.ion.ion-arrow-up-c
                                      | 2.8%
                        
                        .col-xl-3.box-col-6
                            .card.o-hidden.card-g-primary
                              .card-header.no-border.p-b-20
                                h5.font-warning Buy & Sell Coin
                              .card-body.pt-0
                                .media
                                  .media-left.mr-3
                                    .btn-rounded-transparent                            
                                      i(data-feather="database")
                                  .media-right
                                    p  Coin lorem ipsum dolor sit elit. Perferendis veniam exercitationem ducimus magni distinctio sit explicabo.
                        .col-md-9
                           .owl-carousel.owl-theme.crypto-slider
                              .item
                                .card.o-hidden
                                  .card-body.crypto-graph-card.coin-card  
                                    .media
                                      .media-body.d-flex.align-items-center
                                        .rounded-icon.bg-success
                                          i.ion.ion-social-euro
                                        .bitcoin-graph-content
                                          h5.f-w-700.mb-0 Litecoin 
                                      .right-setting.d-flex.align-items-center
                                        h5.font-success.f-w-700.mb-0 43.0465
                                        i.f-24.ion.ion-arrow-up-c.p-l-10.font-success.mt-1
                              .item
                                .card.o-hidden
                                  .card-body.crypto-graph-card.coin-card
                                    .media
                                      .media-body.d-flex.align-items-center
                                        .rounded-icon.bck-gradient-secondary
                                          i.ion.ion-social-bitcoin
                                        .bitcoin-graph-content
                                          h5.f-w-700.mb-0 Bitcoin
                                      .right-setting.d-flex.align-items-center
                                        h5.font-secondary.f-w-700.mb-0 58.0225
                                        i.f-24.ion.ion-arrow-up-c.p-l-10.font-secondary.mt-1
                              .item
                                .card.o-hidden
                                  .card-body.crypto-graph-card.coin-card
                                    .media
                                      .media-body.d-flex.align-items-center
                                        .rounded-icon.bck-gradient-primary
                                          i.fa.fa-try
                                        .bitcoin-graph-content
                                          h5.f-w-700.mb-0 Ethereum
                                      .right-setting.d-flex.align-items-center
                                        h5.font-primary.f-w-700.mb-0 60.0499
                                        i.f-24.ion.ion-arrow-up-c.p-l-10.font-primary.mt-1
                              .item
                                .card.o-hidden
                                  .card-body.crypto-graph-card.coin-card
                                    .media
                                      .media-body.d-flex.align-items-center
                                        .rounded-icon.bck-gradient-secondary
                                          i.ion.ion-social-bitcoin
                                        .bitcoin-graph-content
                                          h5.f-w-700.mb-0 Bitcoin
                                      .right-setting.d-flex.align-items-center
                                        h5.font-secondary.f-w-700.mb-0 58.0225
                                        i.f-24.ion.ion-arrow-up-c.p-l-10.font-secondary.mt-1

                        .col-md-3.Add-card
                          .add-arrow
                                div.more-btn.text-center
                                  button.btn.btn-secondary.btn-block.f-w-700 Add more 
                                  button.btn.btn-light
                                    i.ion.ion-plus.font-secondary.f-22

                        .col-xl-4.xl-100.box-col-12
                            .card
                              .card-header.no-border
                                h5 Datatable Table Markets
                                ul.creative-dots
                                  li.bg-primary.big-dot
                                  li.bg-secondary.semi-big-dot
                                  li.bg-warning.medium-dot
                                  li.bg-info.semi-medium-dot
                                  li.bg-secondary.semi-small-dot
                                  li.bg-primary.small-dot
                                //- .setting-dot
                                //-   .setting-bg-primary.position-set.pull-right
                                //-     i.fa.fa-spin.fa-cog
                                .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-gear.fa.fa-spin.font-primary
                                        li
                                          i.view-html.fa.fa-code.font-primary
                                        li
                                          i.icofont.icofont-maximize.full-card.font-primary
                                        li
                                          i.icofont.icofont-minus.minimize-card.font-primary
                                        li
                                          i.icofont.icofont-refresh.reload-card.font-primary
                                        li
                                          i.icofont.icofont-error.close-card.font-primary
                              .card-body.p-0
                                .sales-product-table.crypto-table-market.table-responsive
                                  table.table.table-bordernone
                                    tbody
                                      tr
                                        td.font-primary.f-w-700 Bitcoin
                                        td
                                          span.f-w-700 $ 50
                                        td
                                          span.f-w-700 4 Jan
                                        td
                                          span.badge.badge-pill.f-14.font-primary + 2.6%
                                      tr
                                        td.font-primary.f-w-700 Ethereum
                                        td
                                          span.f-w-700 $ 56
                                        td
                                          span.f-w-700 18 Feb
                                        td
                                          span.badge.badge-pill.f-14.font-primary - 3.7%
                                      tr
                                        td.font-secondary.f-w-700 Ripple
                                        td
                                          span.f-w-700 $ 80
                                        td
                                          span.f-w-700 26 March
                                        td
                                          span.badge.badge-pill.f-14.font-secondary + 8.3%
                                      tr
                                        td.font-success.f-w-700 EOS
                                        td
                                          span.f-w-700 $ 47
                                        td
                                          span.f-w-700 2 May
                                        td
                                          span.badge.badge-pill.f-14.font-success - 2.6%
                                      tr
                                        td.font-primary.f-w-700 Litecoin
                                        td
                                          span.f-w-700 $ 47
                                        td
                                          span.f-w-700 10 Jun
                                        td
                                          span.badge.badge-pill.f-14.font-primary + 5.6%
                                .code-box-copy
                                    button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head4', title='Copy')
                                      i.icofont.icofont-copy-alt
                                    pre
                                      code.language-html#example-head4
                                        | &lt;!-- Cod Box Copy begin --&gt;
                                        | &lt;div class="card-body p-0"&gt;
                                        | &lt;div class="sales-product-table crypto-table-market table-responsive"&gt;
                                        | &lt;table class="table table-bordernone"&gt;
                                        | &lt;tbody&gt;
                                        | &lt;tr&gt;
                                        | &lt;td class="font-primary f-w-700"&gt;Bitcoin&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;$ 50&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;4 Jan&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill f-14 font-primary"&gt;+ 2.6%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td class="font-primary f-w-700"&gt;Ethereum&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;$ 56&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;18 Feb&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill f-14 font-primary"&gt;- 3.7%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td class="font-secondary f-w-700"&gt;Ripple&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;$ 80&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;26 March&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill f-14 font-secondary"&gt;+ 8.3%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td class="font-success f-w-700"&gt;EOS&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;$ 47&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;2 May&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill f-14 font-success"&gt;- 2.6%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;tr&gt;
                                        | &lt;td class="font-primary f-w-700"&gt;Litecoin&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;$ 47&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="f-w-700"&gt;10 Jun&lt;/span&gt;&lt;/td&gt;
                                        | &lt;td&gt;&lt;span class="badge badge-pill f-14 font-primary"&gt;+ 5.6%&lt;/span&gt;&lt;/td&gt;
                                        | &lt;/tr&gt;
                                        | &lt;/tbody&gt;
                                        | &lt;/table&gt;
                                        | &lt;/div&gt;
                                        | &lt;/div&gt;
                                        |&lt;!-- Cod Box Copy end --&gt;
                        .col-xl-8.xl-100.box-col-12
                                .card.year-overview
                                  .card-header.p-b-0.no-border.d-flex
                                    h5 Bitcoin(USD)
                                    ul.creative-dots
                                      li.bg-primary.big-dot
                                      li.bg-secondary.semi-big-dot
                                      li.bg-warning.medium-dot
                                      li.bg-info.semi-medium-dot
                                      li.bg-secondary.semi-small-dot
                                      li.bg-primary.small-dot
                                    .header-right.pull-right.text-right
                                        h5.mb-2 70 / 100
                                        h6.f-w-700.mb-0.default-text Total 71,52,225 $
                                  .card-body
                                    #candlestick-chart
                        .col-xl-8.box-col-12.xl-100
                            .card.gradient-primary.o-hidden.btc-overview
                              .card-header.p-b-0.no-border.bg-transparent
                                .crypto-graph-card
                                  .media
                                    div.d-flex.align-items-center
                                      .btn-rounded-transparent.mr-2
                                        i.ion.ion-social-bitcoin
                                      h5 BTC Monthly Earning
                                    .media-body
                                      .header-right.text-right
                                          h5.mb-2 70 / 100
                                          h6.f-w-700.mb-0 Total 71,52,225 $
                              .card-body.tag-card.p-0
                                .btc-earning
                                .text-bg
                                  span 0.7
                                span.tag-hover-effect.overview-dots.full-lg-dots
                                  span.dots-group
                                    span.dots.dots1
                                    span.dots.dots2.dot-small
                                    span.dots.dots3.dot-small
                                    span.dots.dots4.dot-medium
                                    span.dots.dots5.dot-small
                                    span.dots.dots6.dot-small
                                    span.dots.dots7.dot-small-semi
                                    span.dots.dots8.dot-small-semi
                                    span.dots.dots9.dot-small
                        .col-xl-4.box-col-12.xl-100
                                .card.btc-table
                                  .card-header.no-border.text-center
                                    div.btc-sell.text-center
                                      button.btn.btn-pill.btn-secondary.font-white.f-w-700 Buy
                                      button.btn.btn-pill.font-secondary.f-w-700 Sell 
                                    ul.creative-dots
                                      li.bg-primary.big-dot
                                      li.bg-secondary.semi-big-dot
                                      li.bg-warning.medium-dot
                                      li.bg-info.semi-medium-dot
                                      li.bg-secondary.semi-small-dot
                                      li.bg-primary.small-dot
                                  .card-body.pt-0
                                    ul.btc-buy-sell
                                      li
                                        .row
                                          .col-sm-5.btc-table-xs
                                            div.btc-amount.default-text.f-w-700.text-center
                                              | Amount
                                          .col-sm-7.p-l-0.btc-table-xs-l
                                            div.btc-amount.f-w-700.default-text
                                              | 0.458954
                                              span.f-right.f-w-700 BTC
                                      li
                                        .row
                                          .col-sm-5.btc-table-xs
                                            div.btc-amount.font-primary.f-w-700.text-center
                                              | price Per Unit
                                          .col-sm-7.p-l-0.btc-table-xs-l
                                            div.btc-amount.f-w-700.font-primary
                                              | 6.24451
                                              span.f-right.f-w-700 USD
                                      li
                                        .row
                                          .col-sm-5.btc-table-xs
                                            div.btc-amount.font-warning.f-w-700.text-center
                                              | Total cost
                                          .col-sm-7.p-l-0.btc-table-xs-l
                                            div.btc-amount.f-w-700.font-warning
                                              | 6.24451
                                              span.f-right.f-w-700 USD
                                    div.btc-buy.text-center
                                      button.btn.btn-pill.font-secondary 
                                        i.icon-briefcase.f-w-700                       
                                      button.btn.btn-pill.btn-secondary.f-w-700 Buy
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
