- var prism                 = true;
- var clipboard             = true;
- var customcard            = true;
- var chat_menu             = true;
- var pe7_icon              = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Fix
                                      span
                                        | Header & Sidebar
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Perk UI    
                                      li.breadcrumb-item Menu Options
                                      li.breadcrumb-item.active Fix Header & Sidebar
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card.alert.alert-primary(role='alert')
                            h4.alert-heading Tip!
                            p
                              | Add the position attribute set to fixed to the page-main-header & page-sidebar class to get this layout.
                        .col-sm-12
                          .card
                            .card-header
                              h5 Title
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                            .card-body
                              span Start Here
                              .code-box-copy
                                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head', title='Copy')
                                  i.icofont.icofont-copy-alt
                                pre
                                  code.language-html#example-head
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class=&quot;card-body&quot;&gt;
                                      | &lt;span&gt;Start Here&lt;/span&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                            .card-footer
                              h6.mb-0 Card Footer
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
