
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
          .container-fluid
            .authentication-main
              .row
                .col-md-12.p-0
                  .auth-innerright.auth-minibox
                    .reset-password-box
                      .text-center
                        a(href='index.html')
                          img(src='../assets/images/other-images/poco-logo1.png', alt='')
                      .card.mt-4.mb-0
                        .card-body
                          h4 Reset Your Password
                          form.theme-form
                            .form-group
                              label.col-form-label Enter Your Mobile Number
                              .form-row
                                .col-md-2
                                  input.form-control.digits.mb-1(type='text', value='+ 91')
                                .col-md-7.col-xl-8
                                  input.form-control.digits.mb-1(type='tel', value='000-000-0000')
                                .col-md-2
                                  button.btn.btn-primary.m-0(type='submit') Send
                            .text-center.mt-4.mb-4
                              span.reset-password-link
                                | If don't receive OTP?  
                                a.btn-link.text-danger(href='#') Resend
                            .form-group.rounded.p-4.opt-box
                              label.col-form-label.pt-0 Enter OTP
                              .form-row
                                .col
                                  input.form-control.digits.text-center.opt-text(type='text', value='00', maxlength='2')
                                .col
                                  input.form-control.digits.text-center.opt-text(type='text', value='00', maxlength='2')
                                .col
                                  input.form-control.digits.text-center.opt-text(type='text', value='00', maxlength='2')
                            h6.f-14.mt-4.mb-3 CREATE YOUR PASSWORD
                            .form-group
                              label.col-form-label New Password
                              input.form-control(type='password')
                            .form-group
                              label.col-form-label Retype Password
                              input.form-control(type='password')
                            .form-group.form-row.mb-2
                              .col-md-2
                                button.btn.btn-primary(type='submit') Done
        include ../../components/footer-files
