- var chat_menu             = true;
- var pe7_icon              = true;
- var form_wizard_two       = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Step Form
                                      span
                                        | Wizard
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Forms   
                                      li.breadcrumb-item Form Layout
                                      li.breadcrumb-item.active Form Wizard 2
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Form Wizard And Validation
                              span Validation Step Form Wizard
                            .card-body
                              .stepwizard
                                .stepwizard-row.setup-panel
                                  .stepwizard-step
                                    a.btn.btn-primary(href='#step-1') 1
                                    p Step 1
                                  .stepwizard-step
                                    a.btn.btn-light(href='#step-2') 2
                                    p Step 2
                                  .stepwizard-step
                                    a.btn.btn-light(href='#step-3') 3
                                    p Step 3
                                  .stepwizard-step
                                    a.btn.btn-light(href='#step-4') 4
                                    p Step 4
                              form(action='#', method='POST')
                                #step-1.setup-content
                                  .col-xs-12
                                    .col-md-12
                                      .form-group
                                        label.control-label First Name
                                        input.form-control(type='text', placeholder='Johan', required='required')
                                      .form-group
                                        label.control-label Last Name
                                        input.form-control(type='text', placeholder='Deo', required='required')
                                      button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                                #step-2.setup-content
                                  .col-xs-12
                                    .col-md-12
                                      .form-group
                                        label.control-label Email
                                        input.form-control(type='text', placeholder='name@example.com', required='required')
                                      .form-group
                                        label.control-label Password
                                        input.form-control(type='password', placeholder='Password', required='required')
                                      button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                                #step-3.setup-content
                                  .col-xs-12
                                    .col-md-12
                                      .form-group
                                        label.control-label Birth date
                                        input.form-control(type='date', required='required')
                                      .form-group
                                        label.control-label Have Passport
                                        input.form-control(type='text', placeholder='yes/No', required='required')
                                      button.btn.btn-primary.nextBtn.pull-right(type='button') Next
                                #step-4.setup-content
                                  .col-xs-12
                                    .col-md-12
                                      .form-group
                                        label.control-label State
                                        input.form-control.mt-1(type='text', placeholder='State', required='required')
                                      .form-group
                                        label.control-label City
                                        input.form-control.mt-1(type='text', placeholder='City', required='required')
                                      button.btn.btn-success.pull-right(type='submit') Finish!
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
