- var apex                  = true;
- var chartist              = true;
- var chat_menu             = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var pe7_icon              = true;
- var dashboard_default     = true;
- var counter               = true;
- var notify                = true;
- var date_picker           = true;
- var material_design_icon  = true;
- var prism                 = true;
- var clipboard             = true;
- var customcard            = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Default
                                      span
                                        | Dashboard 
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right
                                  ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Dashboard
                                      li.breadcrumb-item.active Default  
                    // Container-fluid starts
                    .container-fluid
                        .row
                          .col-lg-12.xl-100
                            .row
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card.gradient-primary.o-hidden
                                  .card-body.tag-card
                                    .default-chart
                                      .apex-widgets
                                          #area-widget-chart
                                      .widgets-bottom
                                          h5.f-w-700.mb-0 Total Sale
                                              span.pull-right 70 / 100   
                                    span.tag-hover-effect
                                      span.dots-group
                                            span.dots.dots1
                                            span.dots.dots2.dot-small
                                            span.dots.dots3.dot-small
                                            span.dots.dots4.dot-medium
                                            span.dots.dots5.dot-small
                                            span.dots.dots6.dot-small
                                            span.dots.dots7.dot-small-semi
                                            span.dots.dots8.dot-small-semi
                                            span.dots.dots9.dot-small
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card.gradient-secondary.o-hidden
                                  .card-body.tag-card
                                    .default-chart
                                      .apex-widgets
                                          #area-widget-chart-2
                                      .widgets-bottom
                                          h5.f-w-700.mb-0 Total Visits
                                              span.pull-right 70 / 100   
                                    span.tag-hover-effect
                                      span.dots-group
                                            span.dots.dots1
                                            span.dots.dots2.dot-small
                                            span.dots.dots3.dot-small
                                            span.dots.dots4.dot-medium
                                            span.dots.dots5.dot-small
                                            span.dots.dots6.dot-small
                                            span.dots.dots7.dot-small-semi
                                            span.dots.dots8.dot-small-semi
                                            span.dots.dots9.dot-small
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card.gradient-warning.o-hidden
                                  .card-body.tag-card
                                    .default-chart
                                      .apex-widgets
                                          #area-widget-chart-3
                                      .widgets-bottom
                                          h5.f-w-700.mb-0 Total Stock
                                              span.pull-right 70 / 100   
                                    span.tag-hover-effect
                                      span.dots-group
                                            span.dots.dots1
                                            span.dots.dots2.dot-small
                                            span.dots.dots3.dot-small
                                            span.dots.dots4.dot-medium
                                            span.dots.dots5.dot-small
                                            span.dots.dots6.dot-small
                                            span.dots.dots7.dot-small-semi
                                            span.dots.dots8.dot-small-semi
                                            span.dots.dots9.dot-small      
                              .col-xl-3.xl-50.col-md-6.box-col-6
                                .card.gradient-info.o-hidden
                                  .card-body.tag-card
                                    .default-chart
                                      .apex-widgets
                                          #area-widget-chart-4
                                      .widgets-bottom
                                          h5.f-w-700.mb-0 Total Value
                                              span.pull-right 70 / 100   
                                    span.tag-hover-effect
                                      span.dots-group
                                            span.dots.dots1
                                            span.dots.dots2.dot-small
                                            span.dots.dots3.dot-small
                                            span.dots.dots4.dot-medium
                                            span.dots.dots5.dot-small
                                            span.dots.dots6.dot-small
                                            span.dots.dots7.dot-small-semi
                                            span.dots.dots8.dot-small-semi
                                            span.dots.dots9.dot-small      
                          .col-xl-8.xl-100.box-col-12
                                .card.year-overview
                                  .card-header.no-border.d-flex
                                    h5 Year Overview
                                    ul.creative-dots
                                      li.bg-primary.big-dot
                                      li.bg-secondary.semi-big-dot
                                      li.bg-warning.medium-dot
                                      li.bg-info.semi-medium-dot
                                      li.bg-secondary.semi-small-dot
                                      li.bg-primary.small-dot
                                    .header-right.pull-right.text-right
                                        h5.mb-2 70 / 100
                                        h6.f-w-700.mb-0.default-text Total 71,52,225 $
                                  .card-body.row
                                      .col-6.p-0.ct-10.default-chartist-container
                                      .col-6.p-0.ct-11.default-chartist-container
                          .col-xl-4.xl-100.box-col-12
                            .card
                              .card-header.no-border
                                h5 Sales By Countries
                                ul.creative-dots
                                      li.bg-primary.big-dot
                                      li.bg-secondary.semi-big-dot
                                      li.bg-warning.medium-dot
                                      li.bg-info.semi-medium-dot
                                      li.bg-secondary.semi-small-dot
                                      li.bg-primary.small-dot
                                .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-gear.fa.fa-spin.font-primary
                                        li
                                          i.view-html.fa.fa-code.font-primary
                                        li
                                          i.icofont.icofont-maximize.full-card.font-primary
                                        li
                                          i.icofont.icofont-minus.minimize-card.font-primary
                                        li
                                          i.icofont.icofont-refresh.reload-card.font-primary
                                        li
                                          i.icofont.icofont-error.close-card.font-primary

                              .card-body.p-0
                                  .radial-default
                                    #circlechart
                                  .code-box-copy
                                    button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head1', title='Copy')
                                      i.icofont.icofont-copy-alt
                                    pre
                                      code.language-html#example-head1
                                        | &lt;!-- Cod Box Copy begin --&gt;
                                        | &lt;div class="card-body p-0"&gt;
                                        | &lt;div class="radial-default"&gt;
                                        | &lt;div id="circlechart"&gt;
                                        | &lt;/div&gt;
                                        | &lt;/div&gt;
                                        | &lt;/div&gt;
                                        | &lt;!-- Cod Box Copy end --&gt;

                          .col-xl-4.xl-50.box-col-12
                            .card.gradient-secondary.o-hidden.monthly-overview
                              .card-header.no-border.bg-transparent
                                h5 Monthly Overview
                                h6.mb-0 January
                                span.pull-right.right-badge
                                  span.badge.badge-pill 70 / 100
                              .card-body.p-0
                                .text-bg
                                  span 0.7
                                .area-range-apex
                                  #area-range
                                span.overview-dots.full-lg-dots
                                  span.dots-group
                                    span.dots.dots1
                                    span.dots.dots2.dot-small
                                    span.dots.dots3.dot-small
                                    span.dots.dots4.dot-medium
                                    span.dots.dots5.dot-small
                                    span.dots.dots6.dot-small
                                    span.dots.dots7.dot-small-semi
                                    span.dots.dots8.dot-small-semi
                                    span.dots.dots9.dot-small
                          .col-xl-4.xl-50.box-col-6
                            .card
                                  .card-header.no-border
                                    h5 Best Sellers Product
                                    ul.creative-dots
                                      li.bg-primary.big-dot
                                      li.bg-secondary.semi-big-dot
                                      li.bg-warning.medium-dot
                                      li.bg-info.semi-medium-dot
                                      li.bg-secondary.semi-small-dot
                                      li.bg-primary.small-dot
                                    .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-gear.fa.fa-spin.font-warning
                                        li
                                          i.view-html.fa.fa-code.font-warning
                                        li
                                          i.icofont.icofont-maximize.full-card.font-warning
                                        li
                                          i.icofont.icofont-minus.minimize-card.font-warning
                                        li
                                          i.icofont.icofont-refresh.reload-card.font-warning
                                        li
                                          i.icofont.icofont-error.close-card.font-warning
                                     
                                  .card-body.pb-0.pt-0
                                    .music-layer
                                      button.btn.btn-pill View More
                                    .code-box-copy
                                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head2', title='Copy')
                                        i.icofont.icofont-copy-alt
                                      pre
                                        code.language-html#example-head2
                                          | &lt;!-- Cod Box Copy begin --&gt;
                                          | &lt;div class="music-layer"&gt;
                                          | &lt;button class="btn btn-pill"&gt;
                                          | View More&lt;/button&gt;
                                          | &lt;!-- Cod Box Copy end --&gt;

                          .col-xl-4.xl-100.box-col-6
                            .card.gradient-primary.o-hidden.monthly-overview.yearly
                              .card-header.no-border.bg-transparent
                                h5 Yearly Overview
                                h6.mb-0 Monday
                                span.pull-right.right-badge
                                  span.badge.badge-pill 50 / 100
                              .card-body.p-0
                                .text-bg
                                  span 0.5
                                .area-range-apex
                                  #area-range-1
                                span.overview-dots.full-width-dots
                                  span.dots-group
                                    span.dots.dots1
                                    span.dots.dots2.dot-small
                                    span.dots.dots3.dot-small
                                    span.dots.dots4.dot-medium
                                    span.dots.dots5.dot-small
                                    span.dots.dots6.dot-small
                                    span.dots.dots7.dot-small-semi
                                    span.dots.dots8.dot-small-semi
                                    span.dots.dots9.dot-small 
                          .col-xl-6.xl-100.box-col-12
                            .card.weather-bg
                              .card-header.no-border.bg-transparent
                                h5 Weather Overview
                              .card-body.weather-bottom-bg.p-0
                                  .cloud
                                    img(src='../assets/images/cloud.png', alt='')
                                  div.cloud-rain
                                     //- for(var x = 0; x < 50; x++)
                                     //-    i(class="rain")

                                  .media.weather-details
                                    span.weather-title
                                      i.fa.fa-circle-o.d-block.text-right
                                      span 16
                                    .media-body
                                          h5 London
                                          span.d-block 01, Dec 2021
                                          h6.mb-0 Wind : 50km/h  
                                  img.img-fluid(src='../assets/images/dashboard/weather-image.png', alt='')
                          .col-xl-6.xl-100.box-col-12
                            .card
                              .card-header.no-border
                                h5 Today's Activity
                                ul.creative-dots
                                  li.bg-primary.big-dot
                                  li.bg-secondary.semi-big-dot
                                  li.bg-warning.medium-dot
                                  li.bg-info.semi-medium-dot
                                  li.bg-secondary.semi-small-dot
                                  li.bg-primary.small-dot
                                  //- .setting-dot
                                  //-   .setting-bg-primary.position-set.pull-right
                                  //-     i.fa.fa-spin.fa-cog
                                .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-gear.fa.fa-spin.font-primary
                                        li
                                          i.view-html.fa.fa-code.font-primary
                                        li
                                          i.icofont.icofont-maximize.full-card.font-primary
                                        li
                                          i.icofont.icofont-minus.minimize-card.font-primary
                                        li
                                          i.icofont.icofont-refresh.reload-card.font-primary
                                        li
                                          i.icofont.icofont-error.close-card.font-primary
                              .card-body.pt-0
                                .activity-table.table-responsive
                                    table.table.table-bordernone
                                      tbody
                                        tr
                                          td
                                            .activity-image
                                                img.img-fluid(src='../assets/images/dashboard/clipboard.png', alt='')
                                          td
                                            .activity-details
                                              h4.default-text 15 
                                                  span.f-14 November
                                              h6 New Task Added
                                          td
                                            .activity-time
                                              span.font-primary.f-w-700 1 Day Ago
                                              span.d-block.light-text Your Work Deadline 18
                                                  sup th
                                          td
                                            button.btn.btn-shadow-primary View
                                        tr
                                          td
                                            .activity-image.activity-secondary
                                                img.img-fluid(src='../assets/images/dashboard/greeting.png', alt='')
                                          td
                                            .activity-details
                                              h4.default-text 01 
                                                  span.f-14 January
                                              h6 New Task Added
                                          td
                                            .activity-time
                                              span.font-secondary.f-w-700 10 Minute Ago
                                              span.d-block.light-text Update Your Work Today
                                          td
                                            button.btn.btn-shadow-secondary View
                                .code-box-copy
                                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head3', title='Copy')
                                        i.icofont.icofont-copy-alt
                                      pre
                                        code.language-html#example-head3
                                         | &lt;!-- Cod Box Copy begin --&gt;
                                         | &nbsp;&lt;div class="card-body pt-0"&gt;| &lt;div class="activity-table table-responsive"&gt;
                                         | &lt;table class="table table-bordernone"&gt;
                                         | &lt;tbody&gt;
                                         | &lt;tr&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-image"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/clipboard.png" alt=""&gt;
                                         | &lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-details"&gt;
                                         | &lt;h4 class="default-text"&gt;15 &lt;span class="f-14"&gt;November&lt;/span&gt;&lt;/h4&gt;
                                         | &lt;h6&gt;New Task Added&lt;/h6&gt;
                                         | &lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-time"&gt;&lt;span class="font-primary f-w-700"&gt;1 Day Ago&lt;/span&gt;&lt;span class="d-block light-text"&gt;Your Work Deadline 18&lt;sup&gt;th&lt;/sup&gt;&lt;/span&gt;&lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;button class="btn btn-shadow-primary"&gt;View&lt;/button&gt;| &lt;/td&gt;
                                         | &lt;/tr&gt;
                                         | &lt;tr&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-image activity-secondary"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/greeting.png" alt=""&gt;&lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-details"&gt;
                                         | &lt;h4 class="default-text"&gt;01 &lt;span class="f-14"&gt;January&lt;/span&gt;&lt;/h4&gt;
                                         | &lt;h6&gt;New Task Added&lt;/h6&gt;
                                         | &lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;div class="activity-time"&gt;&lt;span class="font-secondary f-w-700"&gt;10 Minute Ago&lt;/span&gt;&lt;span class="d-block light-text"&gt;Update Your Work Today&lt;/span&gt;&lt;/div&gt;
                                         | &lt;/td&gt;
                                         | &lt;td&gt;
                                         | &lt;button class="btn btn-shadow-secondary"&gt;View &lt;/button&gt;
                                         | &lt;/td&gt;
                                         | &lt;/tr&gt;
                                         | &lt;/tbody&gt;
                                         | &lt;/table&gt;
                                         | &lt;/div&gt;
                                         | &lt;/div&gt;
                                         | &lt;!-- Cod Box Copy end --&gt;    
                          .col-xl-8.xl-100.box-col-12
                            .card
                              .card-header.no-border
                                h5 Recent Buyers
                                ul.creative-dots
                                  li.bg-primary.big-dot
                                  li.bg-secondary.semi-big-dot
                                  li.bg-warning.medium-dot
                                  li.bg-info.semi-medium-dot
                                  li.bg-secondary.semi-small-dot
                                  li.bg-primary.small-dot
                                //- .setting-dot
                                //-   .setting-bg-primary.position-set.pull-right
                                //-     i.fa.fa-spin.fa-cog
                                .card-header-right
                                      ul.list-unstyled.card-option
                                        li
                                          i.icofont.icofont-gear.fa.fa-spin.font-primary
                                        li
                                          i.view-html.fa.fa-code.font-primary
                                        li
                                          i.icofont.icofont-maximize.full-card.font-primary
                                        li
                                          i.icofont.icofont-minus.minimize-card.font-primary
                                        li
                                          i.icofont.icofont-refresh.reload-card.font-primary
                                        li
                                          i.icofont.icofont-error.close-card.font-primary
                              .card-body.pt-0
                                .activity-table.table-responsive.recent-table
                                  table.table.table-bordernone
                                    tbody
                                      tr
                                        td
                                          .recent-images
                                            img.img-fluid(src='../assets/images/dashboard/recent-user-1.png', alt='')
                                        td
                                          h5.default-text.mb-0.f-w-700.f-18 Nick Stone
                                        td
                                          span.badge.badge-pill.recent-badge.f-12 New York
                                        td.f-w-700 458-4594-5451
                                        td
                                          h6.mb-0 15 Jan
                                        td
                                          span.badge.badge-pill.recent-badge
                                              i(data-feather='more-horizontal')
                                      tr
                                        td
                                          .recent-images-primary
                                            img.img-fluid(src='../assets/images/dashboard/recent-user-2.png', alt='')
                                        td
                                          h5.font-primary.mb-0.f-w-700.f-18 Milano Esco
                                        td
                                          span.badge.badge-pill.recent-badge.f-12 Brazil
                                        td.f-w-700 812-4896-9812
                                        td
                                          h6.mb-0 06 Feb
                                        td
                                          span.badge.badge-pill.recent-badge
                                              i(data-feather='more-horizontal')
                                      tr
                                        td
                                          .recent-images-secondary
                                            img.img-fluid(src='../assets/images/dashboard/recent-user-3.png', alt='')
                                        td
                                          h5.font-secondary.mb-0.f-w-700.f-18 Charlie Pol
                                        td
                                          span.badge.badge-pill.recent-badge.f-12 London
                                        td.f-w-700 215-0324-6541
                                        td
                                          h6.mb-0 22 Feb
                                        td
                                          span.badge.badge-pill.recent-badge
                                              i(data-feather='more-horizontal')
                                      tr
                                        td
                                          .recent-images-warning
                                            img.img-fluid(src='../assets/images/dashboard/recent-user-4.png', alt='')
                                        td
                                          h5.font-warning.mb-0.f-w-700.f-18 Jordi Esol
                                        td
                                          span.badge.badge-pill.recent-badge.f-12 U.S.A
                                        td.f-w-700 748-0012-3487
                                        td
                                          h6.mb-0 18 Mar
                                        td
                                          span.badge.badge-pill.recent-badge
                                              i(data-feather='more-horizontal')
                                .code-box-copy
                                  button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head21', title='Copy')
                                    i.icofont.icofont-copy-alt
                                  pre
                                    code.language-html#example-head21
                                      | &lt;!-- Cod Box Copy begin --&gt;
                                      | &lt;div class="card-body pt-0"&gt;
                                      | &lt;div class="activity-table table-responsive recent-table"&gt;
                                      | &lt;table class="table table-bordernone"&gt;
                                      | &lt;tbody&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;
                                      | &lt;div class="recent-images"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/recent-user-1.png" alt=""&gt;&lt;/div&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h5 class="default-text mb-0 f-w-700 f-18"&gt;Nick Stone&lt;/h5&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge f-12"&gt;New York&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="f-w-700"&gt;458-4594-5451&lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h6 class="mb-0"&gt;15 Jan&lt;/h6&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge"&gt;&lt;i data-feather="more-horizontal"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;
                                      | &lt;div class="recent-images-primary"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/recent-user-2.png" alt=""&gt;&lt;/div&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h5 class="font-primary mb-0 f-w-700 f-18"&gt;Milano Esco&lt;/h5&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge f-12"&gt;Brazil&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="f-w-700"&gt;812-4896-9812&lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h6 class="mb-0"&gt;06 Feb&lt;/h6&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge"&gt;&lt;i data-feather="more-horizontal"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;
                                      | &lt;div class="recent-images-secondary"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/recent-user-3.png" alt=""&gt;&lt;/div&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h5 class="font-secondary mb-0 f-w-700 f-18"&gt;Charlie Pol&lt;/h5&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge f-12"&gt;London&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="f-w-700"&gt;215-0324-6541&lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h6 class="mb-0"&gt;22 Feb&lt;/h6&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge"&gt;&lt;i data-feather="more-horizontal"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;tr&gt;
                                      | &lt;td&gt;
                                      | &lt;div class="recent-images-warning"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/recent-user-4.png" alt=""&gt;&lt;/div&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h5 class="font-warning mb-0 f-w-700 f-18"&gt;Jordi Esol&lt;/h5&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge f-12"&gt;U.S.A&lt;/span&gt;&lt;/td&gt;
                                      | &lt;td class="f-w-700"&gt;748-0012-3487&lt;/td&gt;
                                      | &lt;td&gt;
                                      | &lt;h6 class="mb-0"&gt;18 Mar&lt;/h6&gt;
                                      | &lt;/td&gt;
                                      | &lt;td&gt;&lt;span class="badge badge-pill recent-badge"&gt;&lt;i data-feather="more-horizontal"&gt; &lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
                                      | &lt;/tr&gt;
                                      | &lt;/tbody&gt;
                                      | &lt;/table&gt;
                                      | &lt;/div&gt;
                                      | &lt;/div&gt;
                                      | &lt;!-- Cod Box Copy end --&gt;
                          .col-xl-4.xl-100.box-col-12
                            .card.gradient-primary.o-hidden
                              .card-body
                                .setting-dot
                                  .setting-bg-primary.date-picker-setting.position-set.pull-right
                                    i.fa.fa-spin.fa-cog
                                .default-datepicker
                                  .datepicker-here(data-language='en')
                                span.default-dots-stay.overview-dots.full-width-dots
                                  span.dots-group
                                    span.dots.dots1
                                    span.dots.dots2.dot-small
                                    span.dots.dots3.dot-small
                                    span.dots.dots4.dot-medium
                                    span.dots.dots5.dot-small
                                    span.dots.dots6.dot-small
                                    span.dots.dots7.dot-small-semi
                                    span.dots.dots8.dot-small-semi
                                    span.dots.dots9.dot-small    
                    // Container-fluid Ends
                    #loadModal.welcome-popup.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                      
                      .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          .modal-body
                            .modal-header
                            .contain.p-30
                              .text-center
                                h3 Welcome to creative admin
                                p start your project with developer friendly admin 
                                button.btn.btn-primary.btn-lg.txt-white(type='button', data-dismiss='modal', aria-label='Close') Get Started



                include ../../components/footer
        include ../../components/footer-files
