- var login                 = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
          .container-fluid.p-0
            // login page start
            .authentication-main
              .row
                .col-md-12
                  .auth-innerright
                    .authentication-box
                      .card.mt-4
                        .card-body
                          .cont.text-center
                            div 
                                form.theme-form
                                  h4 LOGIN
                                  h6 Enter your Username and Password
                                  .form-group
                                    label.col-form-label.pt-0 Your Name
                                    input.form-control(type='text', required='')
                                  .form-group
                                    label.col-form-label Password
                                    input.form-control(type='password', required='')
                                  .checkbox.p-0
                                    input#checkbox1(type='checkbox')
                                    label(for='checkbox1') Remember me
                                  .form-group.form-row.mt-3.mb-0
                                    button.btn.btn-primary.btn-block(type='submit') LOGIN
                                  .login-divider
                                  .social.mt-3
                                    .form-row.btn-showcase
                                      .col-md-4.col-sm-6
                                        button.btn.social-btn.btn-fb Facebook
                                      .col-md-4.col-sm-6
                                        button.btn.social-btn.btn-twitter Twitter
                                      .col-md-4.col-sm-6
                                        button.btn.social-btn.btn-google Google + 
                            .sub-cont
                              .img
                                .img__text.m--up
                                  h2 New here?
                                  p Sign up and discover great amount of new opportunities!
                                .img__text.m--in
                                  h2 One of us?
                                  p If you already has an account, just sign in. We've missed you!
                                .img__btn
                                  span.m--up Sign up
                                  span.m--in Sign in
                              div
                                form.theme-form
                                  h4.text-center NEW USER
                                  h6.text-center Enter your Username and Password For Signup
                                  .form-row
                                    .col-md-12
                                      .form-group
                                        input.form-control(type='text', placeholder='First Name')
                                    .col-md-12
                                      .form-group
                                        input.form-control(type='text', placeholder='Last Name')
                                  .form-group
                                    input.form-control(type='text', placeholder='User Name')
                                  .form-group
                                    input.form-control(type='password', placeholder='Password')
                                  .form-row
                                    .col-sm-4
                                      button.btn.btn-primary(type='submit') Sign Up
                                    .col-sm-8
                                      .text-left.mt-2.m-l-20
                                        | Are you already user?  
                                        a.btn-link.text-capitalize(href='login.html') Login
                                  .form-divider
                                  .social.mt-3
                                    .form-row.btn-showcase
                                      .col-sm-4
                                        button.btn.social-btn.btn-fb Facebook
                                      .col-sm-4
                                        button.btn.social-btn.btn-twitter Twitter
                                      .col-sm-4
                                        button.btn.social-btn.btn-google Google +
                                

            // login page end
        include ../../components/footer-files
