- var chat_menu             = true;
- var pe7_icon              = true;
- var datatable             = true;
- var height_equal          = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Payment
                                      span
                                        | Details
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Apps    
                                      li.breadcrumb-item Ecommerce
                                      li.breadcrumb-item.active Payment Details
                    // Container-fluid starts
                    .container-fluid.credit-card
                      .row
                        // Individual column searching (text inputs) Starts
                        .col-xl-8.box-col-12
                          .card.height-equal
                            .card-header
                              h5 Credit card 
                            .card-body
                              .row
                                .col-md-4.text-center
                                  img.img-fluid(src='../assets/images/ecommerce/card.png', alt='')
                                .col-md-8
                                  form.theme-form.mega-form
                                    .form-group
                                      input.form-control(type='text', placeholder='Card number')
                                    .form-group
                                      input.form-control(type='text', placeholder='First Name')
                                    .form-group
                                      input.form-control(type='date')
                                    .form-group
                                      input.form-control(type='text', placeholder='Full Name')
                        // Individual column searching (text inputs) Ends
                        // Debit Card Starts
                        .col-xl-4.col-lg-6.box-col-6.debit-card
                          .card.height-equal
                            .card-header
                              h5 Debit card 
                            .card-body
                              form.theme-form.e-commerce-form.row
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='Full name here')
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='Card number')
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='CVV number')
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='CVC')
                                .col-12
                                  label.col-form-label.p-t-0 Expiration Date
                                .form-group.col-6.p-r-0
                                  select.form-control(size='1')
                                    option Select Month
                                    option Jan
                                    option Fab
                                    option March
                                    option April
                                .form-group.col-6
                                  select.form-control(size='1')
                                    option Select Year
                                    option 2015
                                    option 2016
                                    option 2017
                                    option 2018
                                    option 2021
                                .col-12
                                  button.btn.btn-info-gradien.btn-block.btn-pill(type='button', data-original-title='btn btn-info-gradien', title='') Submit
                        // Debit Card Ends
                        // COD Starts
                        .col-xl-4.col-lg-6.box-col-6
                          .card
                            .card-header
                              h5 COD
                            .card-body
                              form.theme-form.row
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='First Name')
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='Last name')
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='Pincode')
                                .form-group.col-6
                                  input.form-control(type='number', placeholder='Enter mobile number')
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='State')
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='City')
                                .form-group.col-12
                                  textarea.form-control(rows='3', placeholder='Address')
                                .col-12
                                  button.btn.btn-info-gradien.btn-block.btn-pill(type='button', data-original-title='btn btn-info-gradien', title='') Submit
                        // COD Ends
                        // EMI Starts
                        .col-xl-4.col-lg-6.box-col-6
                          .card
                            .card-header
                              h5 EMI
                            .card-body
                              form.theme-form.row
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='First Name')
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='Last name')
                                .form-group.col-6.p-r-0
                                  input.form-control(type='text', placeholder='Pincode')
                                .form-group.col-6
                                  select.form-control(size='1')
                                    option Bank Name
                                    option SBI
                                    option ICICI
                                    option KOTAK
                                    option BOB
                                .form-group.col-12
                                  select.form-control(size='1')
                                    option Select Card
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                .form-group.col-12
                                  select.form-control(size='1')
                                    option Select Duration
                                    option 2015-2016
                                    option 2016-2017
                                    option 2017-2018
                                    option 2018-2021
                                .form-group.col-12
                                  ul.payment-opt
                                    li
                                      img(src='../assets/images/ecommerce/mastercard.png', alt='')
                                    li
                                      img(src='../assets/images/ecommerce/visa.png', alt='')
                                    li
                                      img(src='../assets/images/ecommerce/paypal.png', alt='')
                                .col-12
                                  button.btn.btn-info-gradien.btn-block.btn-pill(type='button', data-original-title='btn btn-info-gradien', title='') Submit
                        // EMI Ends
                        // EMI Starts
                        .col-xl-4.col-lg-6.box-col-6
                          .card
                            .card-header
                              h5 Net Banking
                            .card-body
                              form.theme-form.row
                                .form-group.col-12
                                  input.form-control(type='text', placeholder='AC Holder name')
                                .form-group.col-12
                                  input.form-control(type='text', placeholder='Account number')
                                .form-group.col-6.p-r-0
                                  select.form-control(size='1')
                                    option Select Bank
                                    option SBI
                                    option ICICI
                                    option KOTAK
                                    option BOB
                                .form-group.col-6
                                  input.form-control(type='text', placeholder='ICFC code')
                                .form-group.col-12
                                  input.form-control(type='number', placeholder='Enter mobile number')
                                .form-group.col-12
                                  input.form-control(type='text', placeholder='Other Details')
                                .col-12
                                  button.btn.btn-info-gradien.btn-block.btn-pill(type='button', data-original-title='btn btn-info-gradien', title='') Submit
                        // EMI Ends
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
