- var chat_menu             = true;
- var pe7_icon              = true;
- var owlcarousel           = true;
- var rating                = true;
- var ecommerce             = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Product
                                      span
                                        | Page
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Apps    
                                      li.breadcrumb-item ECommerce
                                      li.breadcrumb-item.active Product Page
                    // Container-fluid starts
                    .container-fluid
                      .card
                        .row.product-page-main
                          .col-xl-4
                            #sync1.product-slider.owl-carousel.owl-theme
                              .item
                                img(src='../assets/images/ecommerce/01.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/02.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/03.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/04.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/05.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/06.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/07.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/08.jpg', alt='')
                            #sync2.owl-carousel.owl-theme
                              .item
                                img(src='../assets/images/ecommerce/01.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/02.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/03.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/04.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/05.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/06.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/07.jpg', alt='')
                              .item
                                img(src='../assets/images/ecommerce/08.jpg', alt='')
                          .col-xl-8
                            .product-page-details
                              h5 Fusion white & blue printed regular fit asymmetric
                              .d-flex
                                select#u-rating-fontawesome(name='rating', autocomplete='off')
                                  option(value='1') 1
                                  option(value='2') 2
                                  option(value='3') 3
                                  option(value='4') 4
                                  option(value='5') 5
                                span (250 review)
                            hr
                            p
                              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                            .product-price.digits
                              del $350.00    
                              | $26.00
                            hr
                            div
                              table.product-page-width
                                tbody
                                  tr
                                    td Brand :
                                    td shopcart_fashion
                                  tr
                                    td Availability :
                                    td.in-stock In stock
                                    td.out-of-stock(style='display: none;') Out Of stock
                            hr
                            ul.product-color.m-t-15
                              li.bg-primary
                              li.bg-secondary
                              li.bg-success
                              li.bg-info
                              li.bg-warning
                            .m-t-15
                              button.btn.btn-primary-gradien.m-r-10(type='button', data-original-title='btn btn-info-gradien', title='') Add To Cart
                              button.btn.btn-secondary-gradien.m-r-10(type='button', data-original-title='btn btn-info-gradien', title='') Quick View
                              button.btn.btn-success-gradien(type='button', data-original-title='btn btn-info-gradien', title='') Buy Now
                      .card
                        .row.product-page-main
                          .col-sm-12
                            ul#top-tab.nav.nav-tabs.nav-material.mb-0(role='tablist')
                              li.nav-item
                                a#top-home-tab.nav-link.active(data-toggle='tab', href='#top-home', role='tab', aria-controls='top-home', aria-selected='false')
                                  | Febric
                                .material-border
                              li.nav-item
                                a#profile-top-tab.nav-link(data-toggle='tab', href='#top-profile', role='tab', aria-controls='top-profile', aria-selected='false') Video
                                .material-border
                              li.nav-item
                                a#contact-top-tab.nav-link(data-toggle='tab', href='#top-contact', role='tab', aria-controls='top-contact', aria-selected='true')
                                  | Details
                                .material-border
                              li.nav-item
                                a#brand-top-tab.nav-link(data-toggle='tab', href='#top-brand', role='tab', aria-controls='top-brand', aria-selected='true')
                                  | Brand
                                .material-border
                            #top-tabContent.tab-content
                              #top-home.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='top-home-tab')
                                p.mb-0.m-t-20
                                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                p.mb-0.m-t-20
                                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                              #top-profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-top-tab')
                                p.mb-0.m-t-20
                                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                              #top-contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-top-tab')
                                p.mb-0.m-t-20
                                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                              #top-brand.tab-pane.fade(role='tabpanel', aria-labelledby='brand-top-tab')
                                p.mb-0.m-t-20
                                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                   
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
