- var chat_menu             = true;
- var pe7_icon              = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Product
                                    h6.mb-0 admin panel
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         i.pe-7s-home
                                      li.breadcrumb-item Apps   
                                      li.breadcrumb-item ECommerce
                                      li.breadcrumb-item.active Product
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                .ribbon.ribbon-danger Sale
                                img.img-fluid(src='../assets/images/ecommerce/02.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                .ribbon.ribbon-success.ribbon-right 50%
                                img.img-fluid(src='../assets/images/ecommerce/04.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .ribbon.ribbon-secondary.ribbon-vertical-left
                                i.icon-gift
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/06.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/07.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/08.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/09.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/10.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/11.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/12.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                .ribbon.ribbon-bookmark.ribbon-vertical-right.ribbon-info
                                  i.icofont.icofont-love
                                img.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/02.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                .ribbon.ribbon-clip.ribbon-warning Hot
                                img.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/04.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/06.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/07.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/08.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/09.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/10.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/11.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00
                        .col-xl-3.col-sm-6.box-col-4a
                          .card
                            .product-box
                              .product-img
                                img.img-fluid(src='../assets/images/ecommerce/12.jpg', alt='')
                                .product-hover
                                  ul
                                    li
                                      i.icon-shopping-cart
                                    li
                                      i.icon-eye
                                    li
                                      i.icofont.icofont-law-alt-2
                              .product-details
                                h4 Woman
                                p Simply dummy text of the printing.
                                .product-price
                                  del $350.00    
                                  | $26.00

                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
