<cm-construct v-bind:data="data[index]" v-bind:class="['slider']">

	<!-- 预览 -->
	<template slot="preview">
		<div class="preview-box" v-bind:style="{ background: nc.backgroundColor, marginTop : nc.marginTop + 'px', borderRadius: nc.navRadius == 'fillet' ? '5px' : '0px' }">
			<template v-if="nc.lazyLoad">
				<slider></slider>
			</template>
		</div>
	</template>
	
	<!-- 编辑 -->
	<template slot="edit">
	
		<template v-if="nc.lazyLoad">
			<slider-list></slider-list>
		</template>
		
	</template>
	
	<!-- 资源 -->
	<template slot="resource">
		
		<js>
			var sliderResourcePath = "{$resourceurl}";
		</js>
		<css src="{$resourceurl}/slider/css/style.css"></css>
		<js src="{$resourceurl}/slider/js/style.js"></js>
		
	</template>

</cm-construct>