@font-face {
  font-family: tui-calendar-font-icon;
  src: url(../fonts/calendar/icon.eot) format("embedded-opentype"), url(../fonts/calendar/icon.ttf) format("truetype"), url(../fonts/calendar/icon.woff) format("woff"), url(../fonts/calendar/icon.svg) format("svg"); }

.btn {
  border-radius: 25px;
  border-color: #ddd; }
  .btn:hover {
    border: solid 1px #bbb;
    background-color: #fff; }
  .btn:active {
    background-color: #f9f9f9;
    border: solid 1px #bbb;
    outline: none;
    outline: none; }
  .btn:disabled {
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    color: #bbb; }
  .btn:focus {
    outline: none; }
    .btn:focus:active {
      outline: none; }

#right {
  width: calc(100% - 200px); }

#menu {
  padding: 16px; }
  #menu .dropdown-toggle:after {
    display: none; }

.fa {
  width: 12px;
  height: 12px;
  margin-right: 2px; }

.open > .dropdown-toggle.btn-default {
  background-color: #fff; }
