/*button bootstrap4 css*/
@keyframes dtb-spinner {
  100% {
    transform: rotate(360deg); } }
@-o-keyframes dtb-spinner {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes dtb-spinner {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dtb-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes dtb-spinner {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*button bootstrap4 css*/
/*buttons datatable css*/
@keyframes dtb-spinner {
  100% {
    transform: rotate(360deg); } }
@-o-keyframes dtb-spinner {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes dtb-spinner {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dtb-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes dtb-spinner {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*buttons datatable css*/
/*buttons jqueryui css*/
@keyframes dtb-spinner {
  100% {
    transform: rotate(360deg); } }
@-o-keyframes dtb-spinner {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes dtb-spinner {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dtb-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes dtb-spinner {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*buttons jqueryui css*/
/*buttons semanticui css*/
@keyframes dtb-spinner {
  100% {
    transform: rotate(360deg); } }
@-o-keyframes dtb-spinner {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes dtb-spinner {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dtb-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes dtb-spinner {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*buttons semanticui css*/
/*autofill datatable css*/

/*autofill datatable css*/
/*keytable css*/
table.dataTable th.focus,
table.dataTable td.focus {
  outline: 3px solid #0275d8;
  outline-offset: -1px; }

/*keytable css*/
/*select datatable css*/
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #B0BED9; }
 table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected {
  background-color: #acbad4; }
table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #aab7d1; }

table.dataTable.display tbody > tr > .selected {
  background-color: #acbad5; }
table.dataTable.display tbody > tr.odd > .selected {
  background-color: #a6b4cd; }
table.dataTable.display tbody > tr.even > .selected {
  background-color: #acbad5; }
table.dataTable.display tbody > tr:hover > .selected,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #a2aec7; }
/*select datatable css*/
/*Fixed columns datatable css*/

/*Fixed columns datatable css*/
/*fixed haeder datatable css*/

/*fixed haeder datatable css*/
/*Responsive datatable css*/
table.dataTable > tbody > tr.child {
  padding: 0.5em 1em; }
  table.dataTable > tbody > tr.child:hover {
    background: transparent !important; }
/*Responsive datatable css*/
/*Row reorder css*/

/*Row reorder css*/
/*scroller css*/

/*scroller css*/
