/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepicker {
  background: #fff;
  border-radius: 8px;
  box-sizing: content-box;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  z-index: 100;
  box-shadow: 0 4px 14px #efecf3; }
  .datepicker.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s; }

.datepicker-inline .datepicker {
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none; }
.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid rgba(219, 219, 219, 0.7);
  border-right: 1px solid rgba(219, 219, 219, 0.7);
  width: 10px;
  height: 10px;
  z-index: -1; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  color: #7e37d8;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }


.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 5px;
  user-select: none;
  background: #7e37d8; }
  .datepicker--nav-action:hover {
    background: #7e37d8; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px; }
