@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/material-design-icon/materialdesignicons-webfont.eot?v=3.6.95");
  src: url("../fonts/material-design-icon/materialdesignicons-webfont.eot?#iefix&v=3.6.95") format("embedded-opentype"), url("../fonts/material-design-icon/materialdesignicons-webfont.woff2?v=3.6.95") format("woff2"), url("../fonts/material-design-icon/materialdesignicons-webfont.woff?v=3.6.95") format("woff"), url("../fonts/material-design-icon/materialdesignicons-webfont.ttf?v=3.6.95") format("truetype"), url("../fonts/material-design-icon/materialdesignicons-webfont.svg?v=3.6.95#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.mdi:before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mdi-delete-forever-outline:before {
  content: "\FB65"; }

@-webkit-keyframes mdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes mdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
