 .token.comment, .token.doctype {
  color: #708090; }

.token.boolean, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
  color: #905; }
 .token.char, .token.selector, .token.string {
  color: #690; }

 .style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

 .token.operator, .token.url {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }
 .token.keyword {
  color: #07a; }
.token.function {
  color: #DD4A68; }
.token.important, .token.regex, .token.variable {
  color: #e90; }
.token.bold, .token.important {
  font-weight: 700; }
.token.italic {
  font-style: italic; }
