.docs {
  width: 800px;
  margin: auto;
  max-height: 9999px;
  /* no font boosting please */ }
   .docs .callbacks header, .docs .download header {
    background: #4278F5; }
   .docs .callbacks strong, .docs .download strong {
    color: #4278F5; }
   .docs .callbacks a, .docs .download a {
    color: #4278F5; }
     .docs .callbacks a:hover, .docs .download a:hover {
      color: #0b43c6; }
   .docs .callbacks pre, .docs .download pre {
    background: white;
    border-left: 2px solid #4278F5;
    padding: 0 2em; }
   .docs .callbacks code, .docs .download code {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9em;
    /* 18px */
    color: #4278F5; }
  .docs .license header, .docs .methods header {
    background: #EDB867; }
  .docs .license strong, .docs .methods strong {
    color: #EDB867; }
  .docs .license a, .docs .methods a {
    color: #EDB867; }
    .docs .license a:hover, .docs .methods a:hover {
      color: #d58b19; }
  .docs .license pre, .docs .methods pre {
    background: white;
    border-left: 2px solid #EDB867;
    padding: 0 2em; }
  .docs .license code, .docs .methods code {
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.9em;
    /* 18px */
    color: #EDB867; }
  .docs .instructions {
    padding: 2em 3em;
    background: #f8f8f8; }

.controls {
  position: absolute;
  top: -23px;
  left: 50%;
  margin-left: -190px; }
  .controls a {
    display: block;
    width: 150px;
    background-color: #50E3C2;
    color: white;
    float: left;
    padding: .3em 1em .5em 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    -webkit-transition: background-color  2s;
    transition: background-color  2s; }
    .controls a:hover {
      background-color: #3adfba; }
    .controls a:focus {
      color: #d4f8f0;
      background-color: #199b7e; }
  .controls a:last-child {
    border-left: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media print {
  .controls,
  .github {
    display: none; }

  
  .docs .callbacks a,
  .docs .download a,
  .docs .license a,
  .docs .methods a {
    color: black;
    text-decoration: none; }
    
    .docs .callbacks a:hover,
    .docs .download a:hover,
    .docs .license a:hover,
    .docs .methods a:hover {
      color: black; }
  
  .docs .callbacks header,
  .docs .download header,
  .docs .license header,
  .docs .methods header {
    background: transparent;
    color: black; }
  
  .docs .callbacks code,
  .docs .callbacks strong,
  .docs .download code,
  .docs .download strong,
  .docs .license code,
  .docs .license strong,
  .docs .methods code,
  .docs .methods strong {
    color: black; }
  
  .docs .callbacks pre,
  .docs .download pre,
  .docs .license pre,
  .docs .methods pre {
    border: none;
    padding: 0; }
  
  .docs .callbacks .instructions,
  .docs .download .instructions,
  .docs .license .instructions,
  .docs .methods .instructions {
    background: transparent; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Center ratings in container */

/* Display star ratings */

/* Boxes */
.box {
  width: 100%;
  float: left;
  margin: 1em 0; }
  .box select {
    width: 120px;
    margin: 10px auto 0 auto;
    display: block;
    font-size: 16px; }
