/**=====================
    74. Responsive CSS Start
==========================**/
/* ========= min and max scss for 1200 to 1366 screen ========= */
@media (max-width: 1280px) {
  .box-layout.page-wrapper .page-main-header {
    padding-left: unset;
    max-width: unset;
    left: unset; }
  .box-layout.page-wrapper .page-body-wrapper {
    width: unset; }
    .box-layout.page-wrapper .page-body-wrapper .footer {
      margin-left: unset;
      width: unset; } }
@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) {

  .flot-chart-container {
    height: 282px; }
  .custom-card .card-footer > div h3 {
    font-size: 18px; }

  .xl-50 {
    max-width: 50%;
    flex: 0 0 50%; }

  .xl-100 {
    max-width: 100%;
    flex: 0 0 100%; } }
/* ========= min and max scss for 992 to 768 screen ========= */
/* ========= responsive scss for 1366 screen ========= */
@media only screen and (max-width: 1366px) {

  .page-main-header .main-header-right .nav-right > ul > li .badge {
    display: none; }

  .timeline-small .media .media-body p {
    width: 95%; }

  .authentication-main .auth-innerright {
    background-size: cover; }

  .cal-date-widget .datepicker {
    margin: 0 auto;
    padding: 0;
    width: unset; }

  .static-top-widget .media-body h3 {
    font-size: 30px; }
  .static-top-widget .media-body .icon-bg {
    right: -21px; } }
/* ========= responsive scss for 1200 screen ========= */
@media only screen and (max-width: 1199px) {

  .alert-theme {
    max-width: 400px; }
  .page-wrapper .page-main-header .vertical-mobile-sidebar {
    display: none; }
  .page-wrapper .page-main-header .main-header-right .nav-right {
    position: unset; }
    .page-wrapper .page-main-header .main-header-right .nav-right > ul li:first-child {
      padding-left: 0 !important; }
      .page-wrapper .page-main-header .main-header-right .nav-right > ul li:first-child:before {
        display: none; }
  .page-wrapper .page-main-header .main-header-right .mobile-sidebar .switch-sm .switch {
    margin-top: 6px; }
  .page-wrapper .page-body-wrapper .iconsidebar-menu .iconMenu-bar .iconbar-mainmenu .iconbar-header {
    padding: 21px 0 21px 20px; }

  .vertical .page-main-header .vertical-mobile-sidebar {
    display: block;
    z-index: 1; }

  .timeline-small .media .timeline-round.timeline-line-1:after {
    height: 50px;
    bottom: -60px; }
  .timeline-small .media .media-body h6 {
    font-weight: 600;
    margin-bottom: 30px; }
    .timeline-small .media .media-body h6 span {
      font-weight: normal;
      color: #999; }
  .timeline-small .media .media-body p {
    width: 80%; }

  .lg-mt-col {
    margin-top: 30px; }

  .listing .card-body .row > div + div {
    margin-top: 30px; }

  .flot-chart-container {
    height: 250px; }

  .custom-card .card-header img {
    margin-top: -25px;
    border-radius: 0; }

  .chat-menu {
    right: 0;
    border-top: 1px solid #efefef;
    opacity: 0;
    transform: translateY(-30px);
    visibility: hidden;
    top: 120px;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    transition: all linear 0.3s; }
    .chat-menu.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      transition: all linear 0.3s;
      padding-bottom: 25px; }

  .sm {
    position: fixed;
    background-color: #fff;
    width: 300px;
    border-radius: 0;
    border: 1px solid #f8f5fd;
    top: 94px;
    height: calc(100vh - 77px);
    left: -300px;
    z-index: 99;
    transition: all 0.3s ease;
    overflow: scroll; } }
/* ========= responsive scss for 992 screen ========= */
@media only screen and (max-width: 991px) {
  .document.page-wrapper .page-main-header {
    margin-left: 0;
    width: 100%; }

  .page-main-header .main-header-right .nav-right.right-menu ul li .user-header img {
    width: 90px !important; }
  .page-main-header .main-header-right .nav-right > ul > li:first-child {
    width: 50%; }
  .page-main-header .main-header-right .nav-right .onhover-dropdown .onhover-show-div {
    top: 50px; }

  .page-wrapper .page-body-wrapper .page-body, .page-wrapper .page-body-wrapper footer {
    margin-left: 0 !important; }
  .page-wrapper .page-body-wrapper footer {
    margin-left: 0; }
  .page-wrapper .page-body-wrapper .page-header {
    padding-top: 30px;
    padding-bottom: 30px; }
    .page-wrapper .page-body-wrapper .page-header .row .breadcrumb-right .breadcrumb {
      float: none;
      margin-top: 15px; }

  .vertical-mobile-sidebar {
    right: 75px;
    top: 18px; }
    .vertical-mobile-sidebar .sidebar-bar {
      vertical-align: middle; }

  .sm {
    top: 60px;
    height: calc(100% - 44px); }

  .page-wrapper .page-main-header {
    margin-left: 0;
    width: 100%; }
    .page-wrapper .page-main-header .main-header-left {
      padding: 20px 0 20px 20px;
      margin-left: 0; }
    .page-wrapper .page-main-header .main-header-right .nav-right {
      position: unset;
      padding: 0 20px; }
      .page-wrapper .page-main-header .main-header-right .nav-right .notification {
        top: 10px; }
      .page-wrapper .page-main-header .main-header-right .nav-right > .mobile-toggle {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .page-wrapper .page-main-header .main-header-right .nav-right > .mobile-toggle svg circle {
          color: #7e37d8; }
      .page-wrapper .page-main-header .main-header-right .nav-right > ul {
        top: 65px;
        position: absolute;
        z-index: -1;
        background-color: #fff;
        transition: all linear 0.3s;
        box-shadow: 0px 5px 15px -15px #7e37d8;
        border-top: 1px solid #f5f1fe;
        width: 100%;
        left: 0;
        padding: 0 20px;
        transform: translateY(-35px) scaleY(0);
        opacity: 0;
        visibility: hidden; }
        .page-wrapper .page-main-header .main-header-right .nav-right > ul.open {
          z-index: 1;
          opacity: 1;
          transform: translateY(0px) scaleY(1);
          visibility: visible; }
        .page-wrapper .page-main-header .main-header-right .nav-right > ul > li {
          padding: 10px 20px 11px 20px; }
    .page-wrapper .page-main-header .main-header-right .mobile-sidebar .switch-sm .switch {
      width: 38px;
      height: 38px; }
    .page-wrapper .page-main-header .main-header-left .logo-wrapper img {
      width: 80px;
      margin-top: 0;
      margin-right: 15px; }
  .page-wrapper .page-body-wrapper .iconsidebar-menu {
    top: 65px; }
    .page-wrapper .page-body-wrapper .iconsidebar-menu .iconMenu-bar {
      height: calc(100vh - 65px); }
      .page-wrapper .page-body-wrapper .iconsidebar-menu .iconMenu-bar .iconbar-mainmenu {
        top: 65px;
        height: calc(100vh - 65px); }

  .page-main-header .main-header-right .nav-right .profile-dropdown {
    top: 65px !important; }

  .page-wrapper .page-body-wrapper .sidebar {
    height: calc(100vh - 60px); }

  .page-wrapper .page-body-wrapper .page-header .row h3 {
    font-size: 22px; }
  .page-wrapper .page-body-wrapper .page-header .pull-right {
    float: none;
    margin-top: 15px; }
  .page-wrapper .page-body-wrapper .page-header .bookmark {
    width: 288px; }
  .page-wrapper .page-body-wrapper .page-body {
    margin-top: 60px;
    padding: 0 15px; }
  .page-wrapper .page-body-wrapper .default-according .card .card-header, .page-wrapper .page-body-wrapper .default-according .card .card-body {
    padding: 0.75rem 1.25rem; }
  .page-wrapper .page-body-wrapper .card .card-header, .page-wrapper .page-body-wrapper .card .card-body, .page-wrapper .page-body-wrapper .card .card-footer {
    padding: 30px; }
    .page-wrapper .page-body-wrapper .card .card-header .tab-content .m-b-30, .page-wrapper .page-body-wrapper .card .card-body .tab-content .m-b-30, .page-wrapper .page-body-wrapper .card .card-footer .tab-content .m-b-30 {
      margin-bottom: 20px !important; }
  .page-wrapper .page-body-wrapper .right-sidebar {
    top: 133px; }

  .timeline-small .media {
    margin-bottom: 20px; }
    .timeline-small .media .media-body h6 {
      margin-bottom: 20px; }
    .timeline-small .media .timeline-round {
      width: 45px;
      height: 45px;
      top: -14px; }
      .timeline-small .media .timeline-round.timeline-line-1:after {
        bottom: -46px;
        height: 35px; }
      .timeline-small .media .timeline-round svg {
        top: 14px; }

  .custom-card {
    padding-bottom: 0; }
    .custom-card .card-footer {
      padding: 0 15px 15px 15px !important; }
    .custom-card .card-header {
      border: none; }

  h1 {
    font-size: 34px; }

  h2 {
    font-size: 28px; }

  h3 {
    font-size: 26px; }

  h4 {
    font-size: 22px; }

  h5 {
    font-size: 18px; }

  h6 {
    font-size: 15px; }

  .flot-chart-container {
    height: 300px; }

  footer {
    bottom: -20px; }

  .card .card-header .card-header-right {
    top: 21px;
    right: 23px; }

  /*Form Wizard One start*/

  /*Form Wizard One ends*/
  /*Form Wizard Two Start*/
  .stepwizard {
    margin-bottom: 20px; }

  /*Form Wizard Two Ends*/
  /*Form Wizard Three Start*/

  /*Form Wizard Three ends*/
  /*Form Wizard Four Start*/

  /*Form Wizard Four ends*/
  .nav-material.nav-tabs {
    margin-bottom: 20px; }

  .tab-content ~ .nav-tabs.nav-material {
    margin-top: 20px; }
  .dataTables_wrapper table.dataTable {
    margin-bottom: 20px !important; }

  .m-b-30 {
    margin-bottom: 20px !important; } }
/* ========= responsive scss for 768 screen ========= */
@media only screen and (max-width: 767px) {

  .copyright {
    text-align: center; }

  .card {
    margin-bottom: 30px; }

  .document .page-main-header {
    background-color: #7e37d8; }

  .footer-copyright ~ div {
    text-align: center; }
    .footer-copyright ~ div p {
      float: none;
      margin-top: 5px; }

  .page-wrapper .page-main-header .main-header-left {
    width: 40%; }
  .page-wrapper .page-main-header .main-header-right .nav-right > ul > li {
    padding: 8px 10px 10px 10px; }
    .page-wrapper .page-main-header .main-header-right .nav-right > ul > li:first-child {
      width: 35%; }
  .page-wrapper .page-main-header .main-header-right .nav-right .onhover-dropdown .onhover-show-div {
    top: 50px; }
  .page-wrapper .page-main-header .main-header-right .nav-right .profile-dropdown {
    top: 67px !important; }
  .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown:before, .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown:after {
    right: 40px; }

  .timeline-small .media .media-body p {
    width: 100%; }

  .lg-mt-col {
    margin-top: 20px; }

  .form-builder .drag-box fieldset {
    padding: 20px;
    margin-top: 20px; }
  .form-builder #components {
    margin-top: 20px; }
  .form-builder .component label {
    padding-top: 0px; }

  .reader {
    margin-top: 15px;
    height: auto !important; }

  .authentication-main .auth-innerright {
    min-height: unset;
    padding: 0; }

  .loader-box {
    justify-content: center; }

  .btn-group .btn {
    font-size: 14px;
    padding: 0.375rem 1.2rem; }

  /* font-awesom icon page */

  .nav-material.nav-tabs {
    display: inline-block;
    width: 100%; }
    .nav-material.nav-tabs .nav-item {
      float: left; }

  .authentication-main .authentication-box {
    width: 100%; }
  .authentication-main .auth-innerright {
    display: inherit; }

  .stepwizard .stepwizard-row:before {
    top: 17px; }

  .footer-copyright {
    text-align: center !important; }

  .card-block .table-responsive .table tbody tr td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px; } }
/* ========= responsive scss for 575 screen ========= */
@media only screen and (max-width: 575px) {

  .page-wrapper .page-main-header .main-header-right .nav-right > ul {
    top: 61px; }

  .btc-buy-sell li {
    padding-bottom: 25px; }

  .welcome-popup .modal-dialog {
    max-width: 376px;
    margin-left: auto;
    margin-right: auto; }

  .page-wrapper .page-main-header .main-header-left {
    padding: 0 0 0 15px;
    width: 45%; }
    .page-wrapper .page-main-header .main-header-left .logo-wrapper img {
      width: 60px; }
  .page-wrapper .page-main-header .main-header-right .nav-right {
    padding: 0 15px; }
    .page-wrapper .page-main-header .main-header-right .nav-right ul li svg {
      width: 16px;
      height: 16px; }
    .page-wrapper .page-main-header .main-header-right .nav-right .onhover-dropdown .onhover-show-div {
      left: 96px; }
    .page-wrapper .page-main-header .main-header-right .nav-right.right-menu ul {
      justify-content: center; }
      .page-wrapper .page-main-header .main-header-right .nav-right.right-menu ul li .user-header .media-body {
        display: none; }
      .page-wrapper .page-main-header .main-header-right .nav-right.right-menu ul li .user-header img {
        width: 37px;
        margin-right: 0 !important; }
    .page-wrapper .page-main-header .main-header-right .nav-right > ul {
      padding: 10px; }
      .page-wrapper .page-main-header .main-header-right .nav-right > ul > li {
        padding: 0 8px; }
        .page-wrapper .page-main-header .main-header-right .nav-right > ul > li:first-child {
          width: auto !important;
          margin: 0 !important; }
    .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown {
      left: -85px !important; }
      .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown.onhover-show-div {
        width: 260px; }
        .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown.onhover-show-div:before, .page-wrapper .page-main-header .main-header-right .nav-right .notification-dropdown.onhover-show-div:after {
          right: 152px !important; }
  .page-wrapper .page-main-header .main-header-right .mobile-sidebar .switch-sm .switch {
    margin-top: 0;
    width: 34px;
    height: 34px; }
    .page-wrapper .page-main-header .main-header-right .mobile-sidebar .switch-sm .switch svg {
      width: 18px; }
  .page-wrapper .page-body-wrapper .iconsidebar-menu {
    top: 61px; }
    .page-wrapper .page-body-wrapper .iconsidebar-menu .iconMenu-bar {
      height: calc(100vh - 61px); }
      .page-wrapper .page-body-wrapper .iconsidebar-menu .iconMenu-bar .iconbar-mainmenu {
        top: 61px;
        height: calc(100vh - 61px); }
  .page-wrapper .page-body-wrapper .page-header .btn-group .btn {
    padding: 8px 30px; }
  .page-wrapper .page-body-wrapper .right-sidebar {
    top: 120px; }

  .vertical-mobile-sidebar {
    top: 19px; }

  .alert-theme i {
    margin-right: 10px !important; }
  .alert-theme button {
    top: 2px !important; }

  .timeline-small .media {
    margin-bottom: 15px; }
    .timeline-small .media .media-body h6 {
      margin-bottom: 15px; }
    .timeline-small .media .timeline-round.timeline-line-1:after {
      bottom: -57px;
      height: 45px; }

  .nav-tabs .nav-item.show .nav-link {
    border-top: 0;
    border-bottom: 0; }
  .nav-tabs .nav-link {
    border-top: 0;
    border-bottom: 0; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus {
      border-top: 0;
      border-bottom: 0; }

  .nav-material.nav-tabs .nav-item {
    width: 100% !important; }

  .nav {
    display: inherit;
    text-align: center;
    border-bottom: none; }

  .nav-material.nav-right .nav-link {
    text-align: center;
    border-right: none; }

  .nav-material.nav-tabs {
    margin-bottom: 10px; }

  .tab-content ~ .nav-tabs.nav-material {
    margin-top: 10px; }

  .nav-pills {
    text-align: center; }

  .auth-bg {
    padding: 25px 15px; }

  .date-picker .text-right {
    text-align: left !important; }

  .dataTables_wrapper table.dataTable {
    margin-bottom: 15px !important; }

  ul.pagination li:before {
    line-height: 3; }

  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-left: 0 !important; }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-right: 0 !important; }
  div.dataTables_wrapper table.dataTable th, div.dataTables_wrapper table.dataTable td {
    padding: 0.5rem; }

  .card .card-header .card-header-right {
    top: 15px;
    right: 20px; }

  .card .card-header h5 {
    font-size: 17px; }

  .theme-form .form-group {
    margin-bottom: 15px; }

  .page-wrapper .page-body-wrapper .default-according .card .card-header, .page-wrapper .page-body-wrapper .default-according .card .card-body, .page-wrapper .page-body-wrapper .default-according .card .card-footer {
    padding: 0.75rem 1.25rem; }
  .page-wrapper .page-body-wrapper .card {
    margin-bottom: 25px; }
    .page-wrapper .page-body-wrapper .card .card-header, .page-wrapper .page-body-wrapper .card .card-body, .page-wrapper .page-body-wrapper .card .card-footer {
      padding: 25px; }
      .page-wrapper .page-body-wrapper .card .card-header .tab-content .m-b-30, .page-wrapper .page-body-wrapper .card .card-body .tab-content .m-b-30, .page-wrapper .page-body-wrapper .card .card-footer .tab-content .m-b-30 {
        margin-bottom: 15px !important; }
  .page-wrapper .page-body-wrapper .page-body {
    padding: 0 !important; }
  .page-wrapper .page-body-wrapper .page-header {
    padding-top: 20px;
    padding-bottom: 20px; }
    .page-wrapper .page-body-wrapper .page-header .row h3 {
      font-size: 20px; }

  /* alert responsive css start here */
  .alert-primary.inverse {
    background-color: transparent; }

  .alert-secondary.inverse {
    background-color: transparent; }

  .alert-danger.inverse {
    background-color: transparent; }

  .alert-info.inverse {
    background-color: transparent; }

  .alert .close {
    height: 100%; }

  .custom-card .card-footer > div h6 {
    font-size: 14px;
    font-weight: 600; }
  .custom-card .card-footer > div h3 {
    font-size: 24px; }

  .stepwizard {
    margin-bottom: 15px; }

  .flot-chart-container {
    height: 300px; }

  .authentication-main {
    padding: 30px 15px; } }
/* ========= responsive scss for 480 screen ========= */
@media only screen and (max-width: 480px) {

  .modal-footer .btn {
    padding: 6px; }

  .nav-pills li {
    width: 100%; }

  .card .card-header > span + span {
    display: none; }

  .custom-card {
    padding: 0; }
    .custom-card .card-footer > div h3 {
      font-size: 20px; }

  .card .card-header .card-header-right i {
    margin: 0 3px;
    font-size: 14px; }

  .cal-date-widget {
    padding: 30px; }

  .stepwizard .stepwizard-row:before {
    top: 17px; }
  .stepwizard .stepwizard-row .stepwizard-step .btn {
    padding: 6px 22px; }

  .badge {
    padding: 0.42em 0.7em; }

  .notify-alert {
    width: 90%; } }
/* ========= responsive scss for 360 screen ========= */
@media only screen and (max-width: 360px) {
  .welcome-popup .modal-dialog {
    max-width: 269px; }
    .welcome-popup .modal-dialog .modal-body .p-30 {
      padding: 80px 10px 10px; }

  .note {
    min-width: 240px;
    min-height: 240px; }

  .datepicker-inline .datepicker {
    max-width: 220px; }

  .alert-theme {
    font-size: 12px; }
    .alert-theme button {
      right: 30px !important; }
    .alert-theme i {
      display: none; }
    .alert-theme span + span + span {
      padding: 15px; }

  .page-wrapper .page-main-header .main-header-left {
    width: 50%; }

  .custom-card .card-footer > div h6 {
    font-size: 12px; }

  .timeline-small .media .timeline-round.timeline-line-1:after {
    bottom: -74px;
    height: 56px; }

  .flot-chart-container {
    height: 230px; }

  /* responsive material tabs*/
  .nav-material.nav-tabs .nav-item .nav-link {
    padding: 10px 0px; }

  .cal-date-widget .datepicker {
    padding: 0;
    width: unset; }

  .stepwizard .stepwizard-row .stepwizard-step .btn {
    padding: 6px 20px; }

  .default-according .card .card-header i {
    font-size: 14px;
    top: 24px; }
  .default-according .card .btn-link {
    display: block;
    width: 100%;
    padding-left: 17px; } }
/**=====================
    74. Responsive CSS Ends
==========================**/
