/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */

/* * Extends the .visuallyhidden class to allow the element to be focusable * when navigated to via the keyboard: h5bp.com/p */

/* * Hide visually and from screenreaders, but maintain layout */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

 .note, .button {
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }

.note {
  float: left;
  display: block;
  position: relative;
  padding: 1em;
  width: calc(25% - 30px);
  min-height: 300px;
  margin: 15px;
  border-radius: 5px;
  background-color: #b58ce9;
  transition: transform .15s;
  z-index: 1; }
  .note:hover {
    cursor: move; }
  .note textarea {
    background-color: transparent;
    border: none;
    resize: vertical;
    font-style: italic;
    width: 100%;
    padding: 5px; }
    .note textarea:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2) inset; }
    .note textarea.title {
      font-size: 24px;
      line-height: 1.2;
      color: #000000;
      height: 64px;
      margin-top: 20px; }
  .note:nth-child(2n) {
    background: white; }
  .note:nth-child(3n) {
    background: #edffcf; }
  .note:nth-child(4n) {
    background: #68dffb; }
  .note:nth-child(5n) {
    background: #fff2ca; }
  .note:nth-child(6n) {
    background: #fecfdb; }

/* Button style  */
.button {
  color: #FFFFFF;
  padding: 1em 2em;
  text-decoration: none;
  transition: transform .150s, background .01s; }
  .button.remove {
    position: absolute;
    top: 0;
    right: -10px;
    color: #999; }

@media only screen and (max-width: 1199px) {
  .note {
    min-width: 260px;
    min-height: 260px; } }
