@font-face {
  font-family: summernote;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/summernote/summernote.eot?dbafe969167589eda84514394d126413);
  src: url(../fonts/summernote/summernote.eot?#iefix) format("embedded-opentype"), url(../fonts/summernote/summernote.woff?dbafe969167589eda84514394d126413) format("woff"), url(../fonts/summernote/summernote.ttf?dbafe969167589eda84514394d126413) format("truetype"); }
