/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify//themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *margin-right: .3em; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes the font 33% larger relative to the icon container */

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline; }

/* increased font size for icon-large */

[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none; }

.icon-light {
  color: white; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em; }
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em; }

/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */

/* Animated rotating icon */

/* Prevent stack and spinners from being taken inline when inside a link */

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
/* Icon rotations and mirroring */

/* ensure rotation occurs inside anchor tags */

.icon-unlock:before {
  content: "\e603"; }

.icon-tag:before {
  content: "\e608"; }

.icon-settings:before {
  content: "\e60f"; }

.icon-search:before {
  content: "\e610"; }

.icon-cut:before {
  content: "\e613"; }

.icon-pin:before {
  content: "\e61b"; }

.icon-mobile:before {
  content: "\e621"; }

.icon-minus:before {
  content: "\e622"; }

.icon-lock:before {
  content: "\e62b"; }

.icon-link:before {
  content: "\e62d"; }

.icon-folder:before {
  content: "\e639"; }

.icon-crown:before {
  content: "\e642"; }

.icon-comments:before {
  content: "\e643"; }

.icon-comment:before {
  content: "\e644"; }

.icon-close:before {
  content: "\e646"; }

.icon-check:before {
  content: "\e64c"; }

.icon-camera:before {
  content: "\e64e"; }

.icon-move:before {
  content: "\e656"; }

.icon-zip:before {
  content: "\e664"; }

.icon-upload:before {
  content: "\e66b"; }

.icon-ticket:before {
  content: "\e66f"; }

.icon-text:before {
  content: "\e672"; }

.icon-music:before {
  content: "\e688"; }

.icon-money:before {
  content: "\e68c"; }

.icon-menu:before {
  content: "\e68e"; }

.icon-map:before {
  content: "\e690"; }

.icon-list:before {
  content: "\e694"; }

.icon-info:before {
  content: "\e697"; }

.icon-home:before {
  content: "\e69b"; }

.icon-help:before {
  content: "\e69c"; }

.icon-game:before {
  content: "\e6a1"; }

.icon-filter:before {
  content: "\e6a2"; }

.icon-file:before {
  content: "\e6a4"; }

.icon-eraser:before {
  content: "\e6a5"; }

.icon-envelope:before {
  content: "\e6a6"; }

.icon-download:before {
  content: "\e6a7"; }

.icon-calendar:before {
  content: "\e6b6"; }

.icon-write:before {
  content: "\e6c8"; }

.icon-more:before {
  content: "\e6e1"; }

.icon-help-alt:before {
  content: "\e718"; }

.icon-time:before {
  content: "\e72b"; }

.icon-share:before {
  content: "\e72e"; }

.icon-android:before {
  content: "\e745"; }

.icon-email:before {
  content: "\e75a"; }
