/*====todo css start====*/
@-webkit-keyframes taskHighlighter {
  0% {
    background: rgba(68, 102, 242, 0.5); }
  100% {
    background: #fff; } }
@keyframes taskHighlighter {
  0% {
    background: rgba(68, 102, 242, 0.5); }
  100% {
    background: #fff; } }
/*====todo css end====*/
