@font-face {
  font-family: typicons;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/typicon-icon/typicons.eot);
  src: url(../fonts/typicon-icon/typicons.eot?#iefix) format("embedded-opentype"), url(../fonts/typicon-icon/typicons.woff) format("woff"), url(../fonts/typicon-icon/typicons.ttf) format("truetype"), url(../fonts/typicon-icon/typicons.svg#typicons) format("svg"); }
