/* VARIABLES */
/* Applies a stroke to the icons. Can use percentage for responsive */

/* SVG GLOBAL */

g, path, circle {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  animation-duration: 18s;
  animation-direction: normal; }

/* SUN */

/* MOON */

/* WIND */

/* SNOWFLAKE */

/* CLOUD SUN */

/* CLOUD MOON */

/* DRIZZLE */

/* RAIN */

/* HAIL */
/* HAIL ALT */

/* SNOW */

/* SNOW ALT */

/* FOG */

/* LIGHTNING */

/* TORNADO */

/* ANIMATIONS */
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes partialRotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes scale {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0.5, 0.5); } }
@keyframes behindCloudMove {
  0% {
    transform: translateX(-1.75px) translateY(1.75px); }
  100% {
    transform: translateX(0) translateY(0); } }
@keyframes drizzleFall {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(21px); } }
@keyframes rainFall {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(14px); } }
@keyframes rainFall2 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(14px); }
  100% {
    transform: translateX(14px) translateY(14px); } }
@keyframes hailLeft {
  50% {
    transform: translateY(17.5px); }
  51% {
    transform: translateY(17.5px) translateX(-0.3px); }
  53% {
    transform: translateY(16.4033342063px) translateX(-0.9px); }
  55% {
    transform: translateY(15.3239634873px) translateX(-1.5px); }
  57% {
    transform: translateY(14.278910164px) translateX(-2.1px); }
  59% {
    transform: translateY(13.2846553516px) translateX(-2.7px); }
  61% {
    transform: translateY(12.3568790424px) translateX(-3.3px); }
  63% {
    transform: translateY(11.5102128231px) translateX(-3.9px); }
  65% {
    transform: translateY(10.7580091257px) translateX(-4.5px); }
  67% {
    transform: translateY(10.1121306519px) translateX(-5.1px); }
  69% {
    transform: translateY(9.5827632909px) translateX(-5.7px); }
  71% {
    transform: translateY(9.1782554824px) translateX(-6.3px); }
  73% {
    transform: translateY(8.9049865561px) translateX(-6.9px); }
  75% {
    transform: translateY(8.7672661263px) translateX(-7.5px); }
  77% {
    transform: translateY(8.7672661263px) translateX(-8.1px); }
  79% {
    transform: translateY(8.9049865561px) translateX(-8.7px); }
  81% {
    transform: translateY(9.1782554824px) translateX(-9.3px); }
  83% {
    transform: translateY(9.5827632909px) translateX(-9.9px); }
  85% {
    transform: translateY(10.1121306519px) translateX(-10.5px); }
  87% {
    transform: translateY(10.7580091257px) translateX(-11.1px); }
  89% {
    transform: translateY(11.5102128231px) translateX(-11.7px); }
  91% {
    transform: translateY(12.3568790424px) translateX(-12.3px); }
  93% {
    transform: translateY(13.2846553516px) translateX(-12.9px); }
  95% {
    transform: translateY(14.278910164px) translateX(-13.5px); }
  97% {
    transform: translateY(15.3239634873px) translateX(-14.1px); }
  99% {
    transform: translateY(16.4033342063px) translateX(-14.7px); } }
@keyframes hailMiddle {
  50% {
    transform: translateY(17.5px); }
  51% {
    transform: translateY(17.5px) translateX(-0.15px); }
  53% {
    transform: translateY(16.4033342063px) translateX(-0.45px); }
  55% {
    transform: translateY(15.3239634873px) translateX(-0.75px); }
  57% {
    transform: translateY(14.278910164px) translateX(-1.05px); }
  59% {
    transform: translateY(13.2846553516px) translateX(-1.35px); }
  61% {
    transform: translateY(12.3568790424px) translateX(-1.65px); }
  63% {
    transform: translateY(11.5102128231px) translateX(-1.95px); }
  65% {
    transform: translateY(10.7580091257px) translateX(-2.25px); }
  67% {
    transform: translateY(10.1121306519px) translateX(-2.55px); }
  69% {
    transform: translateY(9.5827632909px) translateX(-2.85px); }
  71% {
    transform: translateY(9.1782554824px) translateX(-3.15px); }
  73% {
    transform: translateY(8.9049865561px) translateX(-3.45px); }
  75% {
    transform: translateY(8.7672661263px) translateX(-3.75px); }
  77% {
    transform: translateY(8.7672661263px) translateX(-4.05px); }
  79% {
    transform: translateY(8.9049865561px) translateX(-4.35px); }
  81% {
    transform: translateY(9.1782554824px) translateX(-4.65px); }
  83% {
    transform: translateY(9.5827632909px) translateX(-4.95px); }
  85% {
    transform: translateY(10.1121306519px) translateX(-5.25px); }
  87% {
    transform: translateY(10.7580091257px) translateX(-5.55px); }
  89% {
    transform: translateY(11.5102128231px) translateX(-5.85px); }
  91% {
    transform: translateY(12.3568790424px) translateX(-6.15px); }
  93% {
    transform: translateY(13.2846553516px) translateX(-6.45px); }
  95% {
    transform: translateY(14.278910164px) translateX(-6.75px); }
  97% {
    transform: translateY(15.3239634873px) translateX(-7.05px); }
  99% {
    transform: translateY(16.4033342063px) translateX(-7.35px); } }
@keyframes hailMiddle2 {
  50% {
    transform: translateY(17.5px); }
  51% {
    transform: translateY(17.5px) translateX(0.15px); }
  53% {
    transform: translateY(16.4033342063px) translateX(0.45px); }
  55% {
    transform: translateY(15.3239634873px) translateX(0.75px); }
  57% {
    transform: translateY(14.278910164px) translateX(1.05px); }
  59% {
    transform: translateY(13.2846553516px) translateX(1.35px); }
  61% {
    transform: translateY(12.3568790424px) translateX(1.65px); }
  63% {
    transform: translateY(11.5102128231px) translateX(1.95px); }
  65% {
    transform: translateY(10.7580091257px) translateX(2.25px); }
  67% {
    transform: translateY(10.1121306519px) translateX(2.55px); }
  69% {
    transform: translateY(9.5827632909px) translateX(2.85px); }
  71% {
    transform: translateY(9.1782554824px) translateX(3.15px); }
  73% {
    transform: translateY(8.9049865561px) translateX(3.45px); }
  75% {
    transform: translateY(8.7672661263px) translateX(3.75px); }
  77% {
    transform: translateY(8.7672661263px) translateX(4.05px); }
  79% {
    transform: translateY(8.9049865561px) translateX(4.35px); }
  81% {
    transform: translateY(9.1782554824px) translateX(4.65px); }
  83% {
    transform: translateY(9.5827632909px) translateX(4.95px); }
  85% {
    transform: translateY(10.1121306519px) translateX(5.25px); }
  87% {
    transform: translateY(10.7580091257px) translateX(5.55px); }
  89% {
    transform: translateY(11.5102128231px) translateX(5.85px); }
  91% {
    transform: translateY(12.3568790424px) translateX(6.15px); }
  93% {
    transform: translateY(13.2846553516px) translateX(6.45px); }
  95% {
    transform: translateY(14.278910164px) translateX(6.75px); }
  97% {
    transform: translateY(15.3239634873px) translateX(7.05px); }
  99% {
    transform: translateY(16.4033342063px) translateX(7.35px); } }
@keyframes hailRight {
  50% {
    transform: translateY(17.5px); }
  51% {
    transform: translateY(17.5px) translateX(0.3px); }
  53% {
    transform: translateY(16.4033342063px) translateX(0.9px); }
  55% {
    transform: translateY(15.3239634873px) translateX(1.5px); }
  57% {
    transform: translateY(14.278910164px) translateX(2.1px); }
  59% {
    transform: translateY(13.2846553516px) translateX(2.7px); }
  61% {
    transform: translateY(12.3568790424px) translateX(3.3px); }
  63% {
    transform: translateY(11.5102128231px) translateX(3.9px); }
  65% {
    transform: translateY(10.7580091257px) translateX(4.5px); }
  67% {
    transform: translateY(10.1121306519px) translateX(5.1px); }
  69% {
    transform: translateY(9.5827632909px) translateX(5.7px); }
  71% {
    transform: translateY(9.1782554824px) translateX(6.3px); }
  73% {
    transform: translateY(8.9049865561px) translateX(6.9px); }
  75% {
    transform: translateY(8.7672661263px) translateX(7.5px); }
  77% {
    transform: translateY(8.7672661263px) translateX(8.1px); }
  79% {
    transform: translateY(8.9049865561px) translateX(8.7px); }
  81% {
    transform: translateY(9.1782554824px) translateX(9.3px); }
  83% {
    transform: translateY(9.5827632909px) translateX(9.9px); }
  85% {
    transform: translateY(10.1121306519px) translateX(10.5px); }
  87% {
    transform: translateY(10.7580091257px) translateX(11.1px); }
  89% {
    transform: translateY(11.5102128231px) translateX(11.7px); }
  91% {
    transform: translateY(12.3568790424px) translateX(12.3px); }
  93% {
    transform: translateY(13.2846553516px) translateX(12.9px); }
  95% {
    transform: translateY(14.278910164px) translateX(13.5px); }
  97% {
    transform: translateY(15.3239634873px) translateX(14.1px); }
  99% {
    transform: translateY(16.4033342063px) translateX(14.7px); } }
@keyframes fillOpacity {
  0% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  100% {
    fill-opacity: 1;
    stroke-opacity: 1; } }
@keyframes fillOpacity2 {
  0% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes lightningFlash {
  0% {
    fill-opacity: 0; }
  1% {
    fill-opacity: 1; }
  2% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 0; }
  51% {
    fill-opacity: 1; }
  52% {
    fill-opacity: 0; }
  53% {
    fill-opacity: 1; }
  54% {
    fill-opacity: 0; }
  100% {
    fill-opacity: 0; } }
@keyframes snowFall {
  0% {
    transform: translateY(0px) translateX(0px); }
  2% {
    transform: translateY(0.35px) translateX(0.7534862344px); }
  4% {
    transform: translateY(0.7px) translateX(1.441332186px); }
  6% {
    transform: translateY(1.05px) translateX(2.0611944604px); }
  8% {
    transform: translateY(1.4px) translateX(2.6112438152px); }
  10% {
    transform: translateY(1.75px) translateX(3.0901699437px); }
  12% {
    transform: translateY(2.1px) translateX(3.4971832505px); }
  14% {
    transform: translateY(2.45px) translateX(3.8320136241px); }
  16% {
    transform: translateY(2.8px) translateX(4.0949062299px); }
  18% {
    transform: translateY(3.15px) translateX(4.2866143598px); }
  20% {
    transform: translateY(3.5px) translateX(4.4083893922px); }
  22% {
    transform: translateY(3.85px) translateX(4.4619679282px); }
  24% {
    transform: translateY(4.2px) translateX(4.4495561885px); }
  26% {
    transform: translateY(4.55px) translateX(4.3738117645px); }
  28% {
    transform: translateY(4.9px) translateX(4.2378228353px); }
  30% {
    transform: translateY(5.25px) translateX(4.0450849719px); }
  32% {
    transform: translateY(5.6px) translateX(3.7994756648px); }
  34% {
    transform: translateY(5.95px) translateX(3.5052267202px); }
  36% {
    transform: translateY(6.3px) translateX(3.1668946836px); }
  38% {
    transform: translateY(6.65px) translateX(2.7893294577px); }
  40% {
    transform: translateY(7px) translateX(2.3776412907px); }
  42% {
    transform: translateY(7.35px) translateX(1.9371663223px); }
  44% {
    transform: translateY(7.7px) translateX(1.4734308761px); }
  46% {
    transform: translateY(8.05px) translateX(0.9921147013px); }
  48% {
    transform: translateY(8.4px) translateX(0.4990133642px); }
  50% {
    transform: translateY(8.75px) translateX(0px); }
  52% {
    transform: translateY(9.1px) translateX(-0.4990133642px); }
  54% {
    transform: translateY(9.45px) translateX(-0.9921147013px); }
  56% {
    transform: translateY(9.8px) translateX(-1.4734308761px); }
  58% {
    transform: translateY(10.15px) translateX(-1.9371663223px); }
  60% {
    transform: translateY(10.5px) translateX(-2.3776412907px); }
  62% {
    transform: translateY(10.85px) translateX(-2.7893294577px); }
  64% {
    transform: translateY(11.2px) translateX(-3.1668946836px); }
  66% {
    transform: translateY(11.55px) translateX(-3.5052267202px); }
  68% {
    transform: translateY(11.9px) translateX(-3.7994756648px); }
  70% {
    transform: translateY(12.25px) translateX(-4.0450849719px); }
  72% {
    transform: translateY(12.6px) translateX(-4.2378228353px); }
  74% {
    transform: translateY(12.95px) translateX(-4.3738117645px); }
  76% {
    transform: translateY(13.3px) translateX(-4.4495561885px); }
  78% {
    transform: translateY(13.65px) translateX(-4.4619679282px); }
  80% {
    transform: translateY(14px) translateX(-4.4083893922px); }
  82% {
    transform: translateY(14.35px) translateX(-4.2866143598px); }
  84% {
    transform: translateY(14.7px) translateX(-4.0949062299px); }
  86% {
    transform: translateY(15.05px) translateX(-3.8320136241px); }
  88% {
    transform: translateY(15.4px) translateX(-3.4971832505px); }
  90% {
    transform: translateY(15.75px) translateX(-3.0901699438px); }
  92% {
    transform: translateY(16.1px) translateX(-2.6112438152px); }
  94% {
    transform: translateY(16.45px) translateX(-2.0611944605px); }
  96% {
    transform: translateY(16.8px) translateX(-1.441332186px); }
  98% {
    transform: translateY(17.15px) translateX(-0.7534862344px); }
  100% {
    transform: translateY(17.5px) translateX(-0.0000000001px); } }
@keyframes snowFall2 {
  0% {
    transform: translateY(0px) translateX(0px); }
  2% {
    transform: translateY(0.35px) translateX(-0.7534862344px); }
  4% {
    transform: translateY(0.7px) translateX(-1.441332186px); }
  6% {
    transform: translateY(1.05px) translateX(-2.0611944604px); }
  8% {
    transform: translateY(1.4px) translateX(-2.6112438152px); }
  10% {
    transform: translateY(1.75px) translateX(-3.0901699437px); }
  12% {
    transform: translateY(2.1px) translateX(-3.4971832505px); }
  14% {
    transform: translateY(2.45px) translateX(-3.8320136241px); }
  16% {
    transform: translateY(2.8px) translateX(-4.0949062299px); }
  18% {
    transform: translateY(3.15px) translateX(-4.2866143598px); }
  20% {
    transform: translateY(3.5px) translateX(-4.4083893922px); }
  22% {
    transform: translateY(3.85px) translateX(-4.4619679282px); }
  24% {
    transform: translateY(4.2px) translateX(-4.4495561885px); }
  26% {
    transform: translateY(4.55px) translateX(-4.3738117645px); }
  28% {
    transform: translateY(4.9px) translateX(-4.2378228353px); }
  30% {
    transform: translateY(5.25px) translateX(-4.0450849719px); }
  32% {
    transform: translateY(5.6px) translateX(-3.7994756648px); }
  34% {
    transform: translateY(5.95px) translateX(-3.5052267202px); }
  36% {
    transform: translateY(6.3px) translateX(-3.1668946836px); }
  38% {
    transform: translateY(6.65px) translateX(-2.7893294577px); }
  40% {
    transform: translateY(7px) translateX(-2.3776412907px); }
  42% {
    transform: translateY(7.35px) translateX(-1.9371663223px); }
  44% {
    transform: translateY(7.7px) translateX(-1.4734308761px); }
  46% {
    transform: translateY(8.05px) translateX(-0.9921147013px); }
  48% {
    transform: translateY(8.4px) translateX(-0.4990133642px); }
  50% {
    transform: translateY(8.75px) translateX(0px); }
  52% {
    transform: translateY(9.1px) translateX(0.4990133642px); }
  54% {
    transform: translateY(9.45px) translateX(0.9921147013px); }
  56% {
    transform: translateY(9.8px) translateX(1.4734308761px); }
  58% {
    transform: translateY(10.15px) translateX(1.9371663223px); }
  60% {
    transform: translateY(10.5px) translateX(2.3776412907px); }
  62% {
    transform: translateY(10.85px) translateX(2.7893294577px); }
  64% {
    transform: translateY(11.2px) translateX(3.1668946836px); }
  66% {
    transform: translateY(11.55px) translateX(3.5052267202px); }
  68% {
    transform: translateY(11.9px) translateX(3.7994756648px); }
  70% {
    transform: translateY(12.25px) translateX(4.0450849719px); }
  72% {
    transform: translateY(12.6px) translateX(4.2378228353px); }
  74% {
    transform: translateY(12.95px) translateX(4.3738117645px); }
  76% {
    transform: translateY(13.3px) translateX(4.4495561885px); }
  78% {
    transform: translateY(13.65px) translateX(4.4619679282px); }
  80% {
    transform: translateY(14px) translateX(4.4083893922px); }
  82% {
    transform: translateY(14.35px) translateX(4.2866143598px); }
  84% {
    transform: translateY(14.7px) translateX(4.0949062299px); }
  86% {
    transform: translateY(15.05px) translateX(3.8320136241px); }
  88% {
    transform: translateY(15.4px) translateX(3.4971832505px); }
  90% {
    transform: translateY(15.75px) translateX(3.0901699438px); }
  92% {
    transform: translateY(16.1px) translateX(2.6112438152px); }
  94% {
    transform: translateY(16.45px) translateX(2.0611944605px); }
  96% {
    transform: translateY(16.8px) translateX(1.441332186px); }
  98% {
    transform: translateY(17.15px) translateX(0.7534862344px); }
  100% {
    transform: translateY(17.5px) translateX(0.0000000001px); } }
/* Tornado */
@keyframes translateTornado1 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(3.997px); }
  75% {
    transform: translateX(-3.997px); }
  100% {
    transform: translateX(0); } }
@keyframes translateTornado2 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(2.002px); }
  75% {
    transform: translateX(-2.002px); }
  100% {
    transform: translateX(0); } }
@keyframes translateTornado3 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(8.001px); }
  75% {
    transform: translateX(-8.001px); }
  100% {
    transform: translateX(0); } }
@keyframes translateTornado4 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(5.999px); }
  75% {
    transform: translateX(-5.999px); }
  100% {
    transform: translateX(0); } }
@keyframes translateTornado5 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(10.003px); }
  75% {
    transform: translateX(-10.003px); }
  100% {
    transform: translateX(0); } }
@keyframes translateTornado6 {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(5.999px); }
  75% {
    transform: translateX(-5.999px); }
  100% {
    transform: translateX(0); } }
@keyframes fillOpacityLightning {
  0% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  1% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  7% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  50% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  51% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  53% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  54% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  60% {
    fill-opacity: 0;
    stroke-opacity: 0; }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }
@keyframes translateFog {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(2.499px); }
  75% {
    transform: translateX(-2.499px); }
  100% {
    transform: translateX(0); } }
@keyframes fillOpacityFog {
  0% {
    fill-opacity: 0.5;
    stroke-opacity: 0.5; }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1; }
  100% {
    fill-opacity: 0.5;
    stroke-opacity: 0.5; } }
@keyframes translateSunrise {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-16.002px); }
  100% {
    transform: translateY(-16.002px); } }
@keyframes translateSunset {
  0% {
    transform: translateY(-16.002px); }
  25% {
    transform: translateY(-3.997px); }
  100% {
    transform: translateY(-3.997px); } }
@keyframes translateArrowDown {
  0% {
    transform: translateY(2.002px); }
  100% {
    transform: translateY(4.998px); } }
@keyframes translateArrowUp {
  0% {
    transform: translateY(-2.002px); }
  100% {
    transform: translateY(-4.998px); } }
@keyframes translateWind {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateX(4.998px); }
  75% {
    transform: translateX(-4.998px); }
  100% {
    transform: translateX(0); } }
