// Right sidebar Start
#right_side_bar.right-sidebar
                    div
                        .container.p-0
                            .modal-header.p-l-20.p-r-20
                                .col-sm-8.p-0
                                    h6.modal-title.font-weight-bold Contacts Status
                                .col-sm-4.text-right.p-0
                                    i.mr-2(data-feather='settings')
                        .friend-list-search.mt-0
                            input(type='text', placeholder='search friend')
                            i.fa.fa-search
                        .p-l-30.p-r-30
                            .chat-box
                                .people-list.friend-list
                                    ul.list
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/1.jpg', alt='')
                                            .status-circle.online
                                            .about
                                                .name Vincent Porter
                                                .status  Online
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/2.jpg', alt='')
                                            .status-circle.away
                                            .about
                                                .name Ain Chavez
                                                .status  28 minutes ago
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/8.jpg', alt='')
                                            .status-circle.online
                                            .about
                                                .name Kori Thomas
                                                .status  Online
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/4.jpg', alt='')
                                            .status-circle.online
                                            .about
                                                .name Erica Hughes
                                                .status  Online
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/5.jpg', alt='')
                                            .status-circle.offline
                                            .about
                                                .name Ginger Johnston
                                                .status  2 minutes ago
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/6.jpg', alt='')
                                            .status-circle.away
                                            .about
                                                .name Prasanth Anand
                                                .status  2 hour ago
                                        li.clearfix
                                            img.rounded-small.user-image(src='./../assets/images/user/7.jpg', alt='')
                                            .status-circle.online
                                            .about
                                                .name Hileri Jecno
                                                .status  Online
// Right sidebar Ends