// footer start
if footer_dark
  footer.footer.footer-dark
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 Copyright © 2021 Poco. All rights reserved.
                .col-md-6
                    p.pull-right.mb-0
                        | Hand-crafted & made with
                        i.fa.fa-heart
else if footer_fix
  footer.footer.footer-fix
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 Copyright © 2021 Poco. All rights reserved.
                .col-md-6
                    p.pull-right.mb-0
                        | Hand-crafted & made with
                        i.fa.fa-heart
else
  footer.footer
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0 Copyright © 2021 Poco. All rights reserved.
                .col-md-6
                    p.pull-right.mb-0
                        | Hand-crafted & made with
                        i.fa.fa-heart
