
head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Poco admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
        meta(name='keywords', content='admin template, Poco admin template, dashboard template, flat admin template, responsive admin template, web app')
        meta(name='author', content='pixelstrap')
        link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
        link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
        title Poco - Premium Admin Template
        // Google font
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        // Font Awesome
        link(rel='stylesheet', type='text/css', href='../assets/css/fontawesome.css')
        // ico-font
        link(rel='stylesheet', type='text/css', href='../assets/css/icofont.css')
        // Themify icon
        link(rel='stylesheet', type='text/css', href='../assets/css/themify.css')
        // Flag icon
        link(rel='stylesheet', type='text/css', href='../assets/css/flag-icon.css')
        // Feather icon
        link(rel='stylesheet', type='text/css', href='../assets/css/feather-icon.css')        
        
        link(rel='stylesheet', type='text/css', href='../assets/css/animate.css')
        
        // Plugins css start
        if landingpage
            link(href='https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')        
        if jsgrid
            link(rel='stylesheet', type='text/css', href='../assets/css/jsgrid.css')        
        if aos
            link(rel='stylesheet', type='text/css', href='../assets/css/aos.css')
        if button_builder
            link(rel='stylesheet', type='text/css', href='../assets/css/button-builder.css')        
        if calendar
            link(rel='stylesheet', type='text/css', href='../assets/css/calendar.css')
        if chartist
            link(rel='stylesheet', type='text/css', href='../assets/css/chartist.css')
        if datatable
            link(rel='stylesheet', type='text/css', href='../assets/css/datatables.css')
        if datatable_extension
            link(rel='stylesheet', type='text/css', href='../assets/css/datatable-extension.css')
        if select2
            link(rel='stylesheet', type='text/css', href='../assets/css/select2.css')
        if date_picker
            link(rel='stylesheet', type='text/css', href='../assets/css/date-picker.css')
        if date_rangepicker
            link(rel='stylesheet', type='text/css', href='../assets/css/daterange-picker.css')
        if dropzone
            link(rel='stylesheet', type='text/css', href='../assets/css/dropzone.css')
        if image_cropper
            link(rel='stylesheet', type='text/css', href='../assets/css/image-cropper.css')
        if owlcarousel
            link(rel='stylesheet', type='text/css', href='../assets/css/owlcarousel.css')
        if page_builder
            link(rel='stylesheet', type='text/css', href='../assets/css/page-builder.css')
        if photo_swipe
            link(rel='stylesheet', type='text/css', href='../assets/css/photoswipe.css')
        if print
            link(rel='stylesheet', type='text/css', href='../assets/css/print.css')
        if prism
            link(rel='stylesheet', type='text/css', href='../assets/css/prism.css')
        if range_slider
            link(rel='stylesheet', type='text/css', href='../assets/css/range-slider.css')
        if rating
            link(rel='stylesheet', type='text/css', href='../assets/css/rating.css')
        if scrollable
            link(rel='stylesheet', type='text/css', href='../assets/css/scrollable.css')
        if simple_mde
            link(rel='stylesheet', type='text/css', href='../assets/css/simple-mde.css')
        if sticky
            link(rel='stylesheet', type='text/css', href='../assets/css/sticky.css')
        if summernote
            link(rel='stylesheet', type='text/css', href='../assets/css/summernote.css')
        if svg_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/svg-icon.css')
        if sweetalert2
            link(rel='stylesheet', type='text/css', href='../assets/css/sweetalert2.css')
        if time_picker
            link(rel='stylesheet', type='text/css', href='../assets/css/timepicker.css')
        if todo
            link(rel='stylesheet', type='text/css', href='../assets/css/todo.css')
        if tour
            link(rel='stylesheet', type='text/css', href='../assets/css/tour.css')
        if tree
            link(rel='stylesheet', type='text/css', href='../assets/css/tree.css')
        if vector_map
            link(rel='stylesheet', type='text/css', href='../assets/css/vector-map.css')
        if vertical_menu
            link(rel='stylesheet', type='text/css', href='../assets/css/vertical-menu.css')
        if whether_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/whether-icon.css')
        if simple_line_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/simple-line-icon.css')
        if material_design_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/material-design-icon.css')
        if pe7_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/pe7-icon.css')
        if typicon_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/typicon-icon.css')
        if ionic_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/ionic-icon.css')
        if map_js
            link(rel='stylesheet', type='text/css', href='../assets/css/mapsjs-ui.css')
        // Plugins css Ends

        // Bootstrap css
        link(rel='stylesheet', type='text/css', href='../assets/css/bootstrap.css')

        // App css
        link(rel='stylesheet', type='text/css', href='../assets/css/style.css')
        link#color(rel='stylesheet', href='../assets/css/light-1.css', media='screen')
        // Responsive css
        link(rel='stylesheet', type='text/css', href='../assets/css/responsive.css')

