// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '');
.page-sidebar(class=status)

                    .main-header-left.d-none.d-lg-block
                        .logo-wrapper
                            a(href='index.html')
                                img(src='../assets/images/logo/compact-logo.png', alt='')
                    div.sidebar.custom-scrollbar
                        .sidebar-user.text-center
                            div
                                img.img-60.rounded-circle(src='../assets/images/user/1.jpg', alt='#')
                                .profile-edit
                                    a(href='edit-profile.html', target='_blank')
                                        i(data-feather='edit')
                            h6.mt-3.f-14 ELANA
                            p general manager.
                        ul.sidebar-menu
                            li
                                a.sidebar-header(href='index.html')
                                    i(data-feather='home')
                                    span Dashboard
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='layout')
                                    span Layouts
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Light Sidebar
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Dark Sidebar
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Sidebar Fixed
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='clipboard')
                                    span Reports
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Order Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Hr Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Annual Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Product Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Quartely Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Sales Reports
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Monthly Reports
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='box')
                                    span Management
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Staff Management
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Client Management
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Product Management
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='message-square')
                                    span Feedbacks
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Product Feedbacks
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Prdouct Rating
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Customer Review
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Customer Support
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='settings')
                                    span Settings
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Profile
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Accounts
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Notificaton
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Support
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='headphones')
                                    span Support
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Ticket
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Blog
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Pricing
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Privacy
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Policy
                                    li
                                        a(href='inner-page.html')
                                            i.fa.fa-circle
                                            | Documentation

// Page Sidebar Ends