 // vertical menu start
.vertical-menu-main
        nav#main-nav
          // Sample menu definition
          ul#main-menu.sm.pixelstrap
            li
              .text-right.mobile-back
                | Back
                i.fa.fa-angle-right.pl-2(aria-hidden='true')
            li
              a(href='index.html')
                i.font-primary(data-feather='home')
                |  Dashboard
            li
              a(href='#')
                i.font-primary(data-feather='layout')
                |  Layouts
              ul
                li
                  a(href='inner-page.html') Light Sidebar
                li
                  a(href='inner-page.html') Dark Sidebar
                li
                  a(href='inner-page.html') Sidebar Fixed
            li
              a(href='#')
                i.font-primary(data-feather='clipboard')
                |  Reports
              ul
                li
                  a(href='inner-page.html') Order Reports
                li
                  a(href='inner-page.html') Hr Reports
                li
                  a(href='inner-page.html') Annual Reports
                li
                  a(href='inner-page.html') Product Reports
                li
                  a(href='inner-page.html') Quartely Reports
                li
                  a(href='inner-page.html') Sales Reports
                li
                  a(href='inner-page.html') Monthly Reports
            li
              a(href='#')
                i.font-primary(data-feather='box')
                |  Management
              ul
                li
                  a(href='inner-page.html') Staff Management
                li
                  a(href='inner-page.html') Client Management
                li
                  a(href='inner-page.html') Product Management
            li
              a(href='#')
                i.font-primary(data-feather='message-square')
                |  Feedbacks
              ul
                li
                  a(href='inner-page.html') Product Feedbacks
                li
                  a(href='inner-page.html') Prdouct Rating
                li
                  a(href='inner-page.html') Customer Review
                li
                  a(href='inner-page.html') Customer Support
            li
              a(href='#')
                i.font-primary(data-feather='settings')
                |  Settings
              ul
                li
                  a(href='inner-page.html') Profile
                li
                  a(href='inner-page.html') Accounts
                li
                  a(href='inner-page.html') Notificaton
                li
                  a(href='inner-page.html') Support
            li
              a(href='#')
                i.font-primary(data-feather='headphones')
                |  Support
              ul
                li
                  a(href='inner-page.html') Ticket
                li
                  a(href='inner-page.html') Blog
                li
                  a(href='inner-page.html') Pricing
                li
                  a(href='inner-page.html') Privacy
                li
                  a(href='inner-page.html') Policy
                li
                  a(href='inner-page.html') Documentation
// vertical menu ends