// Page Sidebar Start
- var status = (sidebar_open ? 'open' : (sidebar_image ? 'native-image-bg' : ''));

.iconsidebar-menu(class=status)

                    div.sidebar
                        ul.iconMenu-bar.custom-scrollbar
                            li
                                a.bar-icons(href='#')
                                    //img(src='../assets/images/menu/home.png' alt='')
                                    i.pe-7s-home
                                    span General    
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Dashboard
                                    li
                                        a(href='index.html')
                                            | Default
                                    li
                                       a(href='dashboard-crypto.html')
                                            | Crypto
                                    li
                                        a(href='dashboard-ecommerce.html')
                                            | Ecommerce
                                    li.iconbar-header.sub-header Widgets
                                    li
                                        a(href='general-widget.html')
                                            | General widget
                                    li
                                        a(href='chart-widget.html')
                                            | Chart widget

                                    li.iconbar-header.sub-header starter-kit
                                    li
                                        a(href='../starter-kit/index.html')
                                            | starter-kit   
                                            
                                            
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-portfolio
                                    span UI Kits
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Ui Elements
                                    li
                                        a(href='state-color.html')
                                            | State color
                                    li
                                        a(href='typography.html')
                                            | Typography
                                    li
                                        a(href='buttons.html')
                                            | Buttons        
                                    li
                                        a(href='avatars.html')
                                            | Avatars
                                    li
                                        a(href='helper-classes.html')
                                            | helper classes
                                    li
                                        a(href='grid.html')
                                            | Grid
                                    li
                                        a(href='tag-pills.html')
                                            | Tag & pills
                                    li
                                        a(href='progress-bar.html')
                                            | Progress
                                    li
                                        a(href='modal.html')
                                            | Modal
                                    li
                                        a(href='alert.html')
                                            | Alert
                                    li
                                        a(href='popover.html')
                                            | Popover
                                    li
                                        a(href='tooltip.html')
                                            | Tooltip
                                    li
                                        a(href='loader.html')
                                            | Spinners
                                    li
                                        a(href='dropdown.html')
                                            | Dropdown
                                    li
                                        a(href='tab-bootstrap.html')
                                            | Bootstrap Tabs
                                    li
                                        a(href='tab-material.html')
                                            | Line Tabs
                                    li
                                        a(href='according.html')
                                            | Accordion
                                    li
                                        a(href='navs.html')
                                            | Navs
                                    li
                                        a(href='list.html')
                                            | Lists
                                    li
                                        a(href='scrollable.html')
                                            | Scrollable
                                    li
                                        a(href='tree.html')
                                            | Tree view
                                    li
                                        a(href='bootstrap-notify.html')
                                            | Bootstrap Notify
                                    li
                                        a(href='rating.html')
                                            | Rating
                                    li
                                        a(href='dropzone.html')
                                            | dropzone
                                    li
                                        a(href='tour.html')
                                            | Tour
                                    li
                                        a(href='sweet-alert2.html')
                                            | SweetAlert2
                                    li
                                        a(href='modal-animated.html')
                                            | Animated Modal
                                    li
                                        a(href='owl-carousel.html')
                                            | Owl Carousel
                                    li
                                        a(href='ribbons.html')
                                            | Ribbons
                                    li
                                        a(href='pagination.html')
                                            | Pagination
                                    li
                                        a(href='steps.html')
                                            | Steps
                                    li
                                        a(href='breadcrumb.html')
                                            | Breadcrumb
                                    li
                                        a(href='range-slider.html')
                                            | Range Slider
                                    li
                                        a(href='image-cropper.html')
                                            | Image cropper
                                    li
                                        a(href='sticky.html')
                                            | Sticky
                                    li.iconbar-header.sub-header Icons
                                    li
                                        a(href='flag-icon.html')
                                            | Flag icon
                                    li
                                        a(href='font-awesome.html')
                                            | Fontawesome Icon
                                    li
                                        a(href='ico-icon.html')
                                            | Ico Icon
                                    li
                                        a(href='themify-icon.html')
                                            | Thimify Icon
                                    li
                                        a(href='feather-icon.html')
                                            | Feather icon
                                    li
                                        a(href='whether-icon.html')
                                            | Whether Icon
                                    li
                                        a(href='simple-line-icon.html')
                                            | Simple line Icon
                                    li
                                        a(href='material-design-icon.html')
                                            | Material Design Icon
                                    li
                                        a(href='pe7-icon.html')
                                            | pe7 icon
                                    li
                                        a(href='typicons-icon.html')
                                            | Typicons icon
                                    li
                                        a(href='ionic-icon.html')
                                            | Ionic icon

                            li
                                span.badge.badge-pill.badge-danger Hot
                                a.bar-icons(href='#')
                                    i.pe-7s-diamond
                                    span Perk UI
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Animation
                                    li
                                        a(href='animate.html')
                                            | Animate
                                    li
                                        a(href='scroll-reval.html')
                                            | Scroll Reveal
                                    li
                                        a(href='AOS.html')
                                            | AOS animation
                                    li
                                        a(href='tilt.html')
                                            | Tilt Animation
                                    li
                                        a(href='wow.html')
                                            | Wow Animation
                                   
                                    li.iconbar-header.sub-header Menu Options
                                    li
                                        a(href='hide-on-scroll.html')
                                            | Hide menu on Scroll
                                    li
                                        a(href='vertical.html')
                                            | Vertical Menu
                                    li
                                        a(href='mega-menu.html')
                                            | Mega Menu
                                    li
                                        a(href='fix-header.html')
                                            | Fix header
                                    li
                                        a(href='fix-header&sidebar.html')
                                            | Fix Header & sidebar
                                    
                                    li.iconbar-header.sub-header Cards
                                    li
                                        a(href='basic-card.html')
                                            | Basic Card
                                    li
                                        a(href='theme-card.html')
                                            | Theme Card
                                    li
                                        a(href='tabbed-card.html')
                                            | Tabbed Card
                                    li
                                        a(href='dragable-card.html')
                                            | Draggable Card
                                    li.iconbar-header.sub-header Builders
                                    li 
                                        a(href='button-builder.html')
                                            | Button Builder
                                    li
                                        a(href='form-builder-1.html')
                                            | Form Builder
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-note2
                                    span Forms
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Form Controls
                                    li
                                        a(href='form-validation.html')
                                            | Form Validation
                                    li
                                        a(href='base-input.html')
                                            | Base Inputs
                                    li
                                        a(href='radio-checkbox-control.html')
                                            | Checkbox & Radio
                                    li
                                        a(href='input-group.html')
                                            | Input Groups
                                    li
                                        a(href='megaoptions.html')
                                            | Mega Options
                                    li.iconbar-header.sub-header Form Widgets
                                    li
                                        a(href='datepicker.html')
                                            | Datepicker
                                    li
                                        a(href='time-picker.html')
                                            | Timepicker
                                    li
                                        a(href='datetimepicker.html')
                                            | Datetimepicker
                                    li
                                        a(href='daterangepicker.html')
                                            | Daterangepicker
                                    li
                                        a(href='touchspin.html')
                                            | Touchspin
                                    li
                                        a(href='select2.html')
                                            | Select2
                                    li
                                        a(href='switch.html')
                                            | Switch
                                    li
                                        a(href='typeahead.html')
                                            | Typeahead
                                    li
                                        a(href='clipboard.html')
                                            | Clipboard
                                    li.iconbar-header.sub-header Form Layout
                                    li
                                        a(href='default-form.html')
                                            | Default Forms
                                    li
                                        a(href='form-wizard.html')
                                            | Form Wizard 1
                                    li
                                        a(href='form-wizard-two.html')
                                            | Form Wizard 2
                                    li
                                        a(href='form-wizard-three.html')
                                            | Form Wizard 3
                                    li
                                        a(href='form-wizard-four.html')
                                            | Form Wizard 4
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-id
                                    span Tables
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Bootstrap Tables
                                    li
                                        a(href='bootstrap-basic-table.html')
                                            | Basic Tables
                                    li
                                       a(href='bootstrap-sizing-table.html')
                                            | Sizing Tables
                                    li
                                        a(href='bootstrap-border-table.html')
                                            | Border Tables
                                    li
                                        a(href='bootstrap-styling-table.html')
                                            | Styling Tables
                                    li
                                        a(href='table-components.html')
                                            | Table components
                                    li.iconbar-header.sub-header Data Tables
                                    li
                                        a(href='datatable-basic-init.html')
                                            | Basic Init
                                    li
                                        a(href='datatable-advance.html')
                                            | Advance Init
                                    li
                                        a(href='datatable-styling.html')
                                            | Styling
                                    li
                                        a(href='datatable-AJAX.html')
                                            | AJAX
                                    li
                                        a(href='datatable-server-side.html')
                                            | Server Side
                                    li
                                        a(href='datatable-plugin.html')
                                            | Plug-in
                                    li
                                        a(href='datatable-API.html')
                                            | API
                                    li
                                        a(href='datatable-data-source.html')
                                            | Data Sources
                                    li.iconbar-header.sub-header Extension Data Tables
                                    li
                                        a(href='datatable-ext-autofill.html')
                                            | Auto Fill
                                    li
                                        a(href='datatable-ext-basic-button.html')
                                            | Basic Button
                                    li
                                        a(href='datatable-ext-col-reorder.html')
                                            | Column Reorder
                                    li
                                        a(href='datatable-ext-fixed-header.html')
                                            | Fixed Header
                                    li
                                        a(href='datatable-ext-html-5-data-export.html')
                                            | HTML 5 Export
                                    li
                                        a(href='datatable-ext-key-table.html')
                                            | Key Table
                                    li
                                        a(href='datatable-ext-responsive.html')
                                            | Responsive
                                    li
                                        a(href='datatable-ext-row-reorder.html')
                                            | Row Reorder
                                    li
                                        a(href='datatable-ext-scroller.html')
                                            | Scroller
                                    li
                                        a(href='jsgrid-table.html')
                                            | Js Grid Table
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-graph3
                                    span Charts
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Charts
                                    li
                                        a(href='chart-apex.html')
                                            | Apex Chart
                                    li
                                        a(href='chart-google.html')
                                            | Google Chart
                                    li
                                        a(href='chart-sparkline.html')
                                            | sparkline chart
                                    li
                                        a(href='chart-flot.html')
                                            | Flot Chart
                                    li
                                        a(href='chart-radial.html')
                                            | Radial Chart
                                    li
                                        a(href='chart-knob.html')
                                            | Knob Chart
                                    li
                                        a(href='chart-morris.html')
                                            | Morris Chart
                                    li
                                        a(href='chartjs.html')
                                            | chatjs Chart
                                    li
                                        a(href='chartist.html')
                                            | chartist Chart
                                    li
                                        a(href='chart-peity.html')
                                            | Peity Chart
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-server
                                    span Apps

                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Ecommerce
                                    li
                                        a(href='product.html')
                                            | Product
                                    li
                                        a(href='product-page.html')
                                            | Product page
                                    li
                                        a(href='list-products.html')
                                            | Product list
                                    li
                                        a(href='payment-details.html')
                                            | Payment Details
                                    li
                                        a(href='order-history.html')
                                            | Order History
                                    li
                                        a(href='invoice-template.html')
                                            | Invoice
                                    li
                                        a(href='pricing.html') Pricing
                                    li.iconbar-header.sub-header  Blog
                                    li
                                        a(href='blog.html')
                                            | Blog Details
                                    li
                                        a(href='blog-single.html')
                                            | Blog Single
                                    li
                                        a(href='add-post.html')
                                            | Add Post
                                    li.iconbar-header.sub-header Timeline
                                    li
                                        a(href='timeline-v-1.html')
                                            | Timeline 1
                                    li
                                        a(href='timeline-v-2.html')
                                            | Timeline 2
                                    li
                                        a(href='timeline-small.html')
                                            | Timeline 3
                                    li.iconbar-header.sub-header  Gallery
                                    li
                                        a(href='gallery.html')
                                            | Gallery Grid
                                    li
                                        a(href='gallery-with-description.html')
                                            | Gallery Grid with Desc
                                    li
                                        a(href='gallery-masonry.html')
                                            | Masonry Gallery
                                    li
                                        a(href='masonry-gallery-with-disc.html')
                                            | Masonry Gallery Desc
                                    li
                                        a(href='gallery-hover.html')
                                            | Hover Effects
                                    li.iconbar-header.sub-header Job Search
                                    li
                                        a(href='job-cards-view.html')
                                            | Cards view
                                    li
                                        a(href='job-list-view.html')
                                            | List View
                                    li
                                        a(href='job-details.html')
                                            | Job Details
                                    li
                                        a(href='job-apply.html')
                                            | Apply
                                    li.iconbar-header.sub-header Learning
                                    li
                                        a(href='learning-list-view.html')
                                            | Learning List
                                    li
                                        a(href='learning-detailed.html')
                                            | Detailed Course                
                            li
                                span.badge.badge-pill.badge-primary New
                                a.bar-icons(href='#')
                                    i.pe-7s-gift
                                    span Apps
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header User
                                    li
                                        a(href='user-profile.html')
                                            | Users Profile
                                    li
                                        a(href='edit-profile.html')
                                            | Users Edit
                                    li
                                        a(href='user-cards.html')
                                            | Users Cards
                                    li
                                        a(href='email-application.html')
                                            | Email App
                                    li
                                        a(href='email-compose.html')
                                            | Email Compose
                                    li
                                        a(href='chat.html')
                                            | Chat App
                                    li
                                        a(href='chat-video.html')
                                            | Video chat
                                    li
                                        a(href='calendar.html')
                                            | Full Calender Basic
                                    li
                                        a(href='calendar-event.html')
                                            | Full Calender Events
                                    li
                                        a(href='calendar-advanced.html')
                                            | Full Calender Advance
                                    li 
                                        a(href='social-app.html') Social App
                                    li
                                        a(href='to-do.html') To-Do
                                    li.iconbar-header.sub-header Editors
                                    li
                                        a(href='summernote.html')
                                            | Summer Note
                                    li
                                        a(href='ckeditor.html')
                                            | CK editor
                                    li
                                        a(href='simple-MDE.html')
                                            | MDE editor
                                    li
                                        a(href='ace-code-editor.html')
                                            | ACE code editor
                                    li.iconbar-header.sub-header Others
                                    li
                                        a(href='landing-page.html') Landing page
                                    li
                                        a(href='faq.html') FAQ
                                    li
                                        a(href='knowledgebase.html') Knowledgebase
                                    li
                                        a(href='internationalization.html') Internationalization
                                    li.iconbar-header.sub-header Maps
                                    li
                                        a(href='map-js.html')
                                            | Maps JS
                                    li
                                        a(href='vector-map.html')
                                            | Vector Maps           
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-copy-file
                                    span Pages
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header All Pages
                                    li
                                        a(href='sample-page.html') Sample page
                                    li
                                        a(href='support-ticket.html') Support Ticket
                                    li
                                        a(href='search.html')
                                            | Search Website
                                    li
                                        a(href='error-400.html')
                                            | Error 400
                                    li
                                        a(href='error-404.html')
                                            | Error 404
                                    li
                                        a(href='error-500.html')
                                            | Error 500
                                    li
                                        a(href='maintenance.html') Maintenance
                                    li
                                        a(href='login.html')
                                            | Login Simple
                                    li
                                        a(href='signup.html')
                                            | Register Simple
                                    li
                                        a(href='forget-password.html')
                                            | Forget Password
                                    li
                                        a(href='comingsoon.html')
                                            | Coming Simple
                                    li
                                        a(href='comingsoon-bg-video.html')
                                            | Coming with Bg video
                                    li
                                        a(href='comingsoon-bg-img.html')
                                            | Coming with Bg Image               

// Page Sidebar Ends
