// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '')
.page-sidebar(class=status)

                    .main-header-left.d-none.d-lg-block
                        .logo-wrapper
                            a(href='index.html')
                                img(src='../assets/images/logo/compact-logo.png', alt='')
                    div.sidebar.custom-scrollbar
                        .sidebar-user.text-center
                            div
                                img.img-60.rounded-circle(src='../assets/images/user/1.jpg', alt='#')
                                .profile-edit
                                    a(href='edit-profile.html', target='_blank')
                                        i(data-feather='edit')
                            h6.mt-3.f-14 ELANA
                            p general manager.
                        ul.sidebar-menu
                            li.active
                                a.sidebar-header(href='#')
                                    i(data-feather='home')
                                    span Dashboard
                                    span.badge.badge-pill.badge-primary 6
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a.active(href='index.html')
                                            i.fa.fa-circle
                                            | Default
                                    li
                                        a(href='dashboard-Crypto.html')
                                            i.fa.fa-circle
                                            | Crypto
                                    li
                                        a(href='dashboard-Ecommerce.html')
                                            i.fa.fa-circle
                                            | Ecommerce
                            li
                                a.sidebar-header(href='../starter-kit/index.html')
                                    i(data-feather='anchor')
                                    span  Starter kit
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='disc')
                                    span Color Version
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='index.html')
                                            i.fa.fa-circle
                                            | Layout Light
                                    li
                                        a(href='layout-dark.html')
                                            i.fa.fa-circle
                                            | Layout Dark
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='sidebar')
                                    span Sidebar
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='light-nav.html')
                                            i.fa.fa-circle
                                            | Light Sidebar
                                    li
                                        a(href='compact.html')
                                            i.fa.fa-circle
                                            | Compact Sidebar
                                    li
                                        a(href='compact-small.html')
                                            i.fa.fa-circle
                                            | Compact Icon Sidebar
                                    li
                                        a(href='dark-nav.html')
                                            i.fa.fa-circle
                                            | Dark Sidebar
                                    li
                                        a(href='sidebar-hidden.html')
                                            i.fa.fa-circle
                                            | Sidebar Hidden
                                    li
                                        a(href='sidebar-fixed.html')
                                            i.fa.fa-circle
                                            | Sidebar Fixed
                                    li
                                        a(href='image-sidebar.html')
                                            i.fa.fa-circle
                                            | Sidebar With Image
                                    li
                                        a.disabled(href='')
                                            i.fa.fa-circle
                                            | Disable
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='layout')
                                    span Page layout
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='box-layout.html')
                                            i.fa.fa-circle
                                            | Boxed
                                    li
                                        a(href='layout-rtl.html')
                                            i.fa.fa-circle
                                            | RTL
                                    li
                                        a(href='1-column.html')
                                            i.fa.fa-circle
                                            | 1 Column
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='align-justify')
                                    span Menu Options
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='vertical.html')
                                            i.fa.fa-circle
                                            | Vertical Menu
                                    li
                                        a(href='mega-menu.html')
                                            i.fa.fa-circle
                                            | Mega Menu
                                    li
                                        a(href='fix-header.html')
                                            i.fa.fa-circle
                                            | Fix header
                                    li
                                        a(href='fix-header&sidebar.html')
                                            i.fa.fa-circle
                                            | Fix Header & sidebar
                            li
                                a.sidebar-header(href='#')
                                    i(data-feather='cloud-lightning')
                                    span Footers
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li
                                        a(href='footer-light.html')
                                            i.fa.fa-circle
                                            | Footer Light
                                    li
                                        a(href='footer-dark.html')
                                            i.fa.fa-circle
                                            | Footer Dark
                                    li
                                        a(href='footer-fixed.html')
                                            i.fa.fa-circle
                                            | Footer Fixed

// Page Sidebar Ends
