// Page Sidebar Start
- var status = (sidebar_open ? 'open' : (sidebar_image ? 'native-image-bg' : ''));

.iconsidebar-menu(class=status)

                    div.sidebar
                        ul.iconMenu-bar.custom-scrollbar
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-home
                                    span Home    
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Dashboard
                                    li
                                        a(href='../ltr/index.html')
                                            | Default
                                    li
                                       a(href='../ltr/dashboard-crypto.html')
                                            | Crypto
                                    li
                                        a(href='../ltr/dashboard-ecommerce.html')
                                            | Ecommerce
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-edit
                                    span Starter kit
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header.sub-header Color version
                                    li
                                        a(href='index.html')
                                            | Layout light
                                    li
                                        a(href='layout-dark.html')
                                            | layout dark
                                    li.iconbar-header.sub-header Sidebar
                                    li
                                        a(href='sidebar-fixed.html')
                                            | Sidebar fixed
                                    li
                                        a.disabled(href='', onclick='return false;')
                                            | Disable
                                    li.iconbar-header.sub-header Page layout
                                    li
                                        a(href='boxed.html')
                                            | Boxed
                                    li
                                        a(href='layout-rtl.html')
                                            | RTL
                                    li.iconbar-header.sub-header Menu options
                                    li
                                        a(href='vertical.html')
                                            | Vertical Menu
                                    li
                                        a(href='mega-menu.html')
                                            | Mega Menu
                                    li
                                        a(href='fix-header.html')
                                            | Fix Header
                                    li
                                        a(href='fix-header-sidebar.html')
                                            | Fix Header & Sidebar
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-note2
                                    span Support
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Ticket
                                    li
                                        a(href='http://support.pixelstrap.com/help-center')
                                            | Raise Ticket    
                          
                            li
                                a.bar-icons(href='#')
                                    i.pe-7s-news-paper
                                    span Other
                                ul.iconbar-mainmenu.custom-scrollbar
                                    li.iconbar-header Other
                                    li
                                        a(href='../document/index.html')
                                            | Document
                                    li
                                        a(href='../document/review.html')
                                            | Review
                                    li
                                        a(href='../document/change-log.html')
                                            | Change-log                    
                                            

// Page Sidebar Ends
