// vertical menu start
.vertical-menu-main
  nav#main-nav
    // Sample menu definition
    ul#main-menu.sm.pixelstrap
      li
        .text-right.mobile-back
          | Back
          i.fa.fa-angle-right.pl-2(aria-hidden='true')
      li
        a(href='#')
          i.font-primary(data-feather='home')
          |  Dashboard
        ul
          li
            a(href='index.html') Default
          li
            a(href='dashboard-crypto.html')
              | Crypto
          li
            a(href='dashboard-Ecommerce.html')
              | Ecommerce
      li
        a(href='#')
          i.font-primary(data-feather='airplay')
          |  Widgets
        ul
          li
            a(href='general-widget.html') General
          li
            a(href='chart-widget.html') Chart
      li
        a.sidebar-header(href='../starter-kit/index.html')
          i.font-primary(data-feather='anchor')
          span  Starter kit
      li
        a(href='#')
          i.font-primary(data-feather='layout')
          |  Layouts
        ul
          li
            a(href='#') Color Version
            ul
              li
                a(href='index.html') Layout Light
              li
                a(href='layout-dark.html') Layout Dark
          li
            a(href='#') Sidebar
            ul
              li
                a(href='compact.html') Compact Sidebar
              li
                a(href='sidebar-hidden.html') Sidebar Hidden
              li
                a(href='sidebar-fixed.html') Sidebar Fixed
              li
                a.disabled(href='') Disable
          li
            a(href='#') Page Layout
            ul
              li
                a(href='box-layout.html') Boxed
              li
                a(href='layout-rtl.html') RTL
              li
                a(href='1-column.html') 1 Column
          li.active
            a(href='#') Menu Options
            ul
              li
                a(href='hide-on-scroll.html') Hide menu on Scroll
              li
                a.current(href='vertical.html') Vertical Menu
              li
                a(href='mega-menu.html') Mega Menu
              li
                a(href='fix-header.html') Fix header
          li
            a(href='#') Footers
            ul
              li
                a(href='footer-light.html') Footer Light
              li
                a(href='footer-dark.html') Footer Dark
              li
                a(href='footer-fixed.html') Footer Fixed
      li
        a(href='#')
          i.font-primary(data-feather='edit')
          |  Builder
        ul
          li
            a(href='pagebuild.html') Page Builder
          li
            a(href='form-builder-1.html') Form Builder 1
          li
            a(href='form-builder-2.html') Form Builder 2
          li
            a(href='button-builder.html') Button Builder
      li
        a(href='#')
          i.font-primary(data-feather='folder')
          |  Components
        ul
          li
            a.sidebar-header(href='#')
              span  Base
            ul.sidebar-submenu
              li
                a(href='state-color.html') State color
              li
                a(href='typography.html') Typography
              li
                a(href='helper-classes.html') helper classes
              li
                a(href='grid.html') Grid
              li
                a(href='tag-pills.html') Tag & pills
              li
                a(href='progress-bar.html') Progress
              li
                a(href='modal.html') Modal
              li
                a(href='alert.html') Alert
              li
                a(href='popover.html') Popover
              li
                a(href='tooltip.html') Tooltip
              li
                a(href='loader.html') Spinners
              li
                a(href='dropdown.html') Dropdown
              li
                a(href='crm.html') Tabs
                ul.sidebar-submenu
                  li
                    a(href='tab-bootstrap.html') Bootstrap Tabs
                  li
                    a(href='tab-material.html') Line Tabs
              li
                a(href='according.html') According
              li
                a(href='navs.html') Navs
              li
                a(href='box-shadow.html') Shadow
              li
                a(href='list.html') Lists
          li
            a.sidebar-header(href='#')
              span  Advance
            ul.sidebar-submenu
              li
                a(href='scrollable.html') Scrollable
              li
                a(href='tree.html') Tree view
              li
                a(href='bootstrap-notify.html') Bootstrap Notify
              li
                a(href='rating.html') Rating
              li
                a(href='dropzone.html') dropzone
              li
                a(href='tour.html') Tour
              li
                a(href='sweet-alert2.html') SweetAlert2
              li
                a(href='modal-animated.html') Animated Modal
              li
                a(href='owl-carousel.html') Owl Carousel
              li
                a(href='ribbons.html') Ribbons
              li
                a(href='pagination.html') Pagination
              li
                a(href='steps.html') Steps
              li
                a(href='breadcrumb.html') Breadcrumb
              li
                a(href='range-slider.html') Range Slider
              li
                a(href='image-cropper.html') Image cropper
              li
                a(href='sticky.html') Sticky
          li
            a.sidebar-header(href='#')
              span Animation
            ul.sidebar-submenu
              li
                a(href='animate.html') Animate
              li
                a(href='scroll-reval.html') Scroll Reveal
              li
                a(href='AOS.html') AOS animation
              li
                a(href='tilt.html') Tilt Animation
              li
                a(href='wow.html') Wow Animation
          li
            a.sidebar-header(href='#')
              span Icons
            ul.sidebar-submenu
              li
                a(href='flag-icon.html') Flag icon
              li
                a(href='font-awesome.html') Fontawesome Icon
              li
                a(href='ico-icon.html') Ico Icon
              li
                a(href='themify-icon.html') Thimify Icon
              li
                a(href='whether-icon.html') Whether Icon
          li
            a.sidebar-header(href='#')
              span Buttons
            ul.sidebar-submenu
              li
                a(href='buttons.html') Default Style
              li
                a(href='buttons-flat.html') Flat Style 
              li
                a(href='buttons-edge.html') Edge Style 
              li
                a(href='raised-button.html') Raised Style
              li
                a(href='button-group.html') Button Group
          li
            a.sidebar-header(href='#')
              span Forms
            ul.sidebar-submenu
              li
                a(href='flag-icon.html') Form Controls
                ul.sidebar-submenu
                  li
                    a(href='form-validation.html') Form Validation
                  li
                    a(href='base-input.html') Base Inputs
                  li
                    a(href='radio-checkbox-control.html') Checkbox & Radio
                  li
                    a(href='input-group.html') Input Groups
                  li
                    a(href='megaoptions.html') Mega Options
              li
                a(href='font-awesome.html') Form Widgets
                ul.sidebar-submenu
                  li
                    a(href='datepicker.html') Datepicker
                  li
                    a(href='time-picker.html') Timepicker
                  li
                    a(href='datetimepicker.html') Datetimepicker 
                  li
                    a(href='daterangepicker.html') Daterangepicker 
                  li
                    a(href='touchspin.html') Touchspin
                  li
                    a(href='select2.html') Select2
                  li
                    a(href='switch.html') Switch
                  li
                    a(href='typeahead.html') Typeahead
                  li
                    a(href='clipboard.html') Clipboard
              li
                a(href='font-awesome.html') Form Layout
                ul.sidebar-submenu
                  li
                    a(href='default-form.html') Default Forms
                  li
                    a(href='form-wizard.html') Form Wizard 1
                  li
                    a(href='form-wizard-two.html') Form Wizard 2
                  li
                    a(href='form-wizard-three.html') Form Wizard 3
                  li
                    a(href='form-wizard-four.html') Form Wizard 4
          li
            a.sidebar-header(href='#')
              span Tables
            ul.sidebar-submenu
              li
                a(href='#') Bootstrap Tables
                ul.sidebar-submenu
                  li
                    a(href='bootstrap-basic-table.html') Basic Tables
                  li
                    a(href='bootstrap-sizing-table.html') Sizing Tables
                  li
                    a(href='bootstrap-border-table.html') Border Tables
                  li
                    a(href='bootstrap-styling-table.html') Styling Tables
                  li
                    a(href='table-components.html') Table components
              li
                a(href='#') Data Tables
                ul.sidebar-submenu
                  li
                    a(href='datatable-basic-init.html') Basic Init
                  li
                    a(href='datatable-advance.html') Advance Init
                  li
                    a(href='datatable-styling.html') Styling
                  li
                    a(href='datatable-AJAX.html') AJAX
                  li
                    a(href='datatable-server-side.html') Server Side
                  li
                    a(href='datatable-plugin.html') Plug-in
                  li
                    a(href='datatable-API.html') API
                  li
                    a(href='datatable-data-source.html') Data Sources
              li
                a(href='#') Extension Data Tables
                ul.sidebar-submenu
                  li
                    a(href='datatable-ext-autofill.html') Auto Fill
                  li
                    a(href='datatable-ext-basic-button.html') Basic Button
                  li
                    a(href='datatable-ext-col-reorder.html') Column Reorder
                  li
                    a(href='datatable-ext-fixed-header.html') Fixed Header
                  li
                    a(href='datatable-ext-html-5-data-export.html') HTML 5 Export
                  li
                    a(href='datatable-ext-key-table.html') Key Table
                  li
                    a(href='datatable-ext-responsive.html') Responsive
                  li
                    a(href='datatable-ext-row-reorder.html') Row Reorder
                  li
                    a(href='datatable-ext-scroller.html') Scroller
              li
                a(href='../default/jsgrid-table.html') Js Grid Tables
          li
            a.sidebar-header(href='#')
              span Cards
            ul.sidebar-submenu
              li
                a(href='basic-card.html') Basic Card
              li
                a(href='creative-card.html') Creative Card 
              li
                a(href='tabbed-card.html') Tabbed Card
              li
                a(href='dragable-card.html') Draggable Card
          li
            a.sidebar-header(href='#')
              span Charts
            ul.sidebar-submenu
              li
                a(href='chart-google.html') Google Chart
              li
                a(href='chart-sparkline.html') sparkline chart
              li
                a(href='chart-flot.html') Flot Chart
              li
                a(href='chart-radial.html') Radial Chart
              li
                a(href='chart-morris.html') Morris Chart
              li
                a(href='chartjs.html') chatjs Chart
              li
                a(href='chartist.html') chatjs Chart
          li
            a.sidebar-header(href='#')
              span Maps
            ul.sidebar-submenu
              li
                a(href='map-js.html') Map Js
              li
                a(href='vector-map.html') Vector Maps
          li
            a.sidebar-header(href='#')
              span Editors
            ul.sidebar-submenu
              li
                a(href='summernote.html') Summer Note
              li
                a(href='ckeditor.html') CK editor
              li
                a(href='simple-MDE.html') MDE editor
              li
                a(href='ace-code-editor.html') ACE code editor
      li
        a(href='#')
          i.font-primary(data-feather='briefcase')
          |  Apps
        ul
          li
            a.sidebar-header(href='#')
              span Users
            ul.sidebar-submenu
              li
                a(href='user-profile.html') Users Profile
              li
                a(href='edit-profile.html') Users Edit
              li
                a(href='user-cards.html') Users Cards
          li
            a.sidebar-header(href='#')
              span Calender
            ul.sidebar-submenu
              li
                a(href='calendar.html') Full Calender Basic
              li
                a(href='calendar-event.html') Full Calender Events 
              li
                a(href='calendar-advanced.html') Full Calender Advance 
          li
            a.sidebar-header(href='#')
              span Gallery
            ul.sidebar-submenu
              li
                a(href='gallery.html') Gallery Grid
              li
                a(href='gallery-with-description.html') Gallery Grid with Desc
              li
                a(href='gallery-masonry.html') Masonry Gallery
              li
                a(href='masonry-gallery-with-disc.html') Masonry Gallery Desc
              li
                a(href='gallery-hover.html') Hover Effects
          li
            a.sidebar-header(href='#')
              span Email
            ul.sidebar-submenu
              li
                a(href='email-application.html') Email App
              li
                a(href='email-compose.html') Email Compose
          li
            a.sidebar-header(href='#')
              span  Blog
            ul.sidebar-submenu
              li
                a(href='blog.html') Blog Details
              li
                a(href='blog-single.html') Blog Single
          li
            a.sidebar-header(href='#')
              span chat
            ul.sidebar-submenu
              li
                a(href='chat.html') Chat App
              li
                a(href='chat-video.html') Video chat              
          li
            a.sidebar-header(href='support-ticket.html')
              span Support Ticket
          li
            a.sidebar-header(href='to-do.html')
              span To-Do
          li
            a.sidebar-header(href='../index.html')
              span Landing page
          li
            a.sidebar-header(href='#')
              span Ecommerce
            ul.sidebar-submenu
              li
                a(href='product.html') Product
              li
                a(href='product-page.html') Product page
              li
                a(href='product-list.html') Product list
              li
                a(href='payment-details.html') Payment Details
              li
                a(href='invoice-template.html') Invoice
          li
            a.sidebar-header(href='pricing.html')
              span  Pricing
      li
        a(href='#')
          i.font-primary(data-feather='file-plus')
          |  Pages
        ul
          li
            a.sidebar-header(href='sample-page.html')
              span  Sample page
          li
            a.sidebar-header(href='#')
              span Search Pages
            ul.sidebar-submenu
              li
                a(href='search.html') Search Website
              li
                a(href='search-images.html') Search Images
              li
                a(href='search-video.html') Search Video
          li
            a.sidebar-header(href='#')
              span  Error Page
            ul.sidebar-submenu
              li
                a(href='error-400.html') Error 400
              li
                a(href='error-401.html') Error 401
              li
                a(href='error-403.html') Error 403
              li
                a(href='error-404.html') Error 404
              li
                a(href='error-500.html') Error 500
              li
                a(href='error-503.html') Error 503
          li
            a.sidebar-header(href='#')
              span  Authentication
            ul.sidebar-submenu
              li
                a(href='login.html') Login Simple
              li
                a(href='login-image.html') Login with Bg Image 
              li
                a(href='login-video.html') Login with Bg video
              li
                a(href='signup.html') Register Simple 
              li
                a(href='signup-image.html') Register with Bg Image 
              li
                a(href='signup-video.html') Register with Bg video
              li
                a(href='unlock.html') Unlock User 
              li
                a(href='forget-password.html') Forget Password
              li
                a(href='reset-password.html') Reset Password
          li
            a.sidebar-header(href='#')
              span Coming Soon
            ul.sidebar-submenu
              li
                a(href='comingsoon.html') Coming Simple
              li
                a(href='comingsoon-bg-img.html') Coming with Bg video
              li
                a(href='comingsoon-bg-video.html') Coming with Bg Image 
          li
            a.sidebar-header(href='maintenance.html')
              span  Maintenance
      li
        a(href='#')
          i.font-primary(data-feather='command')
          | Mega menu
        ul.mega-menu
          li
            .card-body
              .row
                .col-xl-3.list-unstyled
                  div
                    p.title
                      | Builder [BS4+] 
                      span.badge.badge-success.ml-2 New
                  div
                    a(href='javascript:;')  Page Builder 
                  div
                    a(href='javascript:;')  Form Builder
                  div
                    a(href='javascript:;')  Button Builder 
                  .mt-3
                    p.title Accordion
                  div
                    #accordionoc.default-according.style-1
                      .card
                        div
                          h5.mb-0
                            button.btn.btn-link.p-2(data-toggle='collapse', data-target='#collapseicon', aria-expanded='true', aria-controls='collapseicon')
                              | Accordion 1
                        #collapseicon.collapse.show(data-parent='#accordionoc')
                          .card-body.p-2
                            | Anim pariatur cliche reprehenderit.
                      .card
                        div
                          h5.mb-0
                            button.btn.btn-link.text-muted.collapsed.p-1(data-toggle='collapse', data-target='#collapseicon1', aria-expanded='false', aria-controls='collapseicon1')
                              | Accordion 2
                        #collapseicon1.collapse(data-parent='#accordionoc')
                          .card-body.p-2
                            | Anim pariatur cliche reprehenderit.
                      .card
                        div
                          h5.mb-0
                            button.btn.btn-link.text-muted.collapsed.p-1(data-toggle='collapse', data-target='#collapseicon2', aria-expanded='false', aria-controls='collapseicon2')
                              | Accordion 3
                        #collapseicon2.collapse(data-parent='#accordionoc')
                          .card-body.p-2
                            | Anim pariatur cliche reprehenderit.
                .col-xl-2.list-unstyled.xs-mt
                  div
                    p.title Drill Down
                  .drilldown
                    .drilldown-container
                      .drilldown-root
                        div
                          a.font-primary.mt-0(href='#') First Level Menu
                        div
                          a.pl-0(href='#')
                            i.icon-support
                            |   Base 
                            span.float-right →
                          .drilldown-sub
                            .drilldown-back
                              a.font-primary.f-w-100(href='#')
                                span ←
                                |  Second Level Menu
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   State color
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Tabs 
                                span.float-right →
                              .drilldown-sub
                                .drilldown-back
                                  a.font-primary.f-w-100(href='#')
                                    span ←
                                    |  Third Level Menu
                                div
                                  a(href='#')
                                    i.fa.fa-angle-right
                                    |   Bootstrap Tabs
                                div
                                  a(href='#')
                                    i.fa.fa-angle-right
                                    |   Line Tabs
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Typography
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Progress
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Model
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Alert
                            div
                              a(href='#')
                                i.fa.fa-angle-right
                                |   Popover
                        div
                          a(href='#')
                            i.icon-dropbox
                            |   Advanced
                        div
                          a(href='#')
                            i.fa.fa-spin.fa-spinner
                            |   Animation
                        div
                          a(href='#')
                            i.icon-package
                            |   Icons
                        div
                          a(href='#')
                            i.icon-cloud-down
                            |   Buttons
                        div
                          a(href='#')
                            i.icon-notepad
                            |   Forms
                        div
                          a.mb-0(href='#')
                            i.icon-harddrives
                            |   Tables
                .col-xl-3.galleria-list.clearfix.lg-mt
                  div
                    p.title Galleria
                  div
                    .galleria.row
                      .col-6
                        a(href='javascript:void(0)')
                          img(src='../assets/images/slider/1.jpg', alt='')
                        h4.username.text-ellipsis
                          | Airi Satou
                          small Algerian
                      .col-6
                        a(href='javascript:void(0)')
                          img(src='../assets/images/slider/2.jpg', alt='')
                        h4.username.text-ellipsis
                          | Fiona Green
                          small Korean
                      .col-6.mb-0
                        a(href='javascript:void(0)')
                          img(src='../assets/images/slider/3.jpg', alt='')
                        h4.username.text-ellipsis.mb-0
                          | Gavin Joyce
                          small Indian
                      .col-6.mb-0
                        a(href='javascript:void(0)')
                          img(src='../assets/images/slider/4.jpg', alt='')
                        h4.username.text-ellipsis.mb-0
                          | Howard Hatfield
                          small Japanese
                .col-xl-4.list-unstyled.custom-nav-img.lg-mt
                  div
                    p.title Contact Form
                  div
                    form.theme-form
                      .form-group
                        label.col-form-label.pt-0
                          i.icon-user.pr-2
                          |                                                         Your Name
                        input.form-control(type='text', placeholder='Enter your name')
                      .form-group
                        label.col-form-label
                          i.icon-email.pr-2
                          | Your Email
                        input.form-control(type='email', placeholder='Enter your emailid')
                      .form-group
                        label.col-form-label
                          i.icon-comment.pr-2
                          | Your Message
                        textarea.form-control(placeholder='Enter your message', rows='2')
                      .form-group.mb-0
                        button.btn.btn-primary Send
// vertical menu ends